{% extends '@ibexadesign/user/role/base.html.twig' %}

{% form_theme form '@ibexadesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'role' %}

{% block header_admin %}
    {% set role_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.role_create.sidebar_right') %}

    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'role.creating'|trans|desc('Creating'),
        title: 'role.breadcrumb.add'|trans|desc('Creating a new Role'),
        context_actions: knp_menu_render(role_create_sidebar_right, {'template': '@ibexadesign/ui/menu/context_menu.html.twig'})
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}
        <section>
            <div class="card ibexa-card ibexa-card--light">
                <div class="card-body">
                    {{ form_row(form.identifier, {'attr': {'autofocus': 'autofocus'}}) }}
                </div>
            </div>
        </section>
        {{ form_widget(form.save, { 'attr': { 'hidden': 'hidden' } }) }}
    {{ form_end(form) }}
{% endblock %}
