{% extends "@ibexadesign/ui/layout.html.twig" %}

{% trans_default_domain 'ezplatform_url_management' %}

{% block body_class %}ibexa-url-management{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
            { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
            { value: 'url_management.breadcrumb.list'|trans|desc('URL Management') },
        ]} %}
    </div>
{% endblock %}

{% block header %}
    <div class="container">
        {% include '@ibexadesign/ui/page_title.html.twig' with {
            title: 'url_management.view.list.title'|trans|desc('URL Management'),
        } %}
    </div>
{% endblock %}

{% block content %}
    {{ ez_render_component_group('link-manager-block') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-url-management-js', null, 'ibexa') }}
{% endblock %}
