<li class="ibexa-popup-menu__item ibexa-main-menu__first-level-popup-menu-item">
    <button
        type="button"
        class="ibexa-popup-menu__item-content"
    >
        {{ label|default('{{ label }}') }}
    </button>
</li>
