{% macro renderFormField(formField) -%}
    {% if not formField.rendered %}
        {% if formField.value is defined %}
            {{- form_widget(formField) -}}
        {% else %}
            <div class="ibexa-field-edit ibexa-field-edit--eznoneditable">
                {{- form_label(formField) -}}
                <p class="non-editable">
                    {{ 'content.field.non_editable'|trans|desc('This Field Type is not editable') }}
                </p>
                {% do formField.setRendered() %}
            </div>
        {% endif %}
    {% endif %}
{%- endmacro -%}

{% macro renderFieldGroup(group, form) -%}
    {% for field in group %}
        {% set formField = form.fieldsData[field] %}

        {{ _self.renderFormField(formField) }}
    {% endfor %}
{%- endmacro -%}
