{% set name_cell_raw %}
    {% if content.contentInfo.mainLocationId is not null %}
        <a href="{{ path('ibexa.content.view', { 'contentId': content.id, 'locationId': content.contentInfo.mainLocationId } ) }}">
            {{ content.getName() }}
        </a>
    {% else %}
        {{ content.getName() }}
        {% if content.contentInfo.trashed %}
            <em>({{ 'content.in_trash'|trans(domain='content')|desc('In Trash') }})</em>
        {% endif %}
    {% endif %}
{% endset %}

{% include '@ibexadesign/ui/component/table/table_body_cell.html.twig' with { content: name_cell_raw, raw: true } %}
{% include '@ibexadesign/ui/component/table/table_body_cell.html.twig' with { content: contentType.getName() } %}
{% include '@ibexadesign/ui/component/table/table_body_cell.html.twig' with { content: content.versionInfo.creationDate|ibexa_short_datetime } %}
