{% import "@ibexadesign/content_type/macros.html.twig" as macros %}

{% trans_default_domain 'content_type' %}
{% set current_language = app.request.get('languageCode') ?: language_code %}

{% set global_properties_items = [
    {
        label: 'content_type.name'|trans|desc('Name'),
        content: content_type.names[current_language],
    },
    {
        label: 'content_type.identifier'|trans|desc('Identifier'),
        content: content_type.identifier,
    },
    {
        label: 'content_type.description'|trans|desc('Description'),
        content: content_type.descriptions[current_language]|default(''),
    },
    {
        label: 'content_type.name_schema'|trans|desc('Content name pattern'),
        content: content_type.nameSchema,
    },
    {
        label: 'content_type.url_alias_schema'|trans|desc('URL alias name pattern'),
        content: content_type.urlAliasSchema,
    },
    {
        label: 'content_type.container'|trans|desc('Container'),
        content: content_type.isContainer ? 'yes'|trans|desc('Yes') : 'no'|trans|desc('No'),
    },
    {
        label: 'content_type.default_children_sorting'|trans|desc('Sort children by default by:'),
        content: ('content_type.sort_field.' ~ content_type.defaultSortField)|trans(domain='content_type') ~ ' / ' ~ ('content_type.sort_order.' ~ content_type.defaultSortOrder)|trans(domain='content_type'),
    },
    {
        label: 'content_type.default_sort'|trans|desc('Sort children by default in order:'),
        content: ("content_type.sort_order." ~ content_type.defaultSortOrder)|trans(domain="content_type"),
    },
    {
        label: "content_type.default_availability"|trans|desc('Make content available even with missing translations'),
        content: content_type.defaultAlwaysAvailable ? 'content_type.default_availability.available'|trans|desc('Available') : 'content_type.default_availability.not_available'|trans|desc('Not available'),
    },
] %}
{% set global_properties_headline_items %}
    {% if languages|length > 1 %}
        <form class="form-inline justify-content-end mb-4">
            {% set choices = languages|map((language) => {
                value: path('ibexa.content_type.view', {
                    'contentTypeId': content_type.id,
                    'contentTypeGroupId': content_type_group.id,
                    'languageCode': language.languageCode,
                    '_fragment': constant('Ibexa\\AdminUi\\Tab\\ContentType\\ViewTab::URI_FRAGMENT'),
                }),
                label: language.name
            }) %}
            {% set value = '' %}

            {% for language in languages %}
                {% if current_language == language.languageCode %}
                    {% set value = path('ibexa.content_type.view', {
                        'contentTypeId': content_type.id,
                        'contentTypeGroupId': content_type_group.id,
                        'languageCode': language.languageCode,
                        '_fragment': constant('Ibexa\\AdminUi\\Tab\\ContentType\\ViewTab::URI_FRAGMENT'),
                    }) %}
                {% endif %}
            {% endfor %}

            {% set source %}
                <select class="form-control ibexa-input ibexa-location-language-change">
                    {% for choice in choices %}
                        <option
                            value="{{ choice.value }}"
                            {% if value == choice.value %}selected="selected"{% endif %}
                        >
                            {{ choice.label }}
                        </option>
                    {% endfor %}
                </select>
            {% endset %}

            {% include '@ibexadesign/ui/component/dropdown/dropdown.html.twig' with {
                source: source,
                choices: choices,
                value: value,
                is_small: true,
            } %}
        </form>
    {% endif %}
{% endset %}

{% include '@ibexadesign/ui/component/details/details.html.twig' with {
    headline: "content_type.global_properties"|trans|desc("Global properties"),
    headline_items: global_properties_headline_items,
    items: global_properties_items,
} only %}

<section class="ibexa-fieldgroup">
    <h2 class="ibexa-fieldgroup__name">{{ "content_type.content_field_definitions"|trans|desc("Content Field definitions") }}</h2>
    <div class="ibexa-fieldgroup__content">
        {% for group, field_definitions in field_definitions_by_group %}
            {% set body_rows = [] %}
            {% for field_definition in field_definitions %}
                {% set body_rows = body_rows|merge([{
                    cols: [
                        { content: field_definition.names[current_language] },
                        { content: field_definition.identifier },
                        { content: field_definition.fieldTypeIdentifier },
                    ]
                }]) %}
            {% endfor %}

            {% include '@ibexadesign/ui/component/table/table.html.twig' with {
                headline: group|capitalize,
                head_cols: [
                    { content: 'Name', class: 'ibexa-table__head-cell--field-definitions-head' },
                    { content: 'Identifier', class: 'ibexa-table__head-cell--field-definitions-head' },
                    { content: 'Type', class: 'ibexa-table__head-cell--field-definitions-head' },
                ],
                body_rows,
            } %}
        {% endfor %}
    </div>
</section>
