{% extends '@ibexadesign/limitation/limitation_values.html.twig' %}

{% block ibexa_limitation_subtree_value %}
    {% for path in values %}
        {% for value in path %}
            <a href="{{ path('ibexa.content.view', {'contentId': value.id, 'locationId': value.mainLocationId}) }}" >{{ value.name }}</a>
            {% if not loop.last %} / {% endif %}
        {% endfor %}
        {% if not loop.last %}, {% endif %}
    {% endfor %}
{% endblock %}
