@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

@mixin c-filters-row($titleSubclass) {
    padding: calculateRem(4px) calculateRem(24px);

    &#{$titleSubclass} {
        position: relative;
        font-size: $ibexa-text-font-size-medium;
        font-weight: 600;
        min-height: calculateRem(40px);
        display: flex;
        align-items: center;
    }
}
