@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.c-taggify {
    &__adding-area {
        display: flex;
        flex-wrap: wrap;
        gap: calculateRem(4px);
        width: 100%;
        min-height: calculateRem(100px);
        padding: calculateRem(8px);
        font-size: $ibexa-text-font-size-medium;
        color: var(--ibexa-input-text-color, var(--ibexa-text-color, $ibexa-color-dark));
        line-height: calculateRem(21px);
        border: calculateRem(1px) solid var(--ibexa-input-border-color, $ibexa-color-dark-200);
        border-radius: calculateRem(8px);
    }

    &__inputs {
        flex: 1 1 auto;
        order: 2;
        margin: calculateRem(2px);
    }

    &__tags {
        order: 1;
        display: flex;
        flex-wrap: wrap;
    }

    &__new-tag-input {
        display: block;
        width: 100%;
        height: calculateRem(24px);
        border: 0 none;
        outline: none;
        background: transparent;
    }

    &__bottom-hint {
        display: flex;
        gap: calculateRem(4px);
        height: calculateRem(18px);
        margin-top: calculateRem(6px);
        align-items: center;
        font-size: $ibexa-text-font-size-small;
        color: $ibexa-color-dark-400;

        .ibexa-icon {
            fill: $ibexa-color-dark-400;
        }
    }

    .ibexa-tag {
        margin: calculateRem(2px);
    }
}
