@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.c-thumbnail {
    position: relative;
    line-height: 1;

    &__icon-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: calculateRem(30px);
        height: calculateRem(30px);
        background: $ibexa-color-white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
