{% trans_default_domain 'ibexa_locationview' %}

<div class="ibexa-add-to-bookmarks {{ location_is_bookmarked ? 'ibexa-add-to-bookmarks--checked'}}" data-location-id="{{ location.id }}">
    <twig:ibexa:button
        html_type="button"
        type="tertiary-alt"
        icon="bookmark-outline"
        icon_size="medium"
        icon_only="true"
        class="ibexa-add-to-bookmarks__icon-wrapper ibexa-add-to-bookmarks__icon-wrapper--add"
        title="{{ 'location.bookmark.add'|trans|desc('Add to bookmarks') }}"
    />
    <twig:ibexa:button
        html_type="button"
        type="tertiary-alt"
        icon="bookmark-filled"
        icon_size="medium"
        icon_only="true"
        class="ibexa-add-to-bookmarks__icon-wrapper ibexa-add-to-bookmarks__icon-wrapper--remove"
        title="{{ 'location.bookmark.remove'|trans|desc('Remove from bookmarks') }}"
    />
</div>
