parameters:
	ignoreErrors:
		-
			message: '#^Call to method Ibexa\\AdminUi\\Form\\DataTransformer\\ContentInfoTransformer\:\:transform\(\) on a separate line has no effect\.$#'
			identifier: method.resultUnused
			count: 1
			path: tests/lib/Form/DataTransformer/ContentInfoTransformerTest.php

		-
			message: '#^Call to method Ibexa\\AdminUi\\Form\\DataTransformer\\LanguageTransformer\:\:transform\(\) on a separate line has no effect\.$#'
			identifier: method.resultUnused
			count: 1
			path: tests/lib/Form/DataTransformer/LanguageTransformerTest.php
