parameters:
	ignoreErrors:
		-
			message: "#^Method Ibexa\\\\Bundle\\\\AdminUi\\\\Controller\\\\BookmarkController\\:\\:getChoices\\(\\) should return array but returns array\\<false\\>\\|false\\.$#"
			count: 1
			path: src/bundle/Controller/BookmarkController.php

		-
			message: "#^Parameter \\#2 \\$search of function array_key_exists expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Location\\> given\\.$#"
			count: 1
			path: src/bundle/Controller/Content/ContentTreeController.php

		-
			message: "#^Parameter \\#1 \\$stack of function array_shift expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Location\\> given\\.$#"
			count: 1
			path: src/bundle/Controller/Content/VersionDraftConflictController.php

		-
			message: "#^Parameter \\#1 \\$input of function array_keys expects array, array\\|null given\\.$#"
			count: 1
			path: src/bundle/Controller/ContentDraftController.php

		-
			message: "#^Parameter \\#1 \\$versions of class Ibexa\\\\AdminUi\\\\Form\\\\Data\\\\Content\\\\Draft\\\\ContentRemoveData constructor expects array\\|null, array\\<mixed, false\\>\\|false given\\.$#"
			count: 1
			path: src/bundle/Controller/ContentDraftController.php

		-
			message: "#^Method Ibexa\\\\Bundle\\\\AdminUi\\\\Controller\\\\ContentTypeController\\:\\:getContentTypesNumbers\\(\\) should return array but returns array\\<false\\>\\|false\\.$#"
			count: 1
			path: src/bundle/Controller/ContentTypeController.php

		-
			message: "#^Parameter \\#1 \\$array_arg of function usort expects TArray of array\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\ContentType\\\\ContentType\\>, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\ContentType\\\\ContentType\\> given\\.$#"
			count: 1
			path: src/bundle/Controller/ContentTypeController.php

		-
			message: "#^Parameter \\#1 \\$s1 of function strnatcasecmp expects string, string\\|null given\\.$#"
			count: 1
			path: src/bundle/Controller/ContentTypeController.php

		-
			message: "#^Parameter \\#2 \\$s2 of function strnatcasecmp expects string, string\\|null given\\.$#"
			count: 1
			path: src/bundle/Controller/ContentTypeController.php

		-
			message: "#^Method Ibexa\\\\Bundle\\\\AdminUi\\\\Controller\\\\ContentTypeGroupController\\:\\:getContentTypeGroupsNumbers\\(\\) should return array but returns array\\<false\\>\\|false\\.$#"
			count: 1
			path: src/bundle/Controller/ContentTypeGroupController.php

		-
			message: "#^Parameter \\#1 \\$var of function count expects array\\|Countable, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\ContentType\\\\ContentType\\> given\\.$#"
			count: 1
			path: src/bundle/Controller/ContentTypeGroupController.php

		-
			message: "#^Parameter \\#1 \\$stack of function array_shift expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/bundle/Controller/ContentViewController.php

		-
			message: "#^Parameter \\#1 \\$var of function count expects array\\|Countable, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/bundle/Controller/ContentViewController.php

		-
			message: "#^Method Ibexa\\\\Bundle\\\\AdminUi\\\\Controller\\\\LanguageController\\:\\:getLanguagesNumbers\\(\\) should return array but returns array\\<false\\>\\|false\\.$#"
			count: 1
			path: src/bundle/Controller/LanguageController.php

		-
			message: "#^Method Ibexa\\\\Bundle\\\\AdminUi\\\\Controller\\\\ObjectStateController\\:\\:getObjectStatesIds\\(\\) should return array but returns array\\<false\\>\\|false\\.$#"
			count: 1
			path: src/bundle/Controller/ObjectStateController.php

		-
			message: "#^Method Ibexa\\\\Bundle\\\\AdminUi\\\\Controller\\\\ObjectStateGroupController\\:\\:getObjectStateGroupsIds\\(\\) should return array but returns array\\<false\\>\\|false\\.$#"
			count: 1
			path: src/bundle/Controller/ObjectStateGroupController.php

		-
			message: "#^Method Ibexa\\\\Bundle\\\\AdminUi\\\\Controller\\\\PolicyController\\:\\:getPoliciesNumbers\\(\\) should return array but returns array\\<false\\>\\|false\\.$#"
			count: 1
			path: src/bundle/Controller/PolicyController.php

		-
			message: "#^Method Ibexa\\\\Bundle\\\\AdminUi\\\\Controller\\\\RoleAssignmentController\\:\\:getRoleAssignmentsNumbers\\(\\) should return array but returns array\\<int, false\\>\\|false\\.$#"
			count: 1
			path: src/bundle/Controller/RoleAssignmentController.php

		-
			message: "#^Parameter \\#1 \\$roles of class Ibexa\\\\AdminUi\\\\Form\\\\Data\\\\Role\\\\RolesDeleteData constructor expects array, array\\<false\\>\\|false given\\.$#"
			count: 1
			path: src/bundle/Controller/RoleController.php

		-
			message: "#^Method Ibexa\\\\Bundle\\\\AdminUi\\\\Controller\\\\SectionController\\:\\:getSectionsNumbers\\(\\) should return array but returns array\\<false\\>\\|false\\.$#"
			count: 1
			path: src/bundle/Controller/SectionController.php

		-
			message: "#^Parameter \\#2 \\$pieces of function implode expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: src/bundle/Templating/Twig/UniversalDiscoveryExtension.php

		-
			message: "#^Parameter \\#1 \\$obj of function date_format expects DateTimeInterface, DateTime\\|false given\\.$#"
			count: 4
			path: src/lib/Behat/Component/Fields/DateAndTime.php

		-
			message: "#^Parameter \\#1 \\$obj of function date_format expects DateTimeInterface, DateTime\\|false given\\.$#"
			count: 4
			path: src/lib/Behat/Component/Fields/Time.php

		-
			message: "#^Parameter \\#2 \\$start of function substr expects int, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: src/lib/Behat/Page/RolePage.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Field\\> given\\.$#"
			count: 1
			path: src/lib/EventListener/ContentProxyCreateDraftListener.php

		-
			message: "#^Parameter \\#1 \\$arr1 of function array_merge expects array, array\\|null given\\.$#"
			count: 1
			path: src/lib/Form/DataTransformer/FieldType/BinaryFileValueTransformer.php

		-
			message: "#^Parameter \\#1 \\$arr1 of function array_merge expects array, array\\|null given\\.$#"
			count: 1
			path: src/lib/Form/DataTransformer/FieldType/ImageAssetValueTransformer.php

		-
			message: "#^Parameter \\#1 \\$arr1 of function array_merge expects array, array\\|null given\\.$#"
			count: 1
			path: src/lib/Form/DataTransformer/FieldType/ImageValueTransformer.php

		-
			message: "#^Parameter \\#1 \\$arr1 of function array_merge expects array, array\\|null given\\.$#"
			count: 1
			path: src/lib/Form/DataTransformer/FieldType/MediaValueTransformer.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/lib/Form/EventListener/AddLanguageFieldBasedOnContentListener.php

		-
			message: "#^Parameter \\#2 \\$pieces of function implode expects array, array\\|null given\\.$#"
			count: 2
			path: src/lib/Form/Factory/FormFactory.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/lib/Form/Type/ChoiceList/Loader/AvailableTranslationLanguageChoiceLoader.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/lib/Form/Type/ChoiceList/Loader/BaseTranslationLanguageChoiceLoader.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 2
			path: src/lib/Form/Type/ChoiceList/Loader/ContentEditTranslationChoiceLoader.php

		-
			message: "#^Parameter \\#1 \\$array_arg of function usort expects TArray of array\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\ContentType\\\\ContentType\\>, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\ContentType\\\\ContentType\\> given\\.$#"
			count: 1
			path: src/lib/Form/Type/ChoiceList/Loader/ContentTypeChoiceLoader.php

		-
			message: "#^Parameter \\#1 \\$s1 of function strnatcasecmp expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/Form/Type/ChoiceList/Loader/ContentTypeChoiceLoader.php

		-
			message: "#^Parameter \\#2 \\$s2 of function strnatcasecmp expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/Form/Type/ChoiceList/Loader/ContentTypeChoiceLoader.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/lib/Form/Type/Content/Translation/TranslationAddType.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/lib/Form/Type/ContentType/Translation/TranslationAddType.php

		-
			message: "#^Parameter \\#1 \\$str of function strtolower expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/Form/Type/FieldDefinition/User/PasswordConstraintCheckboxType.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\ObjectState\\\\ObjectState\\> given\\.$#"
			count: 1
			path: src/lib/Form/Type/ObjectState/ContentObjectStateUpdateType.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/lib/Pagination/Mapper/AbstractPagerContentToDataMapper.php

		-
			message: "#^Parameter \\#1 \\$var of function count expects array\\|Countable, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\User\\\\UserGroup\\> given\\.$#"
			count: 1
			path: src/lib/Permission/PermissionChecker.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/lib/Tab/Dashboard/PagerLocationToDataMapper.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\Language\\> given\\.$#"
			count: 1
			path: src/lib/Tab/LocationView/ContentTab.php

		-
			message: "#^Method Ibexa\\\\AdminUi\\\\Tab\\\\LocationView\\\\LocationsTab\\:\\:getLocationChoices\\(\\) should return array but returns array\\<int, false\\>\\|false\\.$#"
			count: 1
			path: src/lib/Tab/LocationView/LocationsTab.php

		-
			message: "#^Parameter \\#2 \\$languageCodes of class Ibexa\\\\AdminUi\\\\Form\\\\Data\\\\Content\\\\Translation\\\\TranslationDeleteData constructor expects array, array\\<false\\>\\|false given\\.$#"
			count: 1
			path: src/lib/Tab/LocationView/TranslationsTab.php

		-
			message: "#^Method Ibexa\\\\AdminUi\\\\Tab\\\\LocationView\\\\UrlsTab\\:\\:getChoices\\(\\) should return array but returns array\\<false\\>\\|false\\.$#"
			count: 1
			path: src/lib/Tab/LocationView/UrlsTab.php

		-
			message: "#^Method Ibexa\\\\AdminUi\\\\Tab\\\\LocationView\\\\VersionsTab\\:\\:getVersionNumbers\\(\\) should return array but returns array\\<int, false\\>\\|false\\.$#"
			count: 1
			path: src/lib/Tab/LocationView/VersionsTab.php

		-
			message: "#^Parameter \\#1 \\$str of function strtolower expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/Translation/Extractor/PolicyTranslationExtractor.php

		-
			message: "#^Parameter \\#1 \\$array_arg of function usort expects TArray of array\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\ContentType\\\\ContentType\\>, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\ContentType\\\\ContentType\\> given\\.$#"
			count: 1
			path: src/lib/UI/Config/Provider/ContentTypes.php

		-
			message: "#^Parameter \\#1 \\$s1 of function strnatcasecmp expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/UI/Config/Provider/ContentTypes.php

		-
			message: "#^Parameter \\#2 \\$s2 of function strnatcasecmp expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/UI/Config/Provider/ContentTypes.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, iterable\\<Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\Content\\\\VersionInfo\\> given\\.$#"
			count: 1
			path: src/lib/UI/Dataset/ContentDraftsDataset.php

		-
			message: "#^Parameter \\#2 \\$size of function array_chunk expects int\\<1, max\\>, int given\\.$#"
			count: 1
			path: src/lib/UI/Module/ContentTree/NodeFactory.php
