.c-upload-popup {
    background: rgba($ibexa-color-black, 0.35);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: $ibexa-color-dark;

    &__label {
        margin-bottom: calculateRem(8px);
        color: $ibexa-color-dark-400;
        font-size: $ibexa-text-font-size-small;
        line-height: calculateRem(18px);
    }

    .c-tooltip-popup {
        width: 100%;
        max-height: 90vh;
        max-width: calculateRem(800px);
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        &__header {
            @include modal-header();

            height: calculateRem(92px);
            padding: calculateRem(24px) calculateRem(32px) 0;
            margin-bottom: calculateRem(24px);
        }

        &__title {
            line-height: calculateRem(42px);
        }

        &__close {
            top: 0;
        }

        &__content {
            @include modal-body();

            padding: 0 calculateRem(32px);
            height: 100%;
        }

        &__footer {
            padding: calculateRem(24px);
        }

        .c-drop-area {
            padding: calculateRem(24px);
        }

        &--with-uploaded-items {
            .c-tooltip-popup {
                &__footer {
                    box-shadow: 0 0 calculateRem(16px) 0 rgba($ibexa-color-dark, 0.16);
                }
            }
        }
    }
}
