.c-upload-list {
    &__items {
        border-top: calculateRem(1px) solid $ibexa-color-light-500;
        margin-top: calculateRem(32px);
        padding: calculateRem(16px) 0;

        &:last-child {
            padding-bottom: 0;
        }
    }
}
