<div class="ibexa-instant-filter__group">
    <div class="ibexa-instant-filter__group-name">
        {{ group_name|default('{{ GROUP_NAME }}') }}
    </div>

    {{ group_name|default('{{ GROUP_OPTIONS }}') }}
</div>
