{% import "@ibexadesign/ui/component/macros.html.twig" as html %}

{% set attr = attr|default({})|merge({
    class: ('ibexa-extra-actions '
        ~ (id is defined ? 'ibexa-extra-actions--' ~ id ~ ' ')
        ~ (not is_visible|default(false) ? 'ibexa-extra-actions--hidden ')
        ~ attr.class|default(''))|trim,
    'data-actions': id,
}) %}

<div {{ html.attributes(attr) }}>
    <div class="ibexa-extra-actions__header">
        <h2>{{ title|default('') }}</h2>
        <button class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ibexa-btn--close">
            <svg class="ibexa-icon ibexa-icon--small">
                <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
            </svg>
        </button>
    </div>
    <div class="ibexa-extra-actions__content">
        {% block content %}{% endblock %}
    </div>
</div>
