<div class="ibexa-instant-filter__group">
    <div class="ibexa-instant-filter__group-name">
        {{ group_name|default('{{ group_name }}') }}
    </div>

    {{ group_options|default('{{ group_options }}') }}
</div>
