<div class="ibexa-taggify__list-tag">
    <span class="ibexa-taggify__list-tag-name">{{ name }}</span>
    <button type="button" class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--no-text ibexa-taggify__btn--remove">
        <svg class="ibexa-icon ibexa-icon--tiny">
            <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
        </svg>
    </button>
</div>
