{% extends '@ibexadesign/ui/form_fields.html.twig' %}

{% block radio_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ibexa-translation__input')|trim}) %}
    <div class="radio ibexa-translation__input-wrapper">
        <label class="ibexa-translation__label">
            {{ parent() }}
            <svg class="ibexa-icon">
                <use xlink:href="{{ ibexa_icon_path('checkmark') }}"></use>
            </svg>
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        </label>
    </div>
{% endblock %}
