{% extends '@ibexadesign/account/base.html.twig' %}

{%- block content -%}
    <div class="ibexa-login__actions-headline">{{ 'authentication.forgot_password'|trans|desc('Forgot password') }}</div>
    <div class="ibexa-login__actions-subheadline">
        {{ 'ibexa.forgot_user_password.success'|trans|raw
        |desc('<p>If you don’t receive the email, double check that you entered the correct email address and check your spam folder.</p>') }}
    </div>
    {% embed '@ibexadesign/ui/component/alert/alert.html.twig' with {
        type: 'success',
        title: 'ibexa.forgot_user_password.success.alert'|trans|desc('We’ve sent to your email account a link to reset your password.'),
        icon_path: ibexa_icon_path('checkmark'),
        show_close_btn: true,
        is_toast: true,
        class: 'ibexa-login__success-toast',
    } only %}
    {% endembed %}
    <div class="ibexa-login__actions">
        <a href="{{ path('login') }}" class="btn ibexa-btn ibexa-btn--primary ibexa-login__btn">
            <span class="ibexa-btn__label">{{ 'authentication.reset_your_password.back_to_sign_in'|trans|desc('Back to sign in page') }}</span>
        </a>
    </div>
{%- endblock content -%}
