{% trans_default_domain 'ibexa_collapse' %}

<div class="ibexa-multi-collapse__header">
    <button type="button" data-multi-collapse-btn-id="{{ multi_collapse_btn_id }}" class="ibexa-multi-collapse-btn btn ibexa-btn ibexa-btn--small ibexa-btn--ghost">
        {{ 'collapse.collapse_all'|trans({}, 'ibexa_collapse')|desc('Collapse all sections') }}
    </button>
</div>