{% trans_default_domain 'ibexa_collapse' %}

<div class="ibexa-multi-collapse__header">
    <twig:ibexa:button
        html_type="button"
        type="tertiary-alt"
        size="small"
        class="ibexa-multi-collapse-btn"
        data-multi-collapse-btn-id="{{ multi_collapse_btn_id }}"
    >
        {{ 'collapse.collapse_all'|trans({}, 'ibexa_collapse')|desc('Collapse all sections') }}
    </twig:ibexa:button>
</div>
