<div class="ibexa-update-policy ibexa-update-policy--action form-group">
    <div class="ibexa-update-policy__action-wrapper">
        {{ form_label(form.limitationValues) }}
        {{ form_widget(form.limitationValues, {
            attr: {
                class: 'ibexa-update-policy__source-input',
            }
        }) }}

        {{ form_errors(form.limitationValues) }}
    </div>
</div>
