.ibexa-sidebar-filter-range {
    &__inputs-col {
        width: 100%;
    }

    &__type-col {
        padding-top: calculateRem(4px);
        color: $ibexa-color-dark-400;
    }

    &__slider-inputs {
        position: relative;
        height: calculateRem(35px);
        margin: 0 calculateRem(15px);
    }

    &__slider {
        position: absolute;
        top: calculateRem(14px);
        left: 0;
        height: calculateRem(8px);
        background: $ibexa-color-light;
        border-radius: $ibexa-border-radius;
        z-index: 1;

        &--seleted-range {
            z-index: 2;
            background: $ibexa-color-dark;
        }
    }

    &__slider-input {
        position: absolute;
        top: calculateRem(4px);
        appearance: none;
        margin: 0;
        background: transparent;

        &::-webkit-slider-thumb {
            width: calculateRem(25px);
            height: calculateRem(25px);
            border-radius: calculateRem(25px);
            background-color: $ibexa-color-white;
            border: calculateRem(1px) solid $ibexa-color-light;
            position: relative;
            z-index: 10;
            cursor: pointer;
            appearance: none;
            pointer-events: all;
        }

        &:focus {
            &::-webkit-slider-thumb {
                border-color: $ibexa-color-dark;
                background-image:
                    radial-gradient(circle at center, $ibexa-color-dark calculateRem(5px), transparent calculateRem(6px)),
                    radial-gradient(circle at center, $ibexa-color-dark calculateRem(5px), transparent calculateRem(6px));
            }
        }
    }

    &__manual-inputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: calculateRem(20px);
    }

    &__manual-input {
        max-width: 20%;
        margin: calculateRem(4px) 0 calculateRem(12px);
        padding: 0 calculateRem(12px);
        border-color: transparent;
        text-align: center;

        &:focus {
            border-color: $ibexa-color-dark-200;
        }
    }
}

// .ibexa-sidebar-filter-range {
//     &__inputs-col {
//         width: 100%;
//     }

//     &__type-col {
//         padding-top: calculateRem(4px);
//         color: $ibexa-color-dark-400;
//     }

//     &__slider-inputs {
//         position: relative;
//         height: calculateRem(35px);
//         margin: 0 calculateRem(15px);
//     }

//     &__slider-input {
//         position: absolute;
//         top: calculateRem(4px);
//         appearance: none;
//         margin: 0;
//         border-radius: calculateRem(4px);
//         background: linear-gradient($ibexa-color-light, $ibexa-color-light) no-repeat center;
//         background-size: 100% calculateRem(8px);

//         &--start {
//             padding: 0 calculateRem(37px) 0 calculateRem(12px);
//         }

//         &--end {
//             padding: 0 calculateRem(12px) 0 calculateRem(37px);
//         }

//         &::-webkit-slider-thumb {
//             width: calculateRem(25px);
//             height: calculateRem(25px);
//             border-radius: calculateRem(25px);
//             background-color: $ibexa-color-white;
//             border: calculateRem(1px) solid $ibexa-color-light;
//             position: relative;
//             z-index: 10;
//             cursor: pointer;
//             appearance: none;
//             pointer-events: all;
//         }

//         &:focus {
//             &::-webkit-slider-thumb {
//                 border-color: $ibexa-color-dark;
//                 background-image:
//                     radial-gradient(circle at center, $ibexa-color-dark calculateRem(5px), transparent calculateRem(6px)),
//                     radial-gradient(circle at center, $ibexa-color-dark calculateRem(5px), transparent calculateRem(6px));
//             }
//         }
//     }

//     &__manual-inputs {
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: calculateRem(20px);
//     }

//     &__manual-input {
//         max-width: 20%;
//         margin: calculateRem(4px) 0 calculateRem(12px);
//         padding: 0 calculateRem(12px);
//         border-color: transparent;
//         text-align: center;

//         &:focus {
//             border-color: $ibexa-color-dark-200;
//         }
//     }
// }
