.ibexa-sidebar-filter-selection {
    &__list {
        padding: 0;
        margin: 0 calculateRem(16px) calculateRem(16px);
        list-style: none;
        font-size: $ibexa-text-font-size-medium;

        .ibexa-input--checkbox {
            margin-right: calculateRem(4px);
        }
    }

    &__list-item {
        margin-top: calculateRem(16px);
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &:first-child {
            margin-top: calculateRem(8px);
        }

        &--hidden,
        &--hidden:first-child {
            height: 0;
            margin: 0;
            opacity: 0;
            overflow: hidden;
        }
    }

    &__search-wrapper {
        width: 100%;
        margin: calculateRem(6px) 0;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &--hidden {
            height: 0;
            margin: 0;
            opacity: 0;
            overflow: hidden;
        }
    }

    &__list-toggle-btn {
        margin: 0 0 calculateRem(12px) 0;

        &--hidden {
            display: none;
        }

        .ibexa-btn {
            &__label {
                text-decoration: underline;
            }
        }
    }
}