.ibexa-sidebar-filter-selection {
    &__list {
        margin: calculateRem(12px) calculateRem(16px) calculateRem(24px) calculateRem(16px);
        padding: 0;
        list-style: none;
        font-size: $ibexa-text-font-size-medium;

        &--with-toggler {
            margin-bottom: calculateRem(8px);
        }

        .ibexa-input--checkbox {
            margin-right: calculateRem(4px);
        }
    }

    &__list-item {
        margin-top: calculateRem(16px);
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &:first-child {
            margin-top: calculateRem(8px);
        }

        &--hidden,
        &--hidden:first-child {
            height: 0;
            margin: 0;
            opacity: 0;
            overflow: hidden;
        }
    }

    &__search-wrapper {
        width: 100%;
        margin: calculateRem(6px) 0;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &--hidden {
            height: 0;
            margin: 0;
            opacity: 0;
            overflow: hidden;
        }
    }

    &__search-input {
        border-radius: $ibexa-border-radius;
    }

    &__list-toggle-btn {
        position: relative;
        margin: 0 0 calculateRem(12px) 0;
        padding-left: calculateRem(37px);

        &--hidden {
            display: none;
        }

        &::before,
        &::after {
            content: ' ';
            position: absolute;
            top: calculateRem(8px);
            left: calculateRem(22px);
            width: calculateRem(1px);
            height: calculateRem(13px);
            background-color: $ibexa-color-dark;
        }

        &::after {
            transform: rotate(-90deg);
        }

        &--expanded-list {
            &::before {
                display: none;
            }
        }
    }
}
