.c-view-columns-toggler {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $ibexa-color-dark;
    background-color: $ibexa-color-light-100;
    border-left: calculateRem(2px) solid $ibexa-color-light;
    padding: calculateRem(12px) calculateRem(16px);

    &__panel {
        top: calculateRem(36px);
        right: calculateRem(17px);

        &--above-btn {
            bottom: calculateRem(36px);
            top: auto;
        }
    }
}
