.c-view-switcher {
    background-color: $ibexa-color-light-100;
    padding: calculateRem(12px) calculateRem(16px) calculateRem(12px) 0;
    border-top-right-radius: calculateRem(12px);
    border-bottom-right-radius: calculateRem(12px);
}
