<ul class="ibexa-context-menu ibexa-context-menu--before-adaptive-items-init">
    {% set selector_btn_classes = selector_btn_classes|default('btn ibexa-btn ibexa-btn--secondary ibexa-btn--no-text') %}

    {{ menu_items }}

    <li class="
        ibexa-context-menu__item
        ibexa-context-menu__item--more
        ibexa-context-menu__item--hidden
        ibexa-adaptive-items__item
        ibexa-adaptive-items__item--selector
    ">
        <button class="{{ selector_btn_classes ~ ' ibexa-btn--more' }}">
            <svg class="ibexa-icon ibexa-icon--small">
                <use xlink:href="{{ ibexa_icon_path('options') }}"></use>
            </svg>
        </button>

        {{ include('@ibexadesign/ui/component/popup_menu/popup_menu.html.twig', {
            'items': [],
        }) }}
    </li>
</ul>
