{% extends "@ibexadesign/ui/layout.html.twig" %}

{% block content %}
    {% include '@ibexadesign/user/invitation/modal.html.twig' %}
    <button
        class="btn ibexa-btn ibexa-btn--tertiary"
        data-bs-toggle="modal"
        data-bs-target="#ibexa-user-invitation-modal"
    >
        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
            <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
        </svg>
        <span class="ibexa-btn__label">
            {{ 'TODO' }}
        </span>
    </button>
{% endblock %}
