{% trans_default_domain 'ibexa_user_invitation' %}

<div class="ibexa-user-invitation-modal__entry">
    {% block entry_form_fields %}{% endblock %}
    <twig:ibexa:button
        html_type="button"
        type="tertiary-alt"
        icon="trash"
        icon_size="small"
        class="ibexa-user-invitation-modal__entry-delete-btn"
        title="{{ 'modal.delete'|trans|desc('Delete') }}"
        data-tooltip-container-selector=".modal-dialog"
    />
    <div class="ibexa-user-invitation-modal__entry-issues ibexa-form-error"></div>
</div>
