#
# Bulk Operation
#

ibexa.rest.bulk_operation:
    path: /bulk
    options:
        expose: true
    defaults:
        _controller: 'Ibexa\Bundle\AdminUi\Controller\BulkOperation\BulkOperationController::bulkAction'
    methods: ['POST']

#
# Location Tree
#

ibexa.rest.location.tree.load_children:
    # @todo change name to content tree
    path: /location/tree/load-subitems/{parentLocationId}/{limit}/{offset}
    methods: ['GET']
    options:
        expose: true
    requirements:
        parentLocationId: \d+
    defaults:
        _controller: 'Ibexa\Bundle\AdminUi\Controller\Content\ContentTreeController::loadChildrenAction'
        limit: 10
        offset: 0

ibexa.rest.location.tree.load_subtree:
    # @todo change name to content tree
    path: /location/tree/load-subtree
    methods: ['POST']
    options:
        expose: true
    defaults:
        _controller: 'Ibexa\Bundle\AdminUi\Controller\Content\ContentTreeController::loadSubtreeAction'

ibexa.rest.location.tree.load_node_extended_info:
    path: /location/tree/{locationId}/extended-info
    methods: ['GET']
    options:
        expose: true
    controller: 'Ibexa\Bundle\AdminUi\Controller\Content\ContentTreeController::loadNodeExtendedInfoAction'

#
# Content type create/edit form
#

ibexa.content_type.field_definition.create:
    path: /contenttypegroup/{contentTypeGroupId}/contenttype/{contentTypeId}/add_field_definition/{toLanguageCode}
    methods: ['POST']
    controller: 'Ibexa\Bundle\AdminUi\Controller\FieldDefinitionController::addFieldDefinitionAction'
    defaults:
        toLanguageCode: ~
    requirements:
        contentTypeGroupId: \d+

ibexa.content_type.field_definition.remove:
    path: /contenttypegroup/{contentTypeGroupId}/contenttype/{contentTypeId}/remove_field_definition
    methods: ['DELETE']
    controller: 'Ibexa\Bundle\AdminUi\Controller\FieldDefinitionController::removeFieldDefinitionAction'
    requirements:
        contentTypeGroupId: \d+

ibexa.content_type.field_definition.reorder:
    path: /contenttypegroup/{contentTypeGroupId}/contenttype/{contentTypeId}/reorder_field_definitions
    methods: ['PUT']
    controller: 'Ibexa\Bundle\AdminUi\Controller\FieldDefinitionController::reorderFieldDefinitionsAction'
    requirements:
        contentTypeGroupId: \d+

#
# Universal Discovery Widget
#

ibexa.udw.location.data:
    path: /module/universal-discovery/location/{locationId}
    controller: 'Ibexa\Bundle\AdminUi\Controller\UniversalDiscoveryController::locationAction'
    methods: [GET]
    options:
        expose: true

ibexa.udw.location.gridview.data:
    path: /module/universal-discovery/location/{locationId}/gridview
    controller: 'Ibexa\Bundle\AdminUi\Controller\UniversalDiscoveryController::locationGridViewAction'
    methods: [GET]
    options:
        expose: true

ibexa.udw.locations.data:
    path: /module/universal-discovery/locations
    controller: 'Ibexa\Bundle\AdminUi\Controller\UniversalDiscoveryController::locationsAction'
    methods: [GET]
    options:
        expose: true

ibexa.udw.accordion.data:
    path: /module/universal-discovery/accordion/{locationId}
    controller: 'Ibexa\Bundle\AdminUi\Controller\UniversalDiscoveryController::accordionAction'
    methods: [GET]
    options:
        expose: true

ibexa.udw.accordion.gridview.data:
    path: /module/universal-discovery/accordion/{locationId}/gridview
    controller: 'Ibexa\Bundle\AdminUi\Controller\UniversalDiscoveryController::accordionGridViewAction'
    methods: [GET]
    options:
        expose: true

#
# ApplicationConfig
#

ibexa.rest.application_config:
    path: /application-config
    controller: 'Ibexa\Bundle\AdminUi\Controller\ApplicationConfigController::loadConfigAction'
    methods: [GET]
    options:
        expose: true
