{% set is_deletable = is_deletable is defined ? is_deletable : true %}

<span class="ibexa-middle-ellipsis" title="{{ name }} {% if not is_deletable %} not-deletable{% endif %}">
    <span class="ibexa-middle-ellipsis__name ibexa-middle-ellipsis__name--start">
        <span class="ibexa-middle-ellipsis__name-ellipsized">
            {{ name }}
        </span>
    </span>
    <span class="ibexa-middle-ellipsis__separator">
        ...
    </span>
    <span class="ibexa-middle-ellipsis__name ibexa-middle-ellipsis__name--end">
        <span class="ibexa-middle-ellipsis__name-ellipsized">
            {{ name }}
        </span>
    </span>
</span>
