<span class="ibexa-middle-ellipsis" title="{{ name }}">
    <span class="ibexa-middle-ellipsis__name ibexa-middle-ellipsis__name--start">
        <span class="ibexa-middle-ellipsis__name-ellipsized">
            {{ name }}
        </span>
    </span>
    <span class="ibexa-middle-ellipsis__separator">
        ...
    </span>
    <span class="ibexa-middle-ellipsis__name ibexa-middle-ellipsis__name--end">
        <span class="ibexa-middle-ellipsis__name-ellipsized">
            {{ name }}
        </span>
    </span>
</span>
