{% extends "@ibexadesign/ui/layout.html.twig" %}

{% import '@ibexadesign/ui/component/macros.html.twig' as html %}
{% from '@ibexadesign/ui/component/macros.html.twig' import results_headline %}

{% trans_default_domain 'ibexa_notifications' %}

{% block title %}{{ 'ibexa_notifications'|trans|desc('Notifications') }}{% endblock %}

{% block header %}
    <div class="ibexa-notification-list__mark-all-read">
        <button class="btn ibexa-btn ibexa-btn--secondary">
            {{ 'ibexa_notifications.btn.mark_all_as_read'|trans|desc('Mark all as read') }}
        </button>
    </div>

    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'ibexa_notifications'|trans|desc('Notifications'),
    } %}
{% endblock %}

{% block content %}
    <div class="align-items-stretch ibexa-main-row">
        <section class="container ibexa-container">
            {% embed '@ibexadesign/ui/component/table/table.html.twig' with {
                headline: custom_results_headline ?? results_headline(pager.getNbResults()),
                head_cols: [
                    { has_checkbox: true },
                    { content: 'notification.Title'|trans|desc('Title') },
                    { content: 'notification.status'|trans|desc('Status') },
                    { content: 'notification.datetime'|trans|desc('Date and time') },
                ],
                class: 'ibexa-table--notifications',
                attr: {
                    'data-notifications': path('ibexa.notifications.render.page'),
                    'data-notifications-count': path('ibexa.notifications.count'),
                    'data-notifications-count-interval': notifications_count_interval,
                    'data-notifications-total': pager.nbResults,
                },
            } %}
                {% block tbody %}
                    {% if pager.count is same as(0) %}
                        {% include '@ibexadesign/ui/component/table/empty_table_body_row.html.twig' with {
                            colspan: 3,
                            empty_table_info_text: 'bookmark.list.empty'|trans|desc('You have no notifications.'),
                        } %}
                    {% else %}
                        {% block tbody_not_empty %}
                            {% for notification in notifications %}
                                {{ notification|raw }}
                            {% endfor %}
                        {% endblock %}
                    {% endif %}
                {% endblock %}
            {% endembed %}

            {% if pager.haveToPaginate %}
                <div class="ibexa-al-data-grid__paginator">
                    {% include '@ibexadesign/ui/pagination.html.twig' with {
                        pager,
                        'paginaton_params': {
                            'routeName': 'ibexa.notifications.render.all',
                        }
                    } %}
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-notifications-list-js', null, 'ibexa') }}
{% endblock %}
