{% extends '@ibexadesign/account/notifications/list_item.html.twig' %}

{% trans_default_domain 'notifications' %}

{% set wrapper_additional_classes = 'ibexa-account-notifications__list-item--permanently-deleted' %}

{% block notification_type_value %}
    {{ 'notification.permanently_deleted'|trans|desc('Deleted')}}
{% endblock %}

{% block message_value %}
    <div>{{ title }}</div>
    <div>{{ 'notification.no_longer_available'|trans|desc('The Content item is no longer available')}}</div>
{% endblock %}
