.ibexa-alert {
    $self: &;

    min-height: calculateRem(48px);
    display: grid;
    grid-template: 'icon content actions close-btn';
    grid-template-columns: auto 1fr auto auto;
    padding: calculateRem(8px) calculateRem(8px);
    border-radius: 0 $ibexa-border-radius $ibexa-border-radius 0;
    border-width: 0 0 0 calculateRem(4px);
    border-left-style: solid;
    align-items: center;

    &--small {
        min-height: calculateRem(32px);
        padding: 0 calculateRem(8px);

        #{$self} {
            &__title {
                font-size: calculateRem(12px);
            }

            &__icon-wrapper {
                margin-top: calculateRem(9px); // Fixing position for rows
            }
        }
    }

    &--no-close-btn {
        grid-template: 'icon content actions';
        grid-template-columns: calculateRem(32px) 1fr auto;
    }

    &__icon-wrapper {
        grid-area: icon;
        display: flex;
        align-self: start;
        margin-top: calculateRem(8px); // Fixing position for rows
    }

    &__close-btn {
        grid-area: close-btn;
        fill: inherit;
        padding: calculateRem(4px);
        border-radius: 50%;
        margin-left: calculateRem(5px);

        &:active,
        &:focus-visible {
            box-shadow: 0 0 0 calculateRem(4px) rgba($ibexa-color-primary, 0.25);
        }
    }

    &__actions {
        grid-area: actions;
    }

    &__content {
        grid-area: content;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding: calculateRem(6px);

        &--subtitle-below {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }

    &__title {
        grid-area: title;
        font-size: calculateRem(14px);
        font-weight: 400;
        margin-right: calculateRem(8px);
        white-space: pre-line;
    }

    &__subtitle {
        font-size: calculateRem(12px);
    }

    &__title,
    &__subtitle {
        word-break: break-word;
    }

    &__extra_content {
        width: 100%;
    }

    &--info {
        color: $ibexa-color-complementary-700;
        background-color: $ibexa-color-complementary-100;
        border-color: $ibexa-color-complementary-300 $ibexa-color-complementary-300 $ibexa-color-complementary-300
            $ibexa-color-complementary;

        .ibexa-icon {
            fill: $ibexa-color-complementary-700;
        }

        #{$self} {
            &__close-btn {
                background-color: $ibexa-color-complementary-200;

                &:hover {
                    background-color: $ibexa-color-complementary-300;

                    .ibexa-icon {
                        fill: $ibexa-color-complementary-800;
                    }
                }

                &:active,
                &:focus-visible {
                    background-color: $ibexa-color-complementary-200;
                    border: calculateRem(1px) solid $ibexa-color-complementary-700;

                    .ibexa-icon {
                        fill: $ibexa-color-complementary-700;
                    }
                }
            }
        }
    }

    &--error {
        color: $ibexa-color-danger-600;
        background-color: $ibexa-color-danger-100;
        border-color: $ibexa-color-danger-300 $ibexa-color-danger-300 $ibexa-color-danger-300 $ibexa-color-danger;

        .ibexa-icon {
            fill: $ibexa-color-danger-600;
        }

        #{$self} {
            &__close-btn {
                background-color: $ibexa-color-danger-200;

                &:hover {
                    background-color: $ibexa-color-danger-300;

                    .ibexa-icon {
                        fill: $ibexa-color-danger-700;
                    }
                }

                &:active,
                &:focus-visible {
                    background-color: $ibexa-color-danger-200;
                    border: calculateRem(1px) solid $ibexa-color-danger-600;

                    .ibexa-icon {
                        fill: $ibexa-color-danger-600;
                    }
                }
            }
        }
    }

    &--warning {
        color: $ibexa-color-accent-700;
        background-color: $ibexa-color-accent-100;
        border-color: $ibexa-color-accent-300 $ibexa-color-accent-300 $ibexa-color-accent-300 $ibexa-color-accent;

        .ibexa-icon {
            fill: $ibexa-color-accent-700;
        }

        #{$self} {
            &__close-btn {
                background-color: $ibexa-color-accent-200;

                &:hover {
                    background-color: $ibexa-color-accent-300;

                    .ibexa-icon {
                        fill: $ibexa-color-accent-800;
                    }
                }

                &:active,
                &:focus-visible {
                    background-color: $ibexa-color-accent-200;
                    border: calculateRem(1px) solid $ibexa-color-accent-700;

                    .ibexa-icon {
                        fill: $ibexa-color-accent-700;
                    }
                }
            }
        }
    }

    &--success {
        color: $ibexa-color-success-600;
        background-color: $ibexa-color-success-100;
        border-color: $ibexa-color-success-300 $ibexa-color-success-300 $ibexa-color-success-300 $ibexa-color-success;

        .ibexa-icon {
            fill: $ibexa-color-success-600;
        }

        #{$self} {
            &__close-btn {
                background-color: $ibexa-color-success-200;

                .ibexa-icon {
                    fill: $ibexa-color-success-700;
                }

                &:hover {
                    background-color: $ibexa-color-success-300;

                    .ibexa-icon {
                        fill: $ibexa-color-success-800;
                    }
                }

                &:active,
                &:focus-visible {
                    background-color: $ibexa-color-success-200;
                    border: calculateRem(1px) solid $ibexa-color-success-600;

                    .ibexa-icon {
                        fill: $ibexa-color-success-700;
                    }
                }
            }
        }
    }

    &--toast {
        padding: calculateRem(12px);

        &.ibexa-alert {
            border-radius: $ibexa-border-radius;

            &--info {
                border: calculateRem(1px) solid $ibexa-color-info;

                .ibexa-alert {
                    &__icon-wrapper {
                        border-radius: 50%;
                        background: $ibexa-color-info;
                    }
                }
            }

            &--error {
                border: calculateRem(1px) solid $ibexa-color-danger;

                .ibexa-alert {
                    &__icon-wrapper {
                        border-radius: $ibexa-border-radius-small;
                        background: $ibexa-color-danger;
                        transform: rotate(45deg);

                        .ibexa-icon {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

            &--warning {
                border: calculateRem(1px) solid $ibexa-color-accent;

                .ibexa-alert {
                    &__icon-wrapper {
                        position: relative;

                        &:before {
                            display: inline-block;
                            margin-left: calculateRem(3px);
                            border: solid calculateRem(15px) transparent;
                            border-top-width: 0;
                            border-bottom-width: calculateRem(25px);
                            border-bottom-color: $ibexa-color-accent;
                            clip-path: circle(54% at 50% 69%);
                            vertical-align: bottom;
                            content: '';
                        }

                        .ibexa-icon {
                            position: absolute;
                            top: calculateRem(9px);
                            left: calculateRem(8px);
                        }
                    }
                }
            }

            &--success {
                border: calculateRem(1px) solid $ibexa-color-success;

                .ibexa-alert {
                    &__icon-wrapper {
                        border-radius: $ibexa-border-radius-small;
                        background: $ibexa-color-success;
                    }
                }
            }
        }

        .ibexa-alert {
            &__icon-wrapper {
                width: calculateRem(24px);
                height: calculateRem(24px);
                justify-content: center;
                align-items: center;

                .ibexa-icon {
                    fill: $ibexa-color-white;
                }
            }

            &__close-btn {
                margin: 0;
            }

            &__content {
                margin-top: calculateRem(4px);
            }
        }
    }

    //Remove in 5.0
    &--complementary {
        color: $ibexa-color-complementary-700;
        background-color: $ibexa-color-complementary-100;
        border-color: $ibexa-color-complementary;

        .ibexa-icon {
            fill: $ibexa-color-complementary-700;
        }
    }
}
