.ibexa-anchor-navigation {
    &__section-group {
        display: none;

        &--active {
            display: block;
        }
    }

    &__sections {
        .card {
            position: unset;
        }
    }
}

.ibexa-anchor-navigation-menu {
    &__header {
        height: calculateRem(87px);
        padding: calculateRem(20px) 0 0 calculateRem(17px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    &__body {
        height: calc(100% - #{calculateRem(87px)});
        overflow: auto;
        padding: calculateRem(25px);
        font-size: $ibexa-text-font-size-medium;
    }

    &__close {
        font-weight: 600;
    }

    &__section-groups {
        min-width: calculateRem(350px);
        max-width: calculateRem(400px);
        width: 25vw;
        height: calculateRem(48px);

        &--list {
            padding: calculateRem(4px);
            border-radius: $ibexa-border-radius;
            background-color: $ibexa-color-light-300;
            display: flex;
        }
    }

    &__section-groups-item {
        height: calculateRem(40px);
        padding: calculateRem(10px);
        border-radius: $ibexa-border-radius;
        border: 0;
        flex-basis: 100%;
        text-align: center;
        overflow: hidden;

        &--active {
            background-color: $ibexa-color-white;
            font-weight: 600;
        }
    }

    &__sections {
        min-width: calculateRem(240px);
        list-style: none;
        display: none;
        padding-left: 0;

        &:not(:first-child) {
            margin: calculateRem(24px) 0 0;
            padding: calculateRem(24px) 0 0;
            border-top: calculateRem(1px) solid $ibexa-color-light;
        }

        &--active {
            display: block;
        }
    }

    &__sections-item-btn {
        display: inline-flex;
        width: 100%;
        padding: calculateRem(11px) calculateRem(15px);
        border: calculateRem(1px) solid transparent;
        border-radius: $ibexa-border-radius;
        text-align: left;

        &::before {
            content: '';
            display: block;
            width: calculateRem(8px);
            height: calculateRem(8px);
            margin: calculateRem(8px) calculateRem(16px) 0 0;
            border-radius: 50%;
            background-color: $ibexa-color-light;
        }

        &::after {
            content: '*';
            width: calculateRem(16px);
            display: inline-block;
            opacity: 0;
            margin: calculateRem(4px) 0 0 calculateRem(4px);
            color: $ibexa-color-danger;
            font-size: $ibexa-text-font-size-small;
        }

        &:hover {
            color: $ibexa-color-info;
            font-weight: 600;

            &::before {
                background-color: $ibexa-color-info;
            }
        }

        &--active {
            color: $ibexa-color-info;
            background: $ibexa-color-info-100;
            font-weight: 600;

            &::before {
                background-color: $ibexa-color-info;
            }
        }

        &--invalid {
            &::after {
                opacity: 1;
            }
        }
    }

    &__sections-item-label {
        max-width: calc(100% - #{calculateRem(45px)});
    }

    &__item-label {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
