.ibexa-autosave {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $ibexa-color-dark-400;
    font-size: $ibexa-text-font-size-small;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    .ibexa-icon {
        fill: $ibexa-color-dark-400;
    }

    &--light {
        color: $ibexa-color-white;
        fill: $ibexa-color-white;
    }

    $states: 'error', 'off', 'on', 'saved', 'saving';

    @each $state in $states {
        &__icon-#{$state} {
            margin-right: calculateRem(8px);
        }

        &__status-#{$state} {
            white-space: nowrap;
        }

        &__icon-#{$state},
        &__status-#{$state} {
            display: none;
        }

        &--#{$state} {
            .ibexa-autosave__icon-#{$state},
            .ibexa-autosave__status-#{$state} {
                display: initial;
            }
        }
    }

    &--saved {
        color: $ibexa-color-success;

        .ibexa-autosave__icon-saved {
            fill: $ibexa-color-success;
        }
    }

    &--error {
        color: $ibexa-color-danger;

        .ibexa-autosave__icon-error {
            fill: $ibexa-color-danger;
        }
    }
}
