.ibexa-back-to-top {
    position: fixed;
    bottom: calculateRem(16px);
    right: calculateRem(32px);

    &__button {
        height: calculateRem(62px);
        min-width: calculateRem(62px);
        border-radius: calculateRem(31px);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $ibexa-color-white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;

        &--visible {
            opacity: 1;
            visibility: visible;
        }
    }

    &__title {
        display: none;
        padding: 0 calculateRem(8px) 0 calculateRem(16px);

        &--visible {
            display: inline-block;
        }
    }

    &__icon {
        transform: rotate(90deg);
        fill: $ibexa-color-dark;
    }
}

.ibexa-back-to-top-scroll-container {
    padding-bottom: calculateRem(64px);
}
