.ibexa-backdrop {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($ibexa-color-dark, 0.4);

    &--transparent {
        background-color: transparent;
    }

    &--active {
        display: block;
    }

    & ~ main .ibexa-edit-header {
        z-index: auto;
    }
}
