.ibexa-badge {
    height: calculateRem(24px);
    padding: calculateRem(4px) calculateRem(10px);
    font-size: calculateRem(16px);
    font-size: $ibexa-text-font-size-small;
    line-height: calculateRem(16px);
    font-weight: normal;
    border-radius: calculateRem(12px);
    background-color: $ibexa-color-light-500;
    white-space: nowrap;

    &--status {
        position: relative;
        padding-left: calculateRem(16px);
        padding-top: calculateRem(3px);
        padding-bottom: calculateRem(3px);
        border-width: calculateRem(1px);
        border-style: solid;

        &::before {
            content: '';
            position: absolute;
            left: calculateRem(8px);
            width: calculateRem(4px);
            height: calculateRem(4px);
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @mixin version-properties($color, $background-color) {
        color: $color;
        background-color: $background-color;
        border-color: $color;

        .ibexa-icon {
            fill: $color;
        }

        &::before {
            background-color: $color;
        }
    }

    &--primary {
        @include version-properties($ibexa-color-primary, $ibexa-color-primary-200);
    }

    &--secondary {
        @include version-properties($ibexa-color-dark, $ibexa-color-light-500);
    }

    &--info {
        @include version-properties($ibexa-color-info, $ibexa-color-info-200);
    }

    &--danger {
        @include version-properties($ibexa-color-danger, $ibexa-color-danger-200);
    }

    &--success {
        @include version-properties($ibexa-color-success, $ibexa-color-success-200);
    }

    &--complementary {
        @include version-properties($ibexa-color-complementary, $ibexa-color-complementary-200);
    }

    &--custom-colors {
        @include version-properties(var(--primary-color), var(--secondary-color));
    }
}
