.ibexa-card {
    border: none;
    background-color: transparent;

    .form-group {
        width: 70%;
    }

    .col-form-label {
        font-weight: 700;
    }

    &__header {
        display: flex;
        color: $ibexa-color-black;
        border-radius: $ibexa-border-radius $ibexa-border-radius 0 0;
        padding: calculateRem(8px);

        &--secondary {
            color: $ibexa-color-primary;
            font-weight: 400;
        }

        &--sticky-top {
            // -webkit-sticky fixes bug for Safari 12.0
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: calculateRem(4px) calculateRem(20px);
            justify-content: space-between;
            z-index: 1040;
        }

        &--section-title {
            display: flex;
            align-items: center;
            color: $ibexa-color-dark;
            border-bottom: calculateRem(1px) solid $ibexa-color-light;
            padding: calculateRem(24px);
            font-weight: bold;
        }

        .form-inline {
            .btn-danger {
                display: flex;
                height: calculateRem(48px);
            }
        }
    }

    &__title {
        padding: calculateRem(24px) 0 calculateRem(16px) 0;
        font-weight: bold;
        font-size: $h2-font-size;
    }

    &__body {
        padding: calculateRem(8px);

        &--incresed-margin {
            margin: calculateRem(32px) calculateRem(16px);
        }
    }

    &__field-control {
        background-color: $ibexa-color-white;
        border-radius: $ibexa-border-radius;
        padding: calculateRem(4px);

        .form-control {
            margin-bottom: 0;
        }
    }

    &--no-padding {
        .ibexa-card__body {
            padding: 0;
        }
    }

    &--light {
        background: $ibexa-color-white;
    }

    &--more-space {
        .ibexa-card__body {
            padding-left: calculateRem(16px);
            padding-right: calculateRem(16px);
        }
    }

    .ibexa-header,
    .ibexa-tab-content {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    .table {
        margin-bottom: 0;
    }
}

.ibexa-card--toggle-group {
    background: $ibexa-color-white;

    &.ibexa-card--collapsed {
        .ibexa-card {
            &__header {
                &:hover {
                    background: $ibexa-color-light-200;
                }
            }

            &__body {
                max-height: 0;
                overflow: hidden;
                padding-top: 0;
                padding-bottom: 0;
            }

            &__body-display-toggler {
                .ibexa-icon--caret-down {
                    display: none;
                }
            }
        }
    }

    &:not(.ibexa-card--collapsed) {
        .ibexa-card {
            &__header {
                background-color: $ibexa-color-light-500;
                font-weight: bold;
            }

            &__body {
                background: $ibexa-color-light-200;
            }

            &__body-display-toggler {
                .ibexa-icon--caret-next {
                    display: none;
                }
            }
        }
    }

    .ibexa-card {
        &__header {
            line-height: calculateRem(40px);
            padding: calculateRem(12px) calculateRem(8px);
            display: flex;

            .form-check {
                display: flex;
                align-items: center;
            }

            .form-check-input {
                margin-top: 0;
            }

            .form-check-label {
                margin-left: calculateRem(8px);
                margin-bottom: 0;
                color: $ibexa-color-black;
                font-size: calculateRem(16px);
            }

            .ibexa-card__body-display-toggler {
                margin: calculateRem(4px) calculateRem(4px) calculateRem(4px) 0;
                height: calculateRem(32px);
                width: calculateRem(32px);
                padding: 0;
                cursor: pointer;
                transition: background 0.3s $ibexa-admin-transition;
                display: flex;
                align-items: center;
                justify-content: center;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }

                .ibexa-icon {
                    fill: $ibexa-color-black;
                }
            }
        }

        &__body {
            padding: calculateRem(24px) calculateRem(40px);
        }
    }

    & + & {
        .ibexa-card__header {
            border-top: calculateRem(1px) solid $ibexa-color-light;
        }
    }
}

.ibexa-card-body {
    padding: 0;
}
