@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/mixins/containers' as *;

.ibexa-edit-content {
    @include edit-right-side-container;

    &-width-wrapper {
        width: calc(100% - calculateRem(300px));
    }

    &__container {
        max-width: calculateRem(820px);

        &--wide {
            max-width: calculateRem(1600px);
        }
    }

    &__section-header {
        margin-bottom: calculateRem(24px);
    }
}
