.ibexa-available-field-types {
    @include sidebar-drag-items();

    min-height: calculateRem(700px);
    max-height: calc(100vh - #{calculateRem(200px)});
    margin-left: calculateRem(32px);
}

.ibexa-available-field-type {
    @include sidebar-drag-item;
}

.ibexa-content-type-edit {
    &__field-definition-content {
        padding: calculateRem(20px);
    }

    &__add-field-definitions-group {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: calculateRem(80px);
        margin: calculateRem(24px) 0;
        border: calculateRem(1px) dashed $ibexa-color-light-600;
        border-radius: $ibexa-border-radius;
    }

    &__add-field-definitions-group-btn {
        min-width: calculateRem(210px);
        justify-content: center;
    }

    .ibexa-anchor-navigation-section {
        margin-bottom: calculateRem(64px);
    }
}
