.ibexa-content-type-selector {
    .accordion-item {
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    &__group-title {
        .accordion-button {
            justify-content: space-between;
            font-size: $ibexa-text-font-size-medium;
            font-weight: 600;
            border-bottom: calculateRem(1px) solid transparent;
            transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

            .ibexa-icon--toggle {
                transition: var(--bs-accordion-btn-icon-transition);
            }

            &:not(.collapsed) {
                box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);
                border-bottom-color: $ibexa-color-light;

                .ibexa-icon--toggle {
                    transform: var(--bs-accordion-btn-icon-transform);
                }
            }

            &:hover {
                color: $ibexa-color-primary;

                .ibexa-icon--toggle {
                    fill: $ibexa-color-primary;
                }
            }

            &::after {
                display: none;
            }
        }
    }

    &__list-padding-wrapper {
        padding: calculateRem(16px);
    }

    &__list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__item {
        margin-top: calculateRem(12px);

        .form-check {
            display: block;
        }
    }

    &__show-more {
        display: inline-block;
        margin-top: calculateRem(12px);
        text-decoration: none;
        font-size: $ibexa-text-font-size-medium;

        &:hover {
            text-decoration: none;
        }
    }

    &__show-more-text {
        text-decoration: underline;
    }
}
