.ibexa-content-view,
.ibexa-bookmark-list-view,
.ibexa-search-view,
.ibexa-trash-list-view,
.ibexa-drafts-list-view {
    .ibexa-content-container {
        min-width: 0;
    }

    .ibexa-content-tree-container {
        position: relative;
        top: 0;
        flex: 0 0 auto;
        background: $ibexa-color-white;
        color: inherit;

        &__root {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            height: 100%;
            overflow: auto;
        }
    }

    .ibexa-view-container {
        flex: 1 1 auto;
        min-width: 0;
    }
}
