.ibexa-tooltip {
    z-index: 1500;

    &.show {
        opacity: 1;
    }

    &.bs-tooltip-top &__arrow {
        height: calculateRem(8px);

        &::before {
            border-top-color: $ibexa-color-white;
        }
    }

    &.bs-tooltip-end &__arrow {
        width: calculateRem(8px);

        &::before {
            border-right-color: $ibexa-color-white;
        }
    }

    &.bs-tooltip-bottom &__arrow {
        height: calculateRem(8px);

        &::before {
            border-bottom-color: $ibexa-color-white;
        }
    }

    &.bs-tooltip-start &__arrow {
        width: calculateRem(8px);

        &::before {
            border-left-color: $ibexa-color-white;
        }
    }

    &__inner {
        padding: calculateRem(6px) calculateRem(11px);
        max-width: calculateRem(300px);
        border: calculateRem(1px) solid $ibexa-color-light-200;
        border-radius: $ibexa-border-radius-small;
        background-color: $ibexa-color-white;
        color: $ibexa-color-dark;
        font-size: $ibexa-text-font-size;
        text-align: left;
        line-height: calculateRem(21px);
        box-shadow: 0 calculateRem(4px) calculateRem(6px) rgba(135, 135, 135, 0.35);
    }

    &--ground-dark {
        .ibexa-tooltip {
            &__inner {
                color: $ibexa-color-white;
                background-color: $ibexa-color-complementary-strong;
            }
        }

        &.ibexa-tooltip {
            &.bs-tooltip-top .ibexa-tooltip__arrow {
                &::before {
                    border-top-color: $ibexa-color-complementary-strong;
                }
            }

            &.bs-tooltip-end .ibexa-tooltip__arrow {
                &::before {
                    border-right-color: $ibexa-color-complementary-strong;
                }
            }

            &.bs-tooltip-bottom .ibexa-tooltip__arrow {
                &::before {
                    border-bottom-color: $ibexa-color-complementary-strong;
                }
            }

            &.bs-tooltip-start .ibexa-tooltip__arrow {
                &::before {
                    border-left-color: $ibexa-color-complementary-strong;
                }
            }
        }
    }

    &--info-neon {
        .ibexa-tooltip {
            &__inner {
                color: $ibexa-color-dark;
                background-color: $ibexa-color-info;
                border-color: transparent;
                box-shadow: 0 calculateRem(4px) calculateRem(6px) rgba($ibexa-color-info, 0.1);
            }
        }

        &.ibexa-tooltip {
            &.bs-tooltip-top .ibexa-tooltip__arrow {
                &::before {
                    border-top-color: $ibexa-color-info;
                }
            }

            &.bs-tooltip-end .ibexa-tooltip__arrow {
                &::before {
                    border-right-color: $ibexa-color-info;
                }
            }

            &.bs-tooltip-bottom .ibexa-tooltip__arrow {
                &::before {
                    border-bottom-color: $ibexa-color-info;
                }
            }

            &.bs-tooltip-start .ibexa-tooltip__arrow {
                &::before {
                    border-left-color: $ibexa-color-info;
                }
            }
        }
    }
}
