.ibexa-tooltip {
    z-index: 1500;

    &.show {
        opacity: 1;
    }

    &.bs-tooltip-top,
    &[data-popper-placement='top'] {
        .ibexa-tooltip__arrow {
            height: calculateRem(8px);

            &::before {
                border-top-color: $ibexa-color-white;
            }
        }
    }

    &.bs-tooltip-end,
    &[data-popper-placement='right'] {
        .ibexa-tooltip__arrow {
            width: calculateRem(8px);

            &::before {
                border-right-color: $ibexa-color-white;
            }
        }
    }

    &.bs-tooltip-bottom,
    &[data-popper-placement='bottom'] {
        .ibexa-tooltip__arrow {
            height: calculateRem(8px);

            &::before {
                border-bottom-color: $ibexa-color-white;
            }
        }
    }

    &.bs-tooltip-start,
    &[data-popper-placement='left'] {
        .ibexa-tooltip__arrow {
            width: calculateRem(8px);

            &::before {
                border-left-color: $ibexa-color-white;
            }
        }
    }

    &__inner {
        padding: calculateRem(6px) calculateRem(11px);
        max-width: calculateRem(300px);
        border: calculateRem(1px) solid $ibexa-color-light-200;
        border-radius: $ibexa-border-radius-small;
        background-color: $ibexa-color-white;
        color: $ibexa-color-dark;
        font-size: $ibexa-text-font-size;
        text-align: left;
        line-height: calculateRem(21px);
        box-shadow: 0 calculateRem(4px) calculateRem(6px) rgba(135, 135, 135, 0.35);
    }

    &--dark {
        .ibexa-tooltip {
            &__inner {
                color: $ibexa-color-white;
                background-color: $ibexa-color-dark;
                border-color: transparent;
            }
        }

        &.ibexa-tooltip {
            &.bs-tooltip-top,
            &[data-popper-placement='top'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-top-color: $ibexa-color-dark;
                    }
                }
            }

            &.bs-tooltip-end,
            &[data-popper-placement='right'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-right-color: $ibexa-color-dark;
                    }
                }
            }

            &.bs-tooltip-bottom,
            &[data-popper-placement='bottom'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-bottom-color: $ibexa-color-dark;
                    }
                }
            }

            &.bs-tooltip-start,
            &[data-popper-placement='left'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-left-color: $ibexa-color-dark;
                    }
                }
            }
        }
    }

    &--ground-dark {
        .ibexa-tooltip {
            &__inner {
                color: $ibexa-color-white;
                background-color: $ibexa-color-complementary-strong;
            }
        }

        &.ibexa-tooltip {
            &.bs-tooltip-top,
            &[data-popper-placement='top'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-top-color: $ibexa-color-complementary-strong;
                    }
                }
            }

            &.bs-tooltip-end,
            &[data-popper-placement='right'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-right-color: $ibexa-color-complementary-strong;
                    }
                }
            }

            &.bs-tooltip-bottom,
            &[data-popper-placement='bottom'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-bottom-color: $ibexa-color-complementary-strong;
                    }
                }
            }

            &.bs-tooltip-start,
            &[data-popper-placement='left'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-left-color: $ibexa-color-complementary-strong;
                    }
                }
            }
        }
    }

    &--navigation {
        .ibexa-tooltip {
            &__inner {
                color: $ibexa-color-dark;
                background-color: $ibexa-color-complementary-primary-400;
                border-color: transparent;
                box-shadow: 0 calculateRem(2px) calculateRem(8px) rgba($ibexa-color-dark, 0.15);
            }
        }

        &.ibexa-tooltip {
            &.bs-tooltip-top,
            &[data-popper-placement='top'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-top-color: $ibexa-color-complementary-primary-400;
                    }
                }
            }

            &.bs-tooltip-end,
            &[data-popper-placement='right'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-right-color: $ibexa-color-complementary-primary-400;
                    }
                }
            }

            &.bs-tooltip-bottom,
            &[data-popper-placement='bottom'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-bottom-color: $ibexa-color-complementary-primary-400;
                    }
                }
            }

            &.bs-tooltip-start,
            &[data-popper-placement='left'] {
                .ibexa-tooltip__arrow {
                    &::before {
                        border-left-color: $ibexa-color-complementary-primary-400;
                    }
                }
            }
        }
    }
}
