@use 'sass:color';
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ibexa-admin-ui-assets/src/bundle/Resources/public/vendors/ids-assets/dist/scss/variables/colors' as *;
@use '@ibexa-admin-ui-assets/src/bundle/Resources/public/vendors/ids-assets/dist/scss/variables/shadows' as *;

// Ibexa transition function
$ibexa-admin-transition: cubic-bezier(0.25, 0.8, 0.25, 1);
$ibexa-admin-transition-duration: 0.4s;
$ibexa-admin-widget-open-transition: all 0.3s ease-in;
$ibexa-admin-widget-close-transition: all 0.3s ease-out;

// Ibexa colors
$ibexa-color-primary: $color-primary-80;
$ibexa-color-primary-700: $color-primary-100;
$ibexa-color-primary-600: $color-primary-90;
$ibexa-color-primary-300: $color-primary-40;
$ibexa-color-primary-200: $color-primary-30;
$ibexa-color-primary-100: $color-primary-0;

$ibexa-color-danger: $color-error-80;
$ibexa-color-danger-700: $color-error-100;
$ibexa-color-danger-600: $color-error-90;
$ibexa-color-danger-500: $color-error-70;
$ibexa-color-danger-300: $color-error-50;
$ibexa-color-danger-200: $color-error-30;
$ibexa-color-danger-100: $color-error-20;

$ibexa-color-warning: $color-warning-80;

$ibexa-color-success: $color-success-80;
$ibexa-color-success-800: $color-success-120;
$ibexa-color-success-700: $color-success-110;
$ibexa-color-success-600: $color-success-90;
$ibexa-color-success-300: $color-success-50;
$ibexa-color-success-200: $color-success-30;
$ibexa-color-success-100: $color-success-0;

$ibexa-color-info: $color-info-80;
$ibexa-color-info-800: $color-info-110;
$ibexa-color-info-700: $color-info-100;
$ibexa-color-info-600: $color-info-80;
$ibexa-color-info-500: $color-info-60;
$ibexa-color-info-400: $color-info-50;
$ibexa-color-info-300: $color-info-40;
$ibexa-color-info-200: $color-info-30;
$ibexa-color-info-100: $color-info-20;

$ibexa-color-black: $color-neutral-240;
$ibexa-color-black-300: $color-neutral-160;
$ibexa-color-black-200: $color-neutral-120;

$ibexa-color-dark: $color-neutral-230;
$ibexa-color-dark-500: $color-neutral-220;
$ibexa-color-dark-400: $color-neutral-180;
$ibexa-color-dark-300: $color-neutral-140;
$ibexa-color-dark-200: $color-neutral-80;
$ibexa-color-dark-100: $color-neutral-60;

$ibexa-color-light: $color-neutral-60;
$ibexa-color-light-800: $color-neutral-90;
$ibexa-color-light-700: $color-neutral-80;
$ibexa-color-light-600: $color-neutral-70;
$ibexa-color-light-500: $color-neutral-70;
$ibexa-color-light-400: $color-neutral-50;
$ibexa-color-light-300: $color-neutral-40;
$ibexa-color-light-200: $color-neutral-30;
$ibexa-color-light-100: $color-neutral-20;

$ibexa-color-white: $color-neutral-10;
$ibexa-color-white-600: $color-neutral-110;

$ibexa-color-accent: $color-warning-80;
$ibexa-color-accent-800: $color-warning-110;
$ibexa-color-accent-700: $color-warning-100;
$ibexa-color-accent-600: $color-warning-90;
$ibexa-color-accent-500: $color-warning-70;
$ibexa-color-accent-300: $color-warning-40;
$ibexa-color-accent-200: $color-warning-30;
$ibexa-color-accent-100: $color-warning-20;

$ibexa-color-complementary: $color-info-80;
$ibexa-color-complementary-800: $color-info-110;
$ibexa-color-complementary-700: $color-info-100;
$ibexa-color-complementary-300: $color-info-40;
$ibexa-color-complementary-200: $color-info-30;
$ibexa-color-complementary-100: $color-primary_alt-20;

$ibexa-color-complementary-strong: $color-primary_alt-110;
$ibexa-color-complementary-strong-600: $color-info-120;
$ibexa-color-complementary-strong-100: $color-info-30;

$ibexa-color-complementary-primary-900: $color-primary_alt-120;
$ibexa-color-complementary-primary-800: $color-primary_alt-110;
$ibexa-color-complementary-primary-700: $color-primary_alt-100;
$ibexa-color-complementary-primary-600: $color-primary_alt-90;
$ibexa-color-complementary-primary-500: $color-primary_alt-70;
$ibexa-color-complementary-primary-400: $color-primary_alt-60;
$ibexa-color-complementary-primary-200: $color-primary_alt-40;

// Ibexa fonts - part 1
$ibexa-font-family:
    'Noto Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif !default;
$ibexa-font-family-headings: 'Work Sans', sans-serif;

//Ibexa z-index
$ibexa-backdrop-zindex: 2175;
$ibexa-modal-zindex: 2180;
$ibexa-popover-zindex: 2185;

//Border
$ibexa-border-radius: calculateRem(10px);
$ibexa-border-radius-small: calculateRem(5px);

$base-font-size: 16px;
$small-font-size: calculateRem(14px) !default;
$h1-font-size: calculateRem(28px) !default;
$h2-font-size: calculateRem(22px) !default;
$h3-font-size: calculateRem(18px) !default;
$h4-font-size: calculateRem(16px) !default;
$h5-font-size: calculateRem(14px) !default;
$h6-font-size: calculateRem(12px) !default;
$headings-font-weight: 700;
$headings-font-family: $ibexa-font-family-headings;
$font-family-sans-serif: $ibexa-font-family;
$modal-title-font-size: calculateRem(28px);
$modal-footer-padding: calculateRem(40px) 0 calculateRem(32px);

// Ibexa fonts - part 2
$ibexa-text-font-size-extra-large: calculateRem(22px);
$ibexa-text-font-size-large: calculateRem(18px);
$ibexa-text-font-size: calculateRem(16px);
$ibexa-text-font-size-medium: calculateRem(14px);
$ibexa-text-font-size-small: calculateRem(12px);
$ibexa-text-font-size-extra-small: calculateRem(8px);

$ibexa-font-weight-normal: normal;
$ibexa-font-weight-bold: 600;

// Ibexa shadows
$ibexa-btn-focus-box-shadow: 0 0 0 calculateRem(3px) color.change($ibexa-color-primary, $alpha: 0.2);
$ibexa-btn-focus-box-shadow-info: 0 0 0 calculateRem(3px) color.change($ibexa-color-info, $alpha: 0.2);
$ibexa-btn-hover-box-shadow: 0 calculateRem(22px) calculateRem(24px) 0 color.change($ibexa-color-danger, $alpha: 0.2);
$ibexa-btn-hover-box-shadow-dark: 0 calculateRem(22px) calculateRem(24px) 0 color.change($ibexa-color-dark, $alpha: 0.2);
$ibexa-btn-hover-box-shadow-info: 0 calculateRem(22px) calculateRem(24px) 0 color.change($ibexa-color-info, $alpha: 0.5);
$ibexa-edit-header-box-shadow: $box-shadow-large;
$ibexa-edit-content-box-shadow: calculateRem(4px) calculateRem(35px) calculateRem(47px) 0 color.change($ibexa-color-info, $alpha: 0.15);
$ibexa-anchor-btn-hover-box-shadow: 0 0 calculateRem(14px) 0 color.change($ibexa-color-black, $alpha: 0.05);
$ibexa-context-menu-box-shadow: 0 calculateRem(22px) calculateRem(24px) 0 color.change($ibexa-color-info, $alpha: 0.15);
$ibexa-content-type-edit-field-shadow: calculateRem(4px) calculateRem(22px) calculateRem(19px) calculateRem(-10px)
    color.change($ibexa-color-info, $alpha: 0.05);

// Ibexa gradients
$ibexa-gradient-danger-primary: $gradient-primary-1;
