@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-date-time-picker {
    width: calculateRem(308px);
    position: relative;

    &__input {
        width: 100%;
        padding: calculateRem(6px) calculateRem(36px) calculateRem(6px) calculateRem(12px);

        &[readonly] {
            background-color: $ibexa-color-white;
        }

        &[disabled] {
            background-color: $ibexa-color-light-300;
        }
    }

    .flatpickr-wrapper {
        width: 100%;
    }

    .ibexa-input-text-wrapper {
        &__actions {
            top: calculateRem(24px);
        }
    }

    &--small {
        .ibexa-input-text-wrapper__actions {
            top: calculateRem(16px);
        }
    }

    &--inline-datetime-popup {
        .ibexa-date-time-picker {
            &__input {
                margin-bottom: calculateRem(4px);
            }
        }

        .ibexa-input-text-wrapper__action-btn--calendar {
            &:hover {
                .ibexa-icon {
                    fill: $ibexa-color-dark;
                }
            }

            &:focus {
                color: transparent;
                border-color: transparent;
                box-shadow: none;

                .ibexa-icon {
                    fill: $ibexa-color-dark;
                }
            }
        }
    }
}
