.ibexa-details {
    &:not(:first-child) {
        margin-top: calculateRem(40px);
    }

    &__items {
        display: flex;
        flex-wrap: wrap;

        &--vertical {
            display: block;
        }
    }

    &__item {
        flex-basis: 25%;
        padding: calculateRem(8px) calculateRem(8px) calculateRem(8px) 0;

        .ibexa-label {
            margin-top: calculateRem(8px);
            margin-bottom: 0;
        }
    }
}
