@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-double-input-range {
    display: flex;

    &__separator {
        border-bottom: calculateRem(1px) solid $ibexa-color-dark-300;
        width: calculateRem(10px);
        margin: calculateRem(24px) calculateRem(8px);
        align-self: center;
    }

    &__inputs-wrapper {
        display: flex;
    }

    &--single-label {
        flex-direction: column;
    }
}
