.ibexa-dropdown {
    position: relative;
    font-family: $font-family-sans-serif;
    font-size: $ibexa-text-font-size-medium;
    min-width: calculateRem(200px);

    select {
        height: 100%;
        width: 100%;
    }

    &__source {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    &__wrapper {
        position: relative;
    }

    &__selection-info {
        color: $ibexa-color-dark;
        line-height: calculateRem(21px);
        height: calculateRem(48px);
        padding: 0 calculateRem(36px) 0 calculateRem(16px);
        border: calculateRem(1px) solid $ibexa-color-dark-200;
        border-radius: $ibexa-border-radius;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 50%;
            width: calculateRem(10px);
            height: calculateRem(1px);
            background: $ibexa-color-dark;
            transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
        }

        &::before {
            transform: rotate(135deg);
            right: calculateRem(12px);
        }

        &::after {
            transform: rotate(-135deg);
            right: calculateRem(19px);
        }

        &.is-invalid {
            @include input-invalid;

            .ibexa-dropdown__selected-item {
                color: $ibexa-color-danger;
            }

            &::before,
            &::after {
                background-color: $ibexa-color-danger;
            }
        }
    }

    &__remove-selection {
        display: inherit;
        position: absolute;
        top: 50%;
        right: calculateRem(3px);
        width: calculateRem(16px);
        height: calculateRem(16px);
        transform: translateY(-50%);

        &::before,
        &::after {
            content: '';
            width: calculateRem(1px);
            height: calculateRem(11px);
            background: $ibexa-color-dark;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &::before {
            transform: translate(50%, -50%) rotate(-45deg);
        }

        &::after {
            transform: translate(50%, -50%) rotate(45deg);
        }
    }

    &__selected-item {
        @include tag;

        margin-top: 0;
        padding-left: calculateRem(8px);
        padding-top: 0;
        padding-bottom: 0;
        margin-right: calculateRem(8px);
        display: inline-block;
        max-width: calculateRem(380px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &--has-icon {
            border-radius: 0;
        }
    }

    &__selected-item + &__selected-placeholder {
        display: none;
    }

    &__selected-placeholder,
    &--single &__selected-item {
        font-size: $ibexa-text-font-size-medium;
        color: $ibexa-color-black-300;
        background: transparent;
        border: 0;
        padding-right: 0;
        padding-left: 0;

        .ibexa-dropdown__remove-selection {
            display: none;
        }
    }

    &--single:not(&--disabled) &__selected-item:not(&__selected-placeholder) {
        color: $ibexa-color-dark;
    }

    &__selected-overflow-number {
        padding-right: calculateRem(8px);
        &:before {
            content: '+';
            position: relative;
            display: inline-block;
        }
    }

    &__selected-item-icon {
        .ibexa-icon {
            margin-right: calculateRem(8px);
        }
    }

    &__items {
        width: 100%;
        background: $ibexa-color-white;
        border: calculateRem(1px) solid $ibexa-color-light;
        color: $ibexa-color-dark;
        border-radius: $ibexa-border-radius;
        display: flex;
        flex-direction: column;

        .ibexa-input-text-wrapper {
            width: 100%;
            padding: calculateRem(8px) calculateRem(12px);

            &__actions {
                right: calculateRem(16px);
            }
        }

        &--search-hidden {
            .ibexa-input-text-wrapper {
                display: none;
            }
        }
    }

    & &__items {
        display: none;
    }

    &__items-list {
        list-style: none;
        padding: calculateRem(8.5px);
        margin: 0;
        overflow-y: auto;
    }

    &__item {
        padding: calculateRem(9px) calculateRem(15px);
        line-height: calculateRem(21px);
        min-height: calculateRem(40px);
        transition: background $ibexa-admin-transition-duration $ibexa-admin-transition;
        border-radius: $ibexa-border-radius;
        cursor: pointer;
        display: flex;
        align-items: center;

        &--hidden {
            display: none;
        }

        &--selected {
            position: relative;
            padding-right: calculateRem(36px);

            .ibexa-dropdown__item-check {
                display: block;
            }
        }

        .ibexa-input {
            margin: 0 calculateRem(16px) 0 0;
        }

        .ibexa-icon {
            margin-right: calculateRem(8px);
        }

        &:hover {
            background-color: $ibexa-color-light-300;
        }

        &[disabled] {
            color: $ibexa-color-dark-300;

            &:hover {
                cursor: not-allowed;
            }
        }

        &[data-value=''] {
            position: relative;

            &:after {
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                border-bottom: calculateRem(1px) solid $ibexa-color-light;
            }
        }
    }

    &__item-group {
        &--hidden {
            display: none;
        }
    }

    &__item-group-label {
        font-weight: bold;
    }

    &__item-group-list {
        padding-left: 0;
    }

    &__item-check {
        position: absolute;
        right: calculateRem(4px);
        display: none;
    }

    &__separator {
        background-color: $ibexa-color-light-600;
    }

    &__items-filter {
        &.form-control {
            margin-bottom: 0;
        }
    }

    &--focused {
        .ibexa-dropdown {
            &__selection-info {
                box-shadow: 0 0 calculateRem(3px) 0 rgba($ibexa-color-primary, 0.75);
            }
        }
    }

    &:not(&--disabled):not(&--ghost):not(.is-invalid) {
        .ibexa-dropdown {
            &__selection-info {
                &:hover {
                    border-color: $ibexa-color-primary;

                    &::before,
                    &::after {
                        background-color: $ibexa-color-primary;
                    }
                }
            }
        }
    }

    &.is-invalid:not(&--disabled) {
        .ibexa-dropdown {
            &__selection-info {
                background-image: none;
                border-color: $ibexa-color-danger;
                background-color: $ibexa-color-danger-100;

                &::before,
                &::after {
                    background-color: $ibexa-color-danger;
                }
            }

            &__selected-item {
                color: $ibexa-color-danger;
            }
        }
    }

    &--small {
        .ibexa-dropdown {
            &__selection-info {
                height: calculateRem(32px);
                padding-top: 0;
                padding-bottom: 0;
                border-radius: $ibexa-border-radius-small;
            }
        }
    }

    &--overflow {
        .ibexa-dropdown {
            &__selected-item {
                max-width: calc(100% - #{calculateRem(96px)});
            }
        }
    }

    &--disabled {
        .ibexa-dropdown {
            &__selection-info {
                border-color: transparent;
                background: $ibexa-color-light-300;
                cursor: not-allowed;

                &::before,
                &::after {
                    background-color: $ibexa-color-dark-400;
                }
            }
        }
    }

    &--ghost {
        min-width: auto;

        .ibexa-dropdown {
            &__selection-info {
                border: none;
                padding: 0 calculateRem(16px);
            }
        }
    }

    &--switcher {
        .ibexa-dropdown {
            &__selection-info {
                border: none;
            }

            &__item-label {
                font-size: $ibexa-text-font-size-small;
            }
        }
    }
}

.form-inline {
    .ibexa-dropdown {
        margin: calculateRem(5px) calculateRem(8px);
    }
}
