.ibexa-edit-header {
    display: flex;
    flex-direction: column;
    background-color: $ibexa-color-white;
    border-width: calculateRem(1px) calculateRem(1px) 0;
    border-style: solid;
    border-color: $ibexa-color-light-400;
    border-top-left-radius: $ibexa-border-radius;
    border-top-right-radius: $ibexa-border-radius;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition, border-bottom-width 0;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 0 calculateRem(36px);
    }

    &__title {
        display: flex;
    }

    &__name {
        &--ellipsized {
            display: none;
        }

        &--full {
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__row {
        display: flex;
        flex-wrap: nowrap;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &--top {
            height: calculateRem(85px);

            .ibexa-edit-header__title {
                height: 0;
                opacity: 0;
            }
        }

        &--bottom {
            flex-direction: column;
            min-width: 60%;
            min-height: calculateRem(150px);
        }
    }

    &__column {
        position: static;

        &--main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0;

            .ibexa-icon {
                margin-right: calculateRem(8px);
                fill: $ibexa-color-dark-400;
            }
        }

        &--left {
            max-width: 75%;

            .ibexa-label {
                margin-bottom: 0;
                color: $ibexa-color-dark-400;
            }
        }

        &--right {
            .ibexa-autosave {
                position: absolute;
                top: calculateRem(96px);
                right: calculateRem(64px);
            }
        }
    }

    &__context-actions {
        display: flex;
        position: absolute;
        top: calculateRem(36px);
        right: calculateRem(64px);
        width: 55%;
    }

    &__tooltip {
        margin-left: calculateRem(8px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__action-name-container {
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    }

    &__action-name {
        color: $ibexa-color-dark-400;
        opacity: 1;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    }

    &__subtitle {
        opacity: 1;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    }

    &__separate-div {
        position: relative;
        z-index: 1;
        width: 100%;
        height: calculateRem(1px);
        background: $ibexa-color-light;
        transform: scaleX(0);
        transition-duration: $ibexa-admin-transition-duration;
    }

    &__extra-bottom-content {
        margin-top: calculateRem(10px);
    }

    &__bottom-row-line {
        margin-top: auto;
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    .ibexa-autosave {
        opacity: 1;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    }

    &--slim {
        &.ibexa-edit-header--has-extra-content {
            border-bottom: calculateRem(1px) solid $ibexa-color-light;
        }

        .ibexa-edit-header {
            &__row {
                &--bottom {
                    margin-top: calculateRem(-45px);
                }
            }

            &__row {
                &--bottom {
                    min-height: initial;
                }
            }

            &__bottom-row-line {
                border-bottom: none;
            }

            &__action-name-container {
                margin-top: calculateRem(-30px);
            }

            &__separate-div {
                transform: scaleX(1);
            }

            &__subtitle {
                opacity: 0;
                height: 0;
                overflow: hidden;
            }

            &__title {
                min-height: calculateRem(34px);
            }

            &__name {
                &--ellipsized {
                    display: inline-block;
                }

                &--full {
                    display: none;
                }
            }
        }

        .ibexa-autosave {
            opacity: 0;
            height: 0;
        }
    }
}
