.ibexa-edit-header {
    background-color: $ibexa-color-white;
    border-style: solid;
    border-color: $ibexa-color-light-400;
    border-width: calculateRem(1px) calculateRem(1px) 0;
    border-top-left-radius: $ibexa-border-radius;
    border-top-right-radius: $ibexa-border-radius;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    border-bottom-width: 0;
    z-index: 1050;

    &__containers {
        display: flex;
        flex-wrap: wrap;
        row-gap: calculateRem(16px);
        padding: calculateRem(24px) calculateRem(32px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    &__container {
        &--info-bar {
            flex: 0 0 40%;
            max-width: 40%;
            box-sizing: border-box;
        }

        &--context-actions {
            flex: 0 0 60%;
            max-width: 60%;
            box-sizing: border-box;
        }

        &--details {
            flex: 0 0 100%;
            max-width: 100%;
            box-sizing: border-box;
        }
    }

    &__title-section {
        display: flex;
        align-items: center;
        width: fit-content;
        max-width: 100%;
        margin: 0;
    }

    &__title {
        flex: 1 1 0%;
        min-width: 0;
        margin-bottom: calculateRem(4px);
        overflow: hidden;
        white-space: nowrap;
    }

    &__after-title {
        flex: 0 0 auto;
        white-space: nowrap;
    }

    &__subtitle {
        margin-top: calculateRem(4px);
        font-size: $ibexa-text-font-size-medium;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    }

    &__info-bar {
        display: flex;
        align-items: center;
        height: calculateRem(48px);

        & > div:not(:empty) {
            height: calculateRem(26px);
            padding: 0 calculateRem(8px);
            border-left: calculateRem(1px) solid $ibexa-color-light;

            &:first-child {
                border: none;
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .ibexa-icon {
            margin-right: calculateRem(8px);
            fill: $ibexa-color-dark-400;
        }
    }

    &__info-bar-action-type {
        display: flex;
        align-items: center;
    }

    &__action-name {
        color: $ibexa-color-dark-400;
        margin: 0;
    }

    &__meta {
        display: flex;
        flex-direction: row;
        gap: calculateRem(4px);
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    }

    &__meta-item {
        display: flex;
        gap: calculateRem(4px);
        align-items: center;
        margin-top: calculateRem(8px);
        padding: calculateRem(4px) calculateRem(8px);
        font-size: calculateRem(10px);
        color: $ibexa-color-dark-500;
        border-radius: calculateRem(16px);
        border: calculateRem(1px) solid $ibexa-color-light-600;
    }

    &__details-extra-content {
        margin-top: calculateRem(10px);
    }

    &--slim {
        &.ibexa-edit-header--has-extra-content {
            border-bottom: calculateRem(1px) solid $ibexa-color-light;
        }

        .ibexa-edit-header {
            &__containers {
                flex-wrap: nowrap;
                align-items: flex-start;
                gap: calculateRem(8px);
            }

            &__container {
                &--details {
                    flex: 0 1 auto;
                    order: 1;
                    max-width: calc(50% - calculateRem(16px));
                    white-space: nowrap;
                    overflow: hidden;
                }

                &--info-bar {
                    flex: 0 1 auto;
                    order: 2;
                    white-space: nowrap;
                }

                &--context-actions {
                    flex: 1 1 0%;
                    order: 3;
                    min-width: 0;
                    margin-left: auto;
                }
            }

            &__info-bar-action-type {
                display: none;
            }

            &__title-section {
                height: calculateRem(48px);
            }

            &__title {
                margin-bottom: 0;
            }

            &__subtitle,
            &__meta {
                opacity: 0;
                width: 0;
                height: 0;
                overflow: hidden;
            }
        }
    }
}
