@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/mixins/spinner' as *;

.ibexa-embedded-item-actions {
    &__loader-container {
        min-width: calculateRem(100px);
        justify-content: center;
        align-items: center;
    }

    &__loader {
        margin: calculateRem(10px);

        @include spinner(calculateRem(24px), calculateRem(3px));
    }
}
