.ibexa-view-rawcontentview {
    margin-bottom: calculateRem(25px);
    background-color: $ibexa-color-white;

    .ibexa-raw-content-title {
        padding: calculateRem(16px) calculateRem(24px);
        color: $ibexa-color-black;
        align-items: center;
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h3 {
            margin: 0;
        }

        &__language-form {
            display: flex;
        }
    }
}

.ibexa-fieldgroup {
    &__name {
        color: $ibexa-color-dark;
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
        padding: calculateRem(24px) calculateRem(8px);
        font-weight: normal;
        font-size: calculateRem(16px);
    }

    &__toggler {
        position: relative;
        display: block;
        padding: calculateRem(24px) calculateRem(16px);
        font-size: calculateRem(16px);
        color: $ibexa-color-black;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: $ibexa-color-primary;
            text-decoration: none;
        }

        &:before {
            content: '';
            position: absolute;
            top: calculateRem(33px);
            left: 0;
            display: inline-block;
            width: calculateRem(7px);
            height: calculateRem(7px);
            border-right: calculateRem(2px) solid $ibexa-color-black;
            border-bottom: calculateRem(2px) solid $ibexa-color-black;
            transition: all 0.3s $ibexa-admin-transition;
            transform: rotate(-135deg);
        }

        &.collapsed {
            &:before {
                transform: rotate(-45deg);
            }
        }
    }

    &__content {
        padding-left: calculateRem(32px);
        padding-right: calculateRem(32px);
    }

    .ibexa-content-field {
        display: flex;
        flex-direction: column;
        margin-bottom: calculateRem(24px);

        &__name {
            margin-bottom: calculateRem(8px);
            color: $ibexa-color-dark-300;
            font-size: $ibexa-text-font-size-small;
        }

        &__value {
            width: 100%;

            .ezstring-field {
                display: inline-block;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .ezcountry-field {
                margin-bottom: 0;
            }

            .ibexa-table-header {
                margin-top: 0;
            }
        }
    }

    .ibexa-field-preview {
        &--ezobjectrelationlist {
            .table {
                margin-bottom: 0;
            }
        }

        &__meta-title-row {
            th {
                font-weight: normal;
                padding-bottom: calculateRem(24px);
            }
        }

        &__meta-value-row {
            td {
                padding-bottom: calculateRem(10px);
            }
        }
    }
}
