.ibexa-filters {
    border: calculateRem(1px) solid $ibexa-color-light;
    border-radius: $ibexa-border-radius;
    padding-bottom: calculateRem(24px);

    .accordion-button {
        &::after {
            width: calculateRem(12px);
            height: calculateRem(12px);
            background-size: unset;
        }
    }
    &__btns {
        text-align: center;

    }
    &__item {
        padding: calculateRem(4px) calculateRem(24px);

        &--language-selector {
            padding-bottom: calculateRem(16px);
            border-bottom: calculateRem(1px) solid $ibexa-color-light;
        }

        &--content-type {
            padding: 0;
        }

        &--creator {
            position: relative;
        }

        &--subtree {
            .ibexa-tag-view-select {
                &__selected-list {
                    margin: 0;
                }

                &__selected-item-tag {
                    margin-bottom: calculateRem(8px);
                }
            }
        }

        .ibexa-dropdown__selection-info {
            margin-bottom: 0;
        }

        .ibexa-label {
            font-size: $ibexa-text-font-size-medium;
            font-weight: 600;
            color: $ibexa-color-dark;
            margin-top: calculateRem(16px);
            margin-bottom: calculateRem(4px);
        }
    }

    &__range-wrapper {
        height: 0;
        opacity: 0;
        background: $ibexa-color-white;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
        pointer-events: none;

        &--visible {
            height: calculateRem(40px);
            opacity: 1;
            pointer-events: auto;
            margin-top: calculateRem(16px);
        }
    }

    &__range-select {
        outline: none;
        border-radius: $ibexa-border-radius-small;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
        padding: calculateRem(16px) calculateRem(24px);
    }

    &__user-list {
        padding: 0;
        list-style: none;
        position: absolute;
        right: 0;
        min-width: 100%;
        border-radius: $ibexa-border-radius-small;
        margin-bottom: 0;
        background-color: $ibexa-color-light-200;
        max-height: calculateRem(300px);
        overflow: auto;
        transform: scaleY(1);
        transform-origin: top center;
        transition: transform $ibexa-admin-transition-duration $ibexa-admin-transition;

        &--hidden {
            transform: scaleY(0);
        }
    }

    &__user-item {
        padding: calculateRem(8px) calculateRem(16px);
        cursor: pointer;
    }

    &__title {
        margin-bottom: 0;
    }
}
