.ibexa-filters-sidebar {
    border: calculateRem(1px) solid $ibexa-color-light;
    border-radius: $ibexa-border-radius;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: calculateRem(16px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }
}