@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-content-view .flatpickr-calendar {
    &.animate.open {
        -webkit-animation: ibexaFpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
        animation: ibexaFpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
}

.flatpickr-calendar {
    .flatpickr-confirm {
        .ibexa-icon {
            margin-left: calculateRem(8px);
        }
    }
}

@-webkit-keyframes ibexaFpFadeInDown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ibexaFpFadeInDown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
