@font-face {
    font-family: 'Noto Sans';
    src: url('/bundles/ibexaadminui/font/NotoSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/bundles/ibexaadminui/font/NotoSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/bundles/ibexaadminui/font/NotoSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/bundles/ibexaadminui/font/NotoSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/bundles/ibexaadminui/font/NotoSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/bundles/ibexaadminui/font/NotoSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/bundles/ibexaadminui/font/WorkSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
