.ibexa-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: calculateRem(24px);
    background-color: $ibexa-color-white;
    font-size: calculateRem(14px);
    color: $ibexa-color-dark-300;

    &__link {
        display: inline-block;
        margin-left: calculateRem(8px);
        font-size: calculateRem(14px);
        color: $ibexa-color-dark-300;

        a {
            color: $ibexa-color-dark-300;

            &:hover {
                color: $ibexa-color-primary
            }
        }
    }
}

.ibexa-bookmark-list-view,
.ibexa-drafts-list-view {
    .ibexa-main-row {
        .ibexa-content-container {
            .ibexa-footer {
                margin: auto 0 0;
            }
        }
    }
}

.ibexa-main-row {
    .ibexa-content-container {
        .ibexa-footer {
            position: relative;
            width: auto;
            margin: auto calculateRem(15px) 0;
        }
    }
}
