.ibexa-header-user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__popup-menu {
        z-index: 1060;
        top: calculateRem(65px);
        right: calculateRem(24px);
        min-width: calculateRem(200px);
        padding: 0;

        ul {
            margin-bottom: 0;
            padding: calculateRem(8px);
        }
    }

    &__popup-menu-title {
        padding: calculateRem(16px) calculateRem(24px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
        color: $ibexa-color-dark-400;
        font-size: $ibexa-text-font-size-small;
    }

    &__toggler {
        display: flex;
        align-items: center;
        margin-left: calculateRem(8px);
        border: none;

        &::after {
            content: '';
            width: 0;
            height: 0;
            margin-left: calculateRem(8px);
            border-left: calculateRem(4px) solid transparent;
            border-right: calculateRem(4px) solid transparent;
            border-top: calculateRem(4px) solid $ibexa-color-white;
        }

        &:hover {
            &::after {
                border-top: calculateRem(4px) solid $ibexa-color-info;
            }
        }
    }

    &__thumbnail-wrapper {
        display: flex;
        border: calculateRem(3px) solid $ibexa-color-black;
        border-radius: 50%;
    }


    &__notifications {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .popover {
            max-width: initial;
            background: initial;
            border: 0;
            pointer-events: all; // for popovers inside .modal-dialog
        }

        .popover-body {
            padding: 0;
            color: initial;
        }
    }

    &__notifications-toggler {
        display: flex;
        align-items: flex-end;
        position: relative;
        height: calculateRem(24px);
        padding-bottom: calculateRem(4px);
        cursor: pointer;

        &:hover {
            .ibexa-icon {
                fill: $ibexa-color-info;
            }
        }
    }

    &__notifications-popup-content {
        display: none;
    }

    &__notice-dot {
        position: absolute;
        right: calculateRem(4px);
        top: calculateRem(-2px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: calculateRem(20px);
        height: calculateRem(20px);
        margin: 0;
        padding: 0;
        cursor: pointer;
        color: $ibexa-color-white;
        font-size: $ibexa-text-font-size-small;
        border-radius: 50%;
        background: $ibexa-color-danger;
        opacity: 1;

        &--no-notice {
            opacity: 0;
        }
    }
}
