.ibexa-header-user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: calculateRem(16px);
    border-left: calculateRem(1px) solid $ibexa-color-light;

    &__popup-menu {
        z-index: 1060;
        top: calculateRem(53px);
        min-width: calculateRem(200px);
        padding: 0;

        ul {
            margin-bottom: 0;
            padding: calculateRem(8px);
        }
    }

    &__popup-menu-title {
        padding: calculateRem(16px) calculateRem(24px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
        color: $ibexa-color-dark-400;
        font-size: $ibexa-text-font-size-small;
    }

    .ibexa-focus-mode-form {
        color: $ibexa-color-dark;
        margin-top: calculateRem(12px);
    }

    &__toggler {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: calculateRem(16px);
        padding: calculateRem(2px);
        border-radius: calculateRem(13px);
        border: 0;
        background: rgba($ibexa-color-white, 0.1);

        .ibexa-icon {
            fill: $ibexa-color-white;
            margin-left: calculateRem(5px);
            margin-right: calculateRem(4px);
            transform: rotate(0deg);
            transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
        }

        &--expanded {
            .ibexa-icon {
                transform: rotate(-180deg);
            }
        }

        &:hover {
            .ibexa-icon {
                fill: $ibexa-color-info;
            }
        }
    }

    &__thumbnail-wrapper {
        display: flex;
        border-radius: 50%;

        .ibexa-user-thumbnail {
            width: calculateRem(22px);
            height: calculateRem(22px);
        }
    }

    &__notifications-toggler {
        display: flex;
        align-items: flex-end;
        position: relative;
        height: calculateRem(24px);
        padding-bottom: calculateRem(4px);
        cursor: pointer;

        &:hover {
            .ibexa-icon {
                fill: $ibexa-color-info;
            }
        }
    }

    &__notice-dot {
        width: calculateRem(6px);
        height: calculateRem(6px);
        border-radius: 50%;
        background: $ibexa-color-danger;
        opacity: 1;
        cursor: pointer;
        position: absolute;
        left: calculateRem(10px);
        top: 0;

        &--no-notice {
            opacity: 0;
        }
    }
}
