.ibexa-icon-tag {
    display: flex;
    align-items: center;
    color: $ibexa-color-dark-300;
    margin-bottom: calculateRem(24px);

    .ibexa-icon {
        margin-right: calculateRem(8px);
    }
}
