.form-control {
    &--is-invalid {
        @include input-invalid;
    }
}

.form-check-inline {
    .ibexa-input {
        position: relative;

        &--checkbox {
            margin-bottom: calculateRem(1px);
        }

        &--radio {
            margin-bottom: 0;
        }
    }
}

.ibexa-input {
    outline: none;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    border: calculateRem(1px) solid var(--ibexa-input-border-color, #{$ibexa-color-dark-300});

    &:hover,
    &--hovered {
        border-color: var(--ibexa-input-hover-border-color, #{$ibexa-color-primary});
    }

    &:focus,
    &.ibexa-input--text.form-control:focus,
    &.ibexa-input--date.form-control:focus {
        border-color: var(--ibexa-input-focus-border-color, #{$ibexa-color-primary});
        box-shadow: 0 0 0 calculateRem(4px) var(--ibexa-input-focus-shadow-color, #{rgba($ibexa-color-primary, 0.25)});
    }

    &:disabled {
        cursor: not-allowed;
        border-color: var(--ibexa-input-disabled-border-color, #{$ibexa-color-dark-200});
    }

    &--text,
    &--textarea,
    &--date {
        font-size: $ibexa-text-font-size-medium;
        color: var(--ibexa-input-text-color, var(--ibexa-text-color, #{$ibexa-color-dark}));
        line-height: calculateRem(21px);
        border: calculateRem(1px) solid var(--ibexa-input-border-color, #{$ibexa-color-dark-200});
        border-radius: $ibexa-border-radius;
        position: relative;

        &:focus,
        &.form-control:focus {
            color: var(--ibexa-input-text-color, var(--ibexa-text-color, #{$ibexa-color-dark}));
        }

        &:hover:not(:disabled) {
            border-color: var(--ibexa-input-hover-border-color, #{$ibexa-color-primary});
        }

        &:active:not(:disabled) {
            border-color: $ibexa-color-dark;
        }

        &:disabled,
        &.form-control:disabled {
            color: var(--ibexa-input-disabled-text-color, #{$ibexa-color-dark-300});
            background-color: var(--ibexa-input-disabled-bg-color, #{$ibexa-color-light-300});
        }

        &.form-control.is-invalid {
            color: var(--ibexa-input-invalid-text-color, #{$ibexa-color-danger});
            background-image: none;
            border-color: var(--ibexa-input-invalid-border-color, #{$ibexa-color-danger});
            background-color: var(--ibexa-input-invalid-bg-color, #{$ibexa-color-danger-100});
        }

        &::placeholder {
            color: var(--ibexa-input-placeholder-color, #{$ibexa-color-dark-400});
            font-size: $ibexa-text-font-size-medium;
            line-height: calculateRem(21px);
        }
    }

    &--text,
    &--date {
        height: calculateRem(48px);
        padding-right: calculateRem(36px);

        &[readonly] {
            padding-right: calculateRem(12px);
        }
    }

    &--small {
        height: calculateRem(32px);
        padding-top: 0;
        padding-bottom: 0;
        border-radius: $ibexa-border-radius-small;
    }

    &--textarea {
        transition:
            all $ibexa-admin-transition-duration $ibexa-admin-transition,
            box-shadow 0s; // Chrome does not render box-shadow properly with transition
        height: calculateRem(120px);
        padding: calculateRem(10px) calculateRem(16px);
    }

    &--checkbox,
    &--radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        display: inline-block;
        cursor: pointer;
        background-color: var(--ibexa-input-bg-color, #{$ibexa-color-white});

        &:disabled {
            &.form-check-input:not(.ibexa-input--toggle) {
                opacity: 1;
            }
        }
    }

    &--checkbox {
        width: calculateRem(16px);
        height: calculateRem(16px);
        border-radius: calculateRem(2px);
        margin-bottom: calculateRem(3px);

        &.form-check-input.form-check-input {
            float: none;
            border-radius: calculateRem(2px);
            background-image: none;
        }

        &::after {
            content: ' ';
            position: absolute;
            top: calculateRem(3px);
            left: calculateRem(3px);
            display: block;
            width: calculateRem(8px);
            height: calculateRem(5px);
            border-left: calculateRem(2px) solid transparent;
            border-bottom: calculateRem(2px) solid transparent;
            transform: rotate(-45deg);
        }

        &:disabled {
            background-color: var(--ibexa-input-disabled-bg-color, #{$ibexa-color-light});
            border-color: var(--ibexa-input-disabled-border-color, #{$ibexa-color-dark-200});
        }

        &:checked {
            border-color: var(--ibexa-input-checked-bg-color, #{$ibexa-color-primary});
            background-color: var(--ibexa-input-checked-bg-color, #{$ibexa-color-primary});

            &::after {
                border-color: $ibexa-color-white;
            }

            &:disabled {
                border-color: var(--ibexa-input-checked-disabled-bg-color, #{$ibexa-color-primary-300});
                background-color: var(--ibexa-input-checked-disabled-bg-color, #{$ibexa-color-primary-300});

                &::after {
                    border-color: var(--ibexa-input-checked-disabled-text-color, #{$ibexa-color-white});
                }
            }
        }

        &:indeterminate {
            border-color: var(--ibexa-input-checked-bg-color, #{$ibexa-color-primary});
            background-color: var(--ibexa-input-checked-bg-color, #{$ibexa-color-primary});

            &:disabled {
                border-color: var(--ibexa-input-checked-disabled-border-color, #{$ibexa-color-primary-300});
                background-color: var(--ibexa-input-checked-disabled-bg-color, #{$ibexa-color-primary-300});
            }

            &::after {
                border-color: $ibexa-color-white;
                background-color: $ibexa-color-white;
                height: calculateRem(1px);
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &--radio {
        width: calculateRem(16px);
        height: calculateRem(16px);
        border-radius: calculateRem(8px);
        margin-bottom: calculateRem(2px);

        &:checked {
            border-color: var(--ibexa-input-checked-border-color, #{$ibexa-color-primary});
            box-shadow: inset 0 0 0 calculateRem(4px) var(--ibexa-input-checked-border-color, #{$ibexa-color-primary});

            &:disabled {
                border-color: var(--ibexa-input-checked-disabled-color, #{$ibexa-color-primary});
                box-shadow: inset 0 0 0 calculateRem(4px) var(--ibexa-input-checked-disabled-color, #{$ibexa-color-primary});
            }

            &:focus {
                &::after {
                    content: ' ';
                    position: absolute;
                    display: block;
                    left: calculateRem(-1px);
                    top: calculateRem(-1px);
                    width: calculateRem(16px);
                    height: calculateRem(16px);
                    border-radius: calculateRem(8px);
                    background: transparent;
                    box-shadow: 0 0 0 calculateRem(4px) var(--ibexa-input-focus-shadow-color, #{rgba($ibexa-color-primary, 0.25)});
                }
            }
        }
    }

    &--info {
        &:hover {
            border-color: $ibexa-color-info;
        }

        &:focus,
        &.ibexa-input--text.form-control:focus,
        &.ibexa-input--date.form-control:focus {
            border-color: $ibexa-color-info;
            box-shadow: 0 0 calculateRem(3px) 0 rgba($ibexa-color-info, 0.75);
        }

        &.ibexa-input {
            &--radio {
                &:checked {
                    border-color: $ibexa-color-info;
                    box-shadow: inset 0 0 0 calculateRem(4px) $ibexa-color-info;
                    background-color: $ibexa-color-info;

                    &:disabled {
                        border-color: $ibexa-color-info-300;
                        box-shadow: inset 0 0 0 calculateRem(4px) $ibexa-color-info-300;
                    }

                    &:focus {
                        &::after {
                            box-shadow: 0 0 calculateRem(3px) 0 rgba($ibexa-color-info, 0.75);
                        }
                    }
                }
            }
        }
    }
}

.ibexa-toggle {
    display: flex;
    align-items: center;
    min-width: calculateRem(77px);
    cursor: pointer;

    &__switcher {
        box-sizing: content-box;
        position: relative;
        width: calculateRem(48px);
        height: calculateRem(24px);
        background-color: $ibexa-color-dark-200;
        border: calculateRem(1px) solid $ibexa-color-white;
        border-radius: calculateRem(24px);
        cursor: pointer;
        margin-bottom: 0;
    }

    &__input,
    &__input:disabled {
        opacity: 0;
        height: calculateRem(1px);
        overflow: hidden;
    }

    &__indicator {
        width: calculateRem(18px);
        height: calculateRem(18px);
        display: block;
        background-color: $ibexa-color-white;
        border-radius: 50%;
        position: absolute;
        top: calculateRem(3px);
        left: 0;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
        transform: translateX(calculateRem(3px));
        cursor: pointer;
        z-index: 1;
    }

    &__label {
        font-size: calculateRem(12px);
        margin-left: calculateRem(8px);
        user-select: none;

        &--off {
            display: inline;
        }

        &--on {
            display: none;
        }
    }

    &--is-checked {
        .ibexa-toggle {
            &__switcher {
                background-color: $ibexa-color-success;
            }

            &__indicator {
                transform: translateX(calculateRem(27px));
                background-color: $ibexa-color-white;
            }

            &__label {
                &--off {
                    display: none;
                }

                &--on {
                    display: inline;
                }
            }
        }
    }

    &--is-disabled {
        cursor: not-allowed;

        .ibexa-toggle {
            &__switcher {
                background-color: $ibexa-color-light-400;
                cursor: not-allowed;
            }

            &__indicator {
                background-color: $ibexa-color-dark-300;
                cursor: not-allowed;
            }

            &__label {
                color: $ibexa-color-black-300;
            }
        }
    }

    &--is-focused {
        .ibexa-toggle {
            &__switcher {
                box-shadow: 0 0 calculateRem(3px) 0 rgba($ibexa-color-primary, 0.75);
            }
        }
    }

    &--small {
        .ibexa-toggle {
            &__switcher {
                width: calculateRem(32px);
                height: calculateRem(16px);
                border-radius: calculateRem(16px);
            }

            &__indicator {
                width: calculateRem(10px);
                height: calculateRem(10px);
            }
        }

        &.ibexa-toggle {
            &--is-checked {
                .ibexa-toggle {
                    &__indicator {
                        transform: translateX(calculateRem(19px));
                    }
                }
            }
        }
    }
}

.ibexa-input-text-wrapper {
    position: relative;

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: calculateRem(8px);
        transform: translate(0, -50%);
        height: calculateRem(24px);
        padding: 0;
        fill: var(--ibexa-btn-icon-fill-color, #{$ibexa-color-dark});
        z-index: 1;
    }

    &__action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calculateRem(24px);
        height: calculateRem(24px);
        padding: 0;
    }

    &--type-number {
        max-width: calculateRem(150px);

        .ibexa-input-text-wrapper {
            &__actions {
                right: calculateRem(32px);
            }
        }

        .ibexa-input--text {
            padding-right: calculateRem(12px);
        }
    }

    &--password,
    &--search {
        .ibexa-input--text {
            padding-right: calculateRem(56px);
        }
    }

    &--extra-btn {
        .ibexa-input-text-wrapper__actions {
            right: 0;
        }

        .ibexa-input-text-wrapper__action-btn--clear {
            margin-right: calculateRem(5px);
        }
    }

    &:hover {
        .ibexa-input {
            border-color: var(--ibexa-input-hover-border-color, #{$ibexa-color-primary});

            &.is-invalid {
                border-color: var(--ibexa-input-invalid-text-color, #{$ibexa-color-primary});
            }
        }
    }
}

.ibexa-input--date:placeholder-shown + .ibexa-input-text-wrapper__actions .ibexa-input-text-wrapper__action-btn--clear,
.ibexa-input--text:placeholder-shown + .ibexa-input-text-wrapper__actions .ibexa-input-text-wrapper__action-btn--clear,
.ibexa-input--text:disabled + .ibexa-input-text-wrapper__actions .ibexa-input-text-wrapper__action-btn--clear,
.ibexa-input--text[hidden] + .ibexa-input-text-wrapper__actions,
.ibexa-input--text[readonly] + .ibexa-input-text-wrapper__actions {
    display: none;
}

.ibexa-input--text.is-invalid + .ibexa-input-text-wrapper__actions {
    .ibexa-icon {
        fill: $ibexa-color-danger;
    }
}
