@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/mixins' as *;

.ids-label {
    @include label-required();

    &.form-label.is-invalid {
        color: $ibexa-color-danger;
    }
}

.form-check-inline {
    .ids-label {
        &--checkbox-radio {
            margin: 0;
        }
    }
}

.ibexa-form-block {
    .form-group:first-of-type {
        .ids-label {
            margin-top: 0;
        }
    }
}
