.ibexa-link {
    text-decoration: underline;
    transition: all 0.2s $ibexa-admin-transition;

    &:hover {
        color: $ibexa-color-primary;
    }

    &--no-hover-color {
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    &--light {
        color: $ibexa-color-light;
    }

    &--white {
        color: $ibexa-color-white;
    }

    &--dark {
        color: $ibexa-color-dark;
    }

    &--black {
        color: $ibexa-color-white;
    }
}
