.ibexa-list-filters {
    $self: &;

    overflow: hidden;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calculateRem(11px) calculateRem(12px);
        min-width: calculateRem(275px);
    }

    &__title {
        margin: 0;
        padding: 0 0 0 calculateRem(8px);
        font-weight: 600;
    }

    &__sidebar {
        &--collapsed {
            width: calculateRem(68px);
            margin-right: 0;

            .ibexa-list-filters__header > *:not(.ibexa-list-filters__expand-btn),
            .ibexa-list-filters__items {
                display: none;
            }
        }
    }

    .accordion-item {
        background: transparent;

        #{$self} {
            &__item-header-btn {
                justify-content: space-between;
                font-size: $ibexa-text-font-size-medium;
                font-weight: 600;
                transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
                border-top-color: $ibexa-color-light;
                border-bottom-color: transparent;
                border-style: solid;
                border-width: calculateRem(1px) 0;
                background: transparent;

                .ibexa-icon--toggle {
                    transition: var(--bs-accordion-btn-icon-transition);
                }

                &:not(.collapsed) {
                    border-bottom-color: $ibexa-color-light;

                    .ibexa-icon--toggle {
                        transform: var(--bs-accordion-btn-icon-transform);
                    }
                }

                &::after {
                    display: none;
                }
            }
        }

        &:last-of-type {
            #{$self} {
                &__item-header-btn {
                    border-bottom-color: $ibexa-color-light;

                    &.collapsed {
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }

    &__item {
        .ibexa-label {
            margin: 0;
            padding: 0;
        }

        &--date-time {
            #{$self} {
                &__item-content {
                    padding-bottom: calculateRem(48px);
                }
            }

            .form-group:first-child {
                padding-bottom: calculateRem(16px);
            }
            .ibexa-date-time-picker {
                width: 100%;
            }
        }

        &--hidden {
            display: none;
        }
    }

    &__item-content {
        padding: calculateRem(24px) calculateRem(16px);
    }
}
