@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ibexa-admin-ui-assets/src/bundle/Resources/public/vendors/ids-assets/dist/scss/variables/colors' as *;
@use '@ibexa-admin-ui-assets/src/bundle/Resources/public/vendors/ids-assets/dist/scss/variables/typography' as *;

.ibexa-login {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    &__sidebar {
        flex: 0 0 calculateRem(64px);
        border-right: calculateRem(1px) solid $ibexa-color-light;
        background: $ibexa-color-black;
    }

    &__panel {
        flex: 0 1 calculateRem(750px);
        max-width: calculateRem(750px);
        background: $ibexa-color-white;
        min-height: 100vh;
        padding: calculateRem(140px) calculateRem(175px);
        display: flex;
    }

    &__background {
        flex: 1 1 auto;
        min-width: 0;
        background-image: url('/bundles/ibexaadminui/img/login-background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .ibexa-label {
        margin-top: calculateRem(16px);
    }

    &__logo {
        max-width: calculateRem(250px);
        margin-bottom: calculateRem(32px);
    }

    &__actions {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        flex: 1;
        justify-content: flex-start;
    }
    &__support-headline {
        margin-bottom: calculateRem(16px);
    }

    &__errors-container {
        margin-top: calculateRem(32px);

        & + .has-error {
            .ibexa-label {
                margin-top: 0;
            }
        }
    }

    &__actions-subheadline {
        font-size: $text-font-size-s;
        color: $color-neutral-160;
    }

    &__btn {
        margin-top: calculateRem(16px);
        width: 100%;
        justify-content: center;

        &--register,
        &--sign-in,
        &--reset-password,
        &--change-password {
            margin-top: calculateRem(32px);
        }
    }

    &__link-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        padding-top: calculateRem(24px);
        font-size: $ibexa-text-font-size-medium;
        gap: calculateRem(16px);
    }

    &__or-divider {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: calculateRem(24px);
        margin-bottom: calculateRem(8px);
        color: $ibexa-color-dark;

        &::before,
        &::after {
            content: '';
            flex: 1;
            height: calculateRem(1px);
            background: $ibexa-color-light;
        }

        span {
            padding: 0 calculateRem(20px);
            font-size: $text-font-size-xl;
            line-height: 1;
        }
    }

    &__forgot-password-form {
        margin-top: calculateRem(16px);
    }

    &__actions-headline {
        font-size: $text-font-size-3xl;
        margin-bottom: calculateRem(4px);
    }

    &__form {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        flex: 1;
    }

    &__panel-footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: auto;
        margin-bottom: calculateRem(16px);
        font-size: $text-font-size-s;
    }

    &__success-toast {
        margin-top: calculateRem(4px);

        &.ibexa-alert {
            min-height: unset;
        }
    }
}
