.ibexa-main-container {
    $edit-container-padding: calculateRem(16px);

    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: calc(100vh - #{calculateRem(73px)});

    &__content-column {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        overflow-y: auto;
        box-shadow: $ibexa-edit-content-box-shadow;
    }

    &--edit-container {
        height: 100vh;
        padding: $edit-container-padding;
        background-color: $ibexa-color-dark;

        &::before {
            content: '';
            height: $edit-container-padding;
            position: absolute;
            top: 0;
            width: 100%;
            background-color: $ibexa-color-dark;
            z-index: 2;
        }

        &::after {
            content: '';
            height: $edit-container-padding;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: $ibexa-color-dark;
            z-index: 2;
        }

        .ibexa-main-container {
            &__side-column {
                min-width: calculateRem(240px);
                border-top-left-radius: $ibexa-border-radius;
                border-bottom-left-radius: $ibexa-border-radius;
                background-color: $ibexa-color-light-100;
            }

            &__content-column {
                border-top-right-radius: $ibexa-border-radius;
                border-bottom-right-radius: $ibexa-border-radius;
                background-color: $ibexa-color-light-100;
            }
        }

        &.ibexa-main-container {
            &--with-anchor-menu-items {
                .ibexa-main-container {
                    &__side-column {
                        min-width: calculateRem(330px);
                        max-width: calculateRem(470px);
                        width: 25vw;
                    }
                }
            }

            &--no-border {
                padding: 0;

                .ibexa-main-container {
                    &__side-column {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    &__content-column {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }
    }

    .ibexa-content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 80%;
    }
}
