@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: calculateRem(16px) calculateRem(20px) calculateRem(15px);
    background: $ibexa-color-dark;
    border-bottom: calculateRem(1px) solid $ibexa-color-dark-500;

    &__brand-column {
        flex: 1;
        display: flex;
        align-items: center;
    }

    &__brand {
        display: inline-block;
    }

    &__brand-image {
        max-width: calculateRem(120px);
        max-height: calculateRem(32px);
    }

    &__search-column {
        flex: 3;
        display: flex;
        justify-content: center;
    }

    &__user-menu-column {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
