.ibexa-main-menu {
    @mixin hidden-main-menu-node {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        border: none;
    }

    display: flex;
    height: calc(100vh - #{calculateRem(72px)});

    &__navbar {
        font-size: $ibexa-text-font-size-medium;
        background-color: $ibexa-color-dark;
        transition: width $ibexa-admin-transition-duration;
        border: calculateRem(1px) solid $ibexa-color-dark-500;
        border-top: none;
        overflow-y: auto;
        overflow-x: hidden;

        &--first-level {
            display: flex;
            width: calculateRem(276px);
            background-color: $ibexa-color-dark;
            overflow: hidden;

            &.ibexa-main-menu__navbar--collapsed {
                width: calculateRem(72px);
            }

            .ibexa-main-menu {
                &__item-action {
                    border: calculateRem(1px) solid transparent;

                    &.active:not(.ibexa-main-menu__item-action--selected) {
                        border: calculateRem(1px) solid $ibexa-color-info;
                        background-color: transparent;
                    }

                    &--selected {
                        color: $ibexa-color-info;
                        background-color: $ibexa-color-info-800;

                        .ibexa-main-menu {
                            &__item-icon {
                                fill: $ibexa-color-info;
                            }

                            &__item-text-column {
                                color: $ibexa-color-info;
                            }
                        }
                    }
                }
            }
        }

        &--second-level {
            position: relative;
            width: calculateRem(220px);
            padding-bottom: calculateRem(32px);
            border-left: none;

            .ibexa-main-menu {
                &__items-list {
                    width: calculateRem(216px);
                    transition: width $ibexa-admin-transition-duration;
                    padding-top: calculateRem(8px);
                }

                &__item {
                    padding: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &--popup-container {
                        margin: 0;

                        .ibexa-main-menu__tooltip-trigger {
                            .ibexa-icon {
                                fill: $ibexa-color-navigation-400;
                            }
                        }
                    }
                }

                &__item-text-column {
                    padding: calculateRem(10px);

                    &--group {
                        padding: calculateRem(9px) calculateRem(10px) calculateRem(5px);
                        color: $ibexa-color-light-700;
                        font-size: $ibexa-text-font-size-small;
                    }
                }
            }

            &.ibexa-main-menu__navbar--collapsed {
                width: calculateRem(48px);
                overflow: visible;

                .ibexa-main-menu {
                    &__items-list {
                        width: calculateRem(48px);
                    }

                    &__item {
                        @include hidden-main-menu-node;

                        &--popup-container {
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            width: inherit;
                            height: calculateRem(80px);
                            opacity: 1;
                        }
                    }

                    &__toggler {
                        margin-right: calculateRem(6px);
                    }
                }

                .ibexa-main-menu__item {
                    &--group-name {
                        width: 0;
                    }
                }
            }
        }

        &--hidden {
            @include hidden-main-menu-node;

            .ibexa-main-menu__toggler-container {
                display: none;
            }
        }

        &--collapsed {
            .ibexa-main-menu__item-text-column {
                @include hidden-main-menu-node;
            }
        }

        &--resizing {
            transition: none;
        }
    }

    &__items-list {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        width: inherit;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        width: 100%;
        padding: calculateRem(8px) 0;
        opacity: 1;

        &--popup-container {
            @include hidden-main-menu-node;

            overflow: hidden;
        }

        .ibexa-popup-menu {
            width: calculateRem(250px);
            top: calculateRem(12px);
            left: calculateRem(48px);

            &__item-content {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &--group-name {
            color: $ibexa-color-light-700;
            position: relative;
            margin-top: calculateRem(13px);

            & > .ibexa-main-menu__item-action {
                height: initial;
            }

            .ibexa-main-menu__item-action + .ibexa-main-menu__items-list {
                padding-top: 0;
            }

            &::after {
                content: '';
                width: calc(100% + #{calculateRem(22px)});
                height: calculateRem(1px);
                background: $ibexa-color-dark-500;
                position: absolute;
                top: 0;
                left: calculateRem(-6px);
            }
        }
    }

    &__item-action {
        display: flex;
        align-items: center;
        margin: 0 calculateRem(12px);
        padding: 0;
        text-decoration: none;
        border-radius: $ibexa-border-radius;
        border: calculateRem(2px) solid transparent;
        height: calculateRem(48px);
        min-width: calculateRem(48px);

        &:focus {
            border-color: $ibexa-color-info-800;
        }

        &:hover {
            color: $ibexa-color-info;
            border-color: transparent;
            text-decoration: none;

            .ibexa-main-menu {
                &__item-icon {
                    fill: $ibexa-color-info;
                }

                &__item-text-column {
                    color: $ibexa-color-info;

                    &--group {
                        color: $ibexa-color-light-700;
                    }
                }
            }
        }

        &.active {
            color: $ibexa-color-navigation-200;
            background-color: $ibexa-color-navigation-700;

            .ibexa-main-menu {
                &__item-icon {
                    fill: $ibexa-color-navigation-200;
                }

                &__item-text-column {
                    color: $ibexa-color-navigation-200;
                }
            }
        }
    }

    &__item-icon-column {
        padding: calculateRem(10px);

        .ibexa-icon {
            fill: $ibexa-color-white;
        }
    }

    &__item-text-column {
        opacity: 1;
        width: 100%;
        overflow: hidden;
        padding: calculateRem(10px) calculateRem(10px) calculateRem(10px) calculateRem(4px);
        color: $ibexa-color-white;
    }

    &__separator {
        width: 100%;
        position: relative;

        &::after {
            content: '';
            width: calc(100% + #{calculateRem(12px)});
            height: calculateRem(1px);
            background: $ibexa-color-dark-500;
            position: absolute;
            top: 0;
            left: calculateRem(-6px);
        }

        &--top {
            margin-top: auto;
        }

        &--bottom {
            width: calc(100% - #{calculateRem(32px)});
            margin: 0 auto;
        }
    }

    &__resizer {
        position: absolute;
        top: 0;
        right: 0;
        width: calculateRem(1px);
        height: 100%;
        background-color: rgba($ibexa-color-dark, 0.8);

        &:hover {
            background-color: $ibexa-color-info;
            cursor: col-resize;
            width: calculateRem(6px);
        }
    }

    &__toggler-container {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: inherit;
        height: calculateRem(48px);
    }

    &__toggler {
        height: calculateRem(44px);
        margin-right: calculateRem(16px);
        padding: calculateRem(5px);
        justify-content: center;
        align-items: center;
    }

    &__first-level-popup-menu {
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(67px) 0 rgba($ibexa-color-info, 0.5);
    }
}
