@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-main-container {
    $edit-container-padding: calculateRem(16px);

    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: calc(100vh - #{calculateRem(72px)});

    &__content-column {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        overflow-y: auto;
        box-shadow: $ibexa-edit-content-box-shadow;

        & > .container {
            padding: 0 calculateRem(32px);
            margin-left: 0;

            @media (min-width: 1921px) {
                max-width: calculateRem(2000px);
            }
        }
    }

    &--edit-container {
        height: 100vh;
        padding: $edit-container-padding;
        background-color: $ibexa-color-dark;

        &::before,
        &::after {
            content: '';
            height: $edit-container-padding;
            position: absolute;
            width: 100%;
            background-color: $ibexa-color-dark;
            z-index: 1050;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        .ibexa-main-container {
            &__side-column {
                max-width: 25%;
                min-width: calculateRem(240px);
                border-top-left-radius: $ibexa-border-radius;
                border-bottom-left-radius: $ibexa-border-radius;
                margin-right: -$ibexa-border-radius;
                padding-right: $ibexa-border-radius;
                background-color: $ibexa-color-light-100;
            }

            &__content-column {
                border-radius: $ibexa-border-radius;
                background-color: $ibexa-color-light-100;
            }
        }

        &.ibexa-main-container {
            &--with-anchor-menu-items {
                .ibexa-main-container {
                    &__side-column {
                        min-width: calculateRem(330px);
                        max-width: calculateRem(470px);
                        width: 25vw;
                    }
                }
            }

            &--without-anchor-menu-items {
                .ibexa-main-container {
                    &__side-column {
                        min-width: 0;
                    }
                }

                &.ibexa-main-container {
                    &--without-anchor-close-btn {
                        .ibexa-main-container {
                            &__side-column {
                                width: 0;
                            }
                        }
                    }
                }
            }

            &--no-border {
                padding: 0;

                .ibexa-main-container {
                    &__side-column {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    &__content-column {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }

    .ibexa-content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 80%;
    }

    ~ .ibexa-notifications-container {
        right: calculateRem(48px);
        bottom: calculateRem(16px);
    }
}
