.ibexa-main-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: calc(100vh - #{calculateRem(73px)});

    &__content-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        box-shadow: $ibexa-edit-content-box-shadow;
    }

    &--without-anchor-menu-items {
        .ibexa-main-container {
            &__side-column {
                min-width: calculateRem(240px);
                max-width: calculateRem(240px);
            }

            &__content-column {
                width: 100%;
            }
        }
    }

    &--with-anchor-menu-items {
        .ibexa-main-container {
            &__side-column {
                width: 25%;
                min-width: calculateRem(300px);
                max-width: calculateRem(400px);
            }

            &__content-column {
                width: 100%;
            }
        }
    }

    &--edit-container {
        height: 100vh;
        padding: calculateRem(16px);
        background-color: $ibexa-color-dark;

        .ibexa-main-container {
            &__side-column {
                overflow: hidden;
                border-top-left-radius: $ibexa-border-radius;
                border-bottom-left-radius: $ibexa-border-radius;
                background-color: $ibexa-color-light-100;
            }

            &__content-column {
                border-top-right-radius: $ibexa-border-radius;
                border-bottom-right-radius: $ibexa-border-radius;
                background-color: $ibexa-color-light-100;
            }
        }

        &.ibexa-main-container {
            &--no-border {
                padding: 0;

                .ibexa-main-container {
                    &__side-column {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    &__content-column {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }
    }

    .ibexa-content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 80%;
    }
}
