@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use 'sass:color';

.ibexa-main-menu {
    @mixin hidden-main-menu-node {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        border: none;
        overflow: hidden;
    }

    display: flex;
    height: calc(100vh - #{calculateRem(72px)});

    &__navbar {
        display: flex;
        flex-direction: column;
        width: calculateRem(264px);
        // min-height: 0;
        // font-size: $ibexa-text-font-size-medium;
        background-color: $ibexa-color-dark;
        // border: calculateRem(1px) solid $ibexa-color-dark-500;
        // border-top: none;
        overflow-y: hidden;
        overflow-x: hidden;
        transition: width $ibexa-admin-transition-duration $ibexa-admin-transition;

        .ibexa-main-menu__item-action {
            &--popup-trigger {
                display: none !important;
            }

            &--accordion-trigger {
                width: 100%;
                // display: flex !important;
            }
        }

        &.ibexa-main-menu__navbar--collapsed {
            width: calculateRem(56px);
            // overflow-x: visible;

            .ibexa-main-menu {
                &__toggler-container {
                    justify-content: center;
                }

                &__items-list > .ibexa-main-menu__item > .ibexa-main-menu__item-action > .ibexa-main-menu__item-text-column,
                &__items-list
                    > .ibexa-main-menu__item
                    > .ibexa-main-menu__item-action
                    > .ids-btn__label
                    > .ibexa-main-menu__item-text-column {
                    @include hidden-main-menu-node;
                }

                //  &__items-list > .ibexa-main-menu__item > .ibexa-main-menu__item-action > .ibexa-main-menu__item-text-column{
                //     @include hidden-main-menu-node;
                // }

                &__item-action {
                    &--popup-trigger
                    // &--popup-trigger.ids-btn,
                    // &--selected {
                    {
                        display: flex !important;
                        // min-width: 0;
                    }

                    &--accordion-trigger {
                        // &--accordion-trigger.ids-btn {
                        display: none !important;
                    }
                }

                &__accordion {
                    @include hidden-main-menu-node;
                }
            }
        }
    }

    &__items-list {
        display: flex;
        // flex: 0 0 auto;
        flex-direction: column;
        // width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: stretch;

        // &--section-content {
        //     padding: 0 0 calculateRem(12px) calculateRem(24px);
        // }

        &--secondary {
            //  > .ibexa-main-menu__items-list {
            // width: calc(100% - #{calculateRem(32px)});
            // margin: calculateRem(8px) auto 0;
            // padding-top: calculateRem(8px);
            border-top: calculateRem(1px) solid $ibexa-color-dark-500;
            // }
        }
    }

    &__primary-section,
    &__secondary-section {
        padding: 0 calculateRem(8px);
    }

    &__primary-section {
        flex: 1 1 auto;
        min-height: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__secondary-section {
        flex: 0 0 auto;
        // width: 100%;
        min-height: 0;
        max-height: 75%;
        padding-bottom: calculateRem(8px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__item {
        width: 100%;
        padding: 0;
        white-space: nowrap;
        text-overflow: ellipsis;

        .ibexa-popup-menu {
            width: calculateRem(250px);

            &__item-content {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &--group-name {
            color: $ibexa-color-light-700;
            position: relative;
            // margin-top: calculateRem(13px);

            // & > .ibexa-main-menu__item-action {
            //     height: initial;
            // }

            // .ibexa-main-menu__item-action + .ibexa-main-menu__items-list {
            //     padding-top: 0;
            // }

            // &::after {
            //     content: '';
            //     width: calc(100% + #{calculateRem(22px)});
            //     height: calculateRem(1px);
            //     background: $ibexa-color-dark-500;
            //     position: absolute;
            //     top: 0;
            //     left: calculateRem(-6px);
            // }
        }
    }

    &__item-action {
        display: flex;
        align-items: center;
        // width: 100%;
        min-width: calculateRem(48px);
        height: calculateRem(48px);
        // margin: 0 calculateRem(12px);
        padding: 0;
        text-decoration: none;
        background: transparent;
        border: calculateRem(2px) solid transparent;
        // border-radius: $ibexa-border-radius;
        width: 100%;

        @at-root a#{&},
            &.ids-btn {
            padding: calculateRem(9px);
            color: $ibexa-color-white;

            &:focus {
                color: $ibexa-color-white;
                // border-color: $ibexa-color-info-800;
                // box-shadow: none;
            }

            &:hover {
                color: $ibexa-color-primary-200;
            }
        }

        &:hover {
            // color: $ibexa-color-info;
            // border-color: transparent;
            text-decoration: none;

            // .ids-btn__icon .ids-icon,
            // .ids-btn__icon .ibexa-icon {
            //     fill: $ibexa-color-primary-200;
            // }

            // .ibexa-main-menu {
            //     border-top: calculateRem(1px) solid $ibexa-color-dark-500;

            //     &__item-icon {
            //         fill: $ibexa-color-complementary-primary-400;
            //     }

            //     &__item-text-column {
            //         color: $ibexa-color-complementary-primary-400;

            //         &--group {
            //             color: $ibexa-color-dark-300;
            //         }
            //     }
            // }
        }

        // &.active,
        &--current.ids-btn {
            color: $ibexa-color-white;
            background-color: $ibexa-color-dark-500;

            .ids-btn__icon .ids-icon {
                fill: $ibexa-color-primary-200;
            }

            &:focus {
                color: $ibexa-color-white;
            }

            .ibexa-main-menu {
                &__item-icon {
                    fill: $ibexa-color-primary-200;
                }

                // &__item-text-column {
                //     color: $ibexa-color-white;
                // }
            }
        }

        // &--accordion-trigger {
        //     margin: 0;
        // }

        &--second-level-group {
            // width: 100%;
            // height: calculateRem(36px);
            margin: 0;
            border-top: calculateRem(1px) solid $ibexa-color-dark-500;
            margin-top: 8px;
            margin-left: 10px;
            padding: 1px 0;
            border-radius: 0;
            height: initial;
            // padding: calculateRem(7.5px) calculateRem(12px);

            // &.active,
            // &.ibexa-main-menu__item-action--selected {
            //     background-color: transparent;

            //     .ibexa-main-menu__item-text-column {
            //         color: $ibexa-color-complementary-primary-400;
            //     }
            // }
        }

        &--second-level-link {
            // width: 100%;
            height: calculateRem(36px);
            // margin: 0;
            // padding: calculateRem(7.5px) calculateRem(12px);

            // &.active,
            &.ibexa-main-menu__item-action--current {
                background-color: transparent;

                .ibexa-main-menu__item-text-column {
                    color: $ibexa-color-complementary-primary-400;
                }
            }
        }

        &.ids-btn {
            justify-content: flex-start;
            min-width: 0;

            // .ids-btn__icon {
            //     .ids-icon,
            //     .ibexa-icon {
            fill: $ibexa-color-white;
            //     }
            // }

            &:focus,
            &:hover {
                fill: $ibexa-color-white;
            }

            .ids-btn__label {
                display: flex;
                // align-items: center;
                // flex: 1 1 auto;
                width: 100%;
                min-width: 0;
            }

            // .ids-btn__label > .ibexa-main-menu__item-text-column {
            //     padding-left: 0;
            // }
        }

        // &.active.ids-btn,
        &--current.ids-btn {
            // .ids-btn__icon {
            //     .ids-icon,
            //     .ibexa-icon {
            fill: $ibexa-color-primary-200;
            //     }
            // }
        }
    }

    // &__accordion {
    //     // margin: 0 calculateRem(12px);
    // }
    // !!!!!!!!!!!!!!!!!!!!! ok
    .ids-accordion {
        // border-bottom: calculateRem(1px) solid $ibexa-color-dark-500;

        &__header {
            width: 100%;
            gap: calculateRem(8px);
            align-items: stretch;
            border-bottom: none;
            border-radius: $ibexa-border-radius;

            &:has(.ibexa-main-menu__item-action--current) {
                background-color: $ibexa-color-dark-500;
                // border-radius: $ibexa-border-radius;

                // .ibexa-main-menu__item-action--accordion-trigger.ibexa-main-menu__item-action--selected {
                //     background-color: transparent;
                // }
            }

            &:hover {
                // .ibexa-main-menu__item-action--selected {
                .ibexa-main-menu__item-text-column {
                    color: $ibexa-color-complementary-primary-400;
                }
                // }

                .ids-expander {
                    .ids-icon {
                        fill: $ibexa-color-complementary-primary-400;
                    }
                }
            }
        }

        &__header-content {
            flex: 1 1 auto;
            // min-width: 0;
            padding: 0;
        }

        &__content {
            overflow: hidden;

            > .ibexa-main-menu__items-list {
                margin-left: 28px;
            }
        }

        .ids-expander {
            flex: 0 0 auto;
            margin-right: calculateRem(8px);
            fill: $ibexa-color-white;

            // .ibexa-icon,
            // .ids-icon {
            //     fill: $ibexa-color-white;
            // }

            // &:hover {
            //     .ibexa-icon,
            //     .ids-icon {
            //         fill: $ibexa-color-white;
            //     }
            // }
        }
    }

    // &__item-icon-column {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: calculateRem(48px);
    //     min-width: calculateRem(48px);
    //     padding: calculateRem(10px);

    //     .ibexa-icon {
    //         fill: $ibexa-color-white;
    //     }
    // }

    // !!!!!!!!!!!!!!!!!!!!! ok
    &__item-text-column {
        width: 100%;
        overflow: hidden;
        // padding: calculateRem(10px) calculateRem(10px) calculateRem(10px) calculateRem(4px);
        // color: $ibexa-color-white;
        text-align: left;
        padding: 0;

        // .ibexa-main-menu__item-action--second-level & {
        //     padding: 0;
        // }

        &--group {
            // padding: calculateRem(9px) calculateRem(10px) calculateRem(5px);
            color: $ibexa-color-dark-300;
            font-size: $ibexa-text-font-size-small;
        }
    }

    // &__separator {
    //     width: 100%;
    //     position: relative;

    //     &::after {
    //         content: '';
    //         // width: calc(100% + #{calculateRem(12px)});
    //         width: 40px;
    //         height: calculateRem(1px);
    //         background: $ibexa-color-dark-500;
    //         position: absolute;
    //         top: 0;
    //         left: calculateRem(-6px);
    //     }

    //     &--top {
    //         margin-bottom: calculateRem(8px);
    //     }

    //     &--bottom {
    //         width: calc(100% - #{calculateRem(32px)});
    //         margin: 0 auto;
    //     }
    // }

    // !!!!!!!!!!!!!!!!!!!!! ok
    &__toggler-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // width: 100%;

        // &--first-level {
        //     border-bottom: none;
        // }
    }

    // &__toggler {
    //     // display: flex;
    //     // align-items: center;
    //     // justify-content: center;
    //     // gap: calculateRem(8px);
    //     // width: auto;
    //     // min-width: calculateRem(48px);
    //     // height: calculateRem(32px);
    //     // padding: 0 calculateRem(12px);
    //     // transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    //     // color: $ibexa-color-dark-300;
    //     &.ids-btn{

    //     --ids-default-text-color:  #{$ibexa-color-dark-300};
    //     --ids-hover-text-color:  #{$ibexa-color-dark-300};
    //     --ids-focus-text-color:  #{$ibexa-color-dark-300};
    //     }
    //     // fill: $ibexa-color-dark-300;
    //     //     transition: transform $ibexa-admin-transition-duration $ibexa-admin-transition;

    //     // .ids-btn__icon .ids-icon,
    //     // .ids-btn__icon .ibexa-icon,
    //     // .ibexa-icon {
    //     //     fill: $ibexa-color-dark-300;
    //     //     transition: transform $ibexa-admin-transition-duration $ibexa-admin-transition;
    //     // }

    //     // &.ids-btn {
    //     //     justify-content: center;
    //     // }
    // }

    // !!!!!!!!!!!!!!!!!!!!! ok
    &__expand-toggler {
        &.ids-btn {
            --ids-default-text-color: #{$ibexa-color-dark-300};
            --ids-hover-text-color: #{$ibexa-color-dark-300};
            --ids-focus-text-color: #{$ibexa-color-dark-300};
        }

        // .ids-btn__label {
        //     color: $ibexa-color-dark-300;
        //     font-size: $ibexa-text-font-size-small;
        //     line-height: 1;
        //     white-space: nowrap;
        // }

        &--collapsed {
            // width: calculateRem(48px);
            // justify-content: center;
            // gap: 0;
            // padding-right: 0;
            // padding-left: 0;

            .ids-icon {
                transform: rotate(180deg);
            }

            .ids-btn__label {
                display: none;
            }
        }
    }

    // &__first-level-popup-menu {
    //     box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(67px) 0 color.change($ibexa-color-info, $alpha: 0.5);
    // }
}
