.ibexa-middle-ellipsis {
    position: relative;
    display: inline-flex;
    max-width: 100%;

    &--ellipsized {
        .ibexa-middle-ellipsis {
            &__name {
                &--start {
                    margin-right: calculateRem(-10px);
                }

                &--end {
                    margin-left: calculateRem(-10px);
                    width: 100%;
                }
            }

            &__separator {
                display: inline-block;
            }
        }
    }

    &__separator {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }

    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: transparent;

        &--start,
        &--end {
            .ibexa-middle-ellipsis__name-ellipsized {
                color: $ibexa-color-black;
                display: inline-block;
            }
        }

        &--start {
            width: 100%;
        }

        &--end {
            width: 0;
            direction: rtl;
            text-align: right;
        }
    }
}
