.ibexa-multilevel-popup-menu {
    &__header {
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
        margin: 0 calculateRem(8px);
        padding: calculateRem(8px) 0 calculateRem(16px);

        &--hidden {
            display: none;
        }
    }

    &__search {
        margin-bottom: calculateRem(4px);
        padding: 0 calculateRem(8px);

        &--hidden {
            display: none;
        }
    }

    &__search-input {
        border-radius: $ibexa-border-radius;
    }

    &__groups {
        max-height: calculateRem(390px);
        overflow-y: auto;
    }
}
