.ibexa-notifications-modal {
    cursor: auto;
    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: calculateRem(8px);
    }

    .table {
        table-layout: fixed;
        white-space: normal;
        margin-bottom: 0;

        .ibexa-table__row {
            .ibexa-table__cell {
                height: 115px;
                padding-right: 0;
                border-radius: 0;
                background-color: $ibexa-color-light-300;
            }

            &.ibexa-notifications-modal__item--read {
                .ibexa-table__cell {
                    background-color: $ibexa-color-white;
                }
            }
        }
    }

    &__list {
        max-height: 90vh;
        overflow-y: auto;
    }

    &__type {
        .type__icon {
            @include type-icon;
            margin-left: calculateRem(16px);
        }

        .type__text {
            margin-left: 1rem;
        }
    }

    &__item--date {
        font-size: $ibexa-text-font-size-small;
        color: $ibexa-color-light-700;
    }

    &__type-content {
        width: 100%;
        font-size: 14px;

        p {
            margin-bottom: 0;
        }
    }

    &__item {
        position: relative;
        border: 1px solid $ibexa-color-light;
        border-bottom: none;

        &--wrapper {
            display: flex;
        }

        &:first-of-type {
            border-top: none;
        }

        .description__text {
            font-size: $ibexa-text-font-size-medium;

            &--permanently-deleted {
                color: $ibexa-color-danger-500;
                font-size: $ibexa-text-font-size-medium;
            }
        }
    }

    &__notice-dot {
        width: calculateRem(8px);
        height: calculateRem(8px);
        border-radius: 50%;
        background: $ibexa-color-danger;
        opacity: 1;
        position: absolute;
        left: calculateRem(10px);
        top: calculateRem(16px);
        font-size: 10px;
        color: white;
    }

    &__item--read {
        .ibexa-notifications-modal__notice-dot,
        .ibexa-notification-view-all__notice-dot {
            background: $ibexa-color-dark-300;
        }
    }

    &__description {
        .description__title {
            margin-bottom: 0;

            &__item {
                display: inline-block;
                vertical-align: top;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
            }
        }

        .description__text {
            width: 100%;
            margin-bottom: 0;
            max-width: 50ch;
            float: left;

            + .description__read-more {
                display: none;

                &::after {
                    content: ' \00BB';
                }
            }

            &--ellipsis {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                + .description__read-more {
                    display: inline;
                    color: $ibexa-color-primary;
                    cursor: pointer;
                }
            }
        }
    }

    &--loading {
        .ibexa-notifications-modal__spinner {
            display: block;
        }

        .ibexa-notifications-modal__results {
            visibility: hidden;
        }
    }

    &__spinner {
        width: 2rem;
        height: 2rem;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        .ibexa-icon {
            width: 2rem;
            height: 2rem;
        }
    }

    &__actions {
        .ibexa-icon {
            margin-right: 0;
        }

        .ibexa-btn {
            margin-right: calculateRem(8px);
        }
    }
}
//TODO: needs cleaning
.ibexa-notification-view-all {
    display: flex;
    align-items: center;
    gap: calculateRem(4px);
    flex-wrap: nowrap;
    white-space: nowrap;

    &__status-icon {
        position: relative;
        margin-right: calculateRem(12px);
    }

    &__status {
        position: relative;
    }

    &__read {
        margin-left: calculateRem(10px);
    }

    &__date {
        white-space: nowrap;
        overflow: hidden;
    }

    &__show,
    &__mail {
        cursor: pointer;
    }

    &__notice-dot {
        width: calculateRem(8px);
        height: calculateRem(8px);
        border-radius: 50%;
        background: $ibexa-color-danger;
        opacity: 1;
        position: absolute;
        top: calculateRem(8px);
        font-size: 10px;
        color: white;

        &--small {
            width: calculateRem(6px);
            height: calculateRem(6px);
        }
    }

    &__details {
        display: flex;
        gap: calculateRem(4px);

        .ibexa-notifications-modal__description {
            display: flex;
        }
    }

    &__cell-wrapper {
        font-size: 14px;

        p {
            margin-bottom: 0;
        }

        .ibexa-table__cell.ibexa-table__cell {
            padding: calculateRem(12px) 0 calculateRem(12px) 0;
        }
    }

    &__icon-hidden {
        display: none;
    }
}
