.ibexa-notifications-modal {
    cursor: auto;
    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: calculateRem(8px);
        background-color: $ibexa-color-white;
    }
    &__results {
        max-height: calc(100vh - #{calculateRem(200px)});
        overflow-y: auto;
    }

    .table {
        table-layout: fixed;
        white-space: normal;
        margin-bottom: 0;

        .ibexa-table__row {
            .ibexa-table__cell {
                height: calculateRem(115px);
                padding-right: 0;
                border-radius: 0;
                background-color: $ibexa-color-light-300;
            }

            &.ibexa-notifications-modal__item--read {
                .ibexa-table__cell {
                    background-color: $ibexa-color-white;
                }
            }
        }
    }

    &__type {
        .type__icon {
            @include type-icon;
            margin-left: calculateRem(16px);
        }

        .type__text {
            margin-left: 1rem;
        }
    }

    &__type-content {
        width: 100%;
        font-size: $ibexa-text-font-size-medium;

        p {
            margin-bottom: 0;
        }
    }

    &__item {
        position: relative;
        border: calculateRem(1px) solid $ibexa-color-light;
        border-top: none;

        &--wrapper {
            display: flex;
        }

        .description__text {
            font-size: $ibexa-text-font-size-medium;

            &--permanently-deleted {
                color: $ibexa-color-danger-500;
                font-size: $ibexa-text-font-size-medium;
            }
        }
    }

    &__item--date {
        font-size: $ibexa-text-font-size-small;
        color: $ibexa-color-light-700;
    }

    &__notice-dot {
        width: calculateRem(8px);
        height: calculateRem(8px);
        border-radius: 50%;
        background: $ibexa-color-danger;
        opacity: 1;
        position: absolute;
        left: calculateRem(16px);
        top: calculateRem(22px);
        color: $ibexa-color-white;
    }

    &__view-all-btn {
        &--count {
            padding-left: calculateRem(2px);
        }
    }

    &__item--read {
        .ibexa-notifications-modal__notice-dot,
        .ibexa-notification-view-all__notice-dot {
            background: $ibexa-color-dark-300;
        }
    }

    &__description {
        .description__title {
            margin-bottom: 0;
        }

        .description__title-item {
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
        }

        .description__text {
            width: 100%;
            margin-bottom: 0;
            max-width: 50ch;
            float: left;

            + .description__read-more {
                display: none;

                &::after {
                    content: ' \00BB';
                }
            }

            &--ellipsis {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                + .description__read-more {
                    display: inline;
                    color: $ibexa-color-primary;
                    cursor: pointer;
                }
            }
        }
    }

    &--loading {
        .ibexa-notifications-modal__spinner {
            display: block;
        }

        .ibexa-notifications-modal__results {
            visibility: hidden;
        }
    }

    &__spinner {
        width: 2rem;
        height: 2rem;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        .ibexa-icon {
            width: 2rem;
            height: 2rem;
        }
    }

    &__actions {
        .ibexa-icon {
            margin-right: 0;
        }

        .ibexa-btn {
            margin-right: calculateRem(8px);
        }
    }
}

.ibexa-notification-view-all {
    display: flex;
    align-items: center;
    gap: calculateRem(4px);
    flex-wrap: nowrap;
    overflow: hidden;

    &__status-icon {
        position: relative;
        margin-right: calculateRem(12px);
    }

    &__status {
        position: relative;
    }

    &__read {
        margin-left: calculateRem(10px);
    }

    &__date {
        white-space: nowrap;
        overflow: hidden;
    }

    &__notice-dot {
        width: calculateRem(8px);
        height: calculateRem(8px);
        border-radius: 50%;
        background: $ibexa-color-danger;
        opacity: 1;
        position: absolute;
        top: calculateRem(8px);
        color: $ibexa-color-white;

        &--small {
            width: calculateRem(6px);
            height: calculateRem(6px);
        }

        &[data-is-read='true'] {
            background: $ibexa-color-dark-300;
        }

        &[data-is-read='false'] {
            background: $ibexa-color-danger;
        }
    }

    &__details {
        display: flex;
        gap: calculateRem(4px);
        min-width: 0;
        max-width: 100%;
        overflow: hidden;

        .type__text {
            white-space: nowrap;
        }

        .ibexa-notifications-modal__description {
            display: flex;
            max-width: 100%;
        }

        .description__text {
            flex: 1;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__cell-wrapper {
        font-size: $ibexa-text-font-size-medium;
        padding-left: 0;
        min-width: 0;
        max-width: 100%;

        p {
            margin-bottom: 0;
        }

        .ibexa-table__cell.ibexa-table__cell {
            padding: calculateRem(12px) 0;
        }
    }

    &__icon-hidden {
        display: none;
    }
}
