@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ibexa-admin-ui-assets/src/bundle/Resources/public/vendors/ids-assets/dist/scss/variables/colors' as *;
@use '@ibexa-admin-ui-assets/src/bundle/Resources/public/vendors/ids-assets/dist/scss/variables/typography' as *;

.ibexa-password-requirements {
    &__intro {
        margin-bottom: 0;
        font-size: $text-font-size-m;
        color: $color-neutral-160;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        position: relative;
        padding-left: calculateRem(20px);
        font-size: $text-font-size-m;
        color: $color-neutral-160;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: calculateRem(6px);
            width: calculateRem(4px);
            height: calculateRem(4px);
            border-radius: 50%;
            background-color: $color-neutral-160;
            transform: translateY(-50%);
        }

        &--met {
            color: $ibexa-color-success-600;

            &::before {
                display: none;
            }
        }
    }

    &__item-icon {
        position: absolute;
        top: 50%;
        left: calculateRem(2px);
        fill: $ibexa-color-success-600;
        transform: translateY(-50%);
    }
}
