@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-picker {
    position: relative;

    &__input[readonly][disabled] {
        cursor: not-allowed;
    }

    &__btn--clear-input {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: calculateRem(3.5px);
        transform: translate(0, -50%);
        background: none;
        border: 0;
        width: calculateRem(21px);
        height: calculateRem(21px);
        line-height: calculateRem(7px);
        text-align: center;
        padding: 0;
        margin: 0;
        cursor: pointer;
        outline: none;

        .ibexa-icon {
            transition: fill 0.3s $ibexa-admin-transition;
        }

        &:hover,
        &:focus {
            .ibexa-icon {
                fill: $ibexa-color-dark-300;
            }
        }
    }
}
