.ibexa-popup-menu {
    display: flex;
    flex-direction: column;
    gap: calculateRem(1px);
    padding: calculateRem(8px) 0;
    background: $ibexa-color-white;
    border: calculateRem(1px) solid $ibexa-color-light;
    border-radius: $ibexa-border-radius;
    box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(67px) 0 rgba($ibexa-color-info, 0.2);
    position: absolute;
    z-index: 1060;

    &__items-list {
        padding-left: 0;
    }

    &__subitems-arrow {
        display: none;
        position: absolute;
        right: calculateRem(8px);
        top: calc(50% - calculateRem(16px) / 2);
    }

    &__group:not(:last-child) {
        &::after {
            content: '';
            border-top: calculateRem(1px) solid $ibexa-color-light;
            display: flex;
            width: calc(100% - calculateRem(16px));
            margin: calculateRem(1px) calculateRem(8px) 0;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        min-width: calculateRem(150px);
        padding: 0 calculateRem(8px);
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &--hidden {
            display: none;
        }

        &--with-border {
            border-top: calculateRem(1px) solid $ibexa-color-light;
            margin-top: calculateRem(8px);
            padding-top: calculateRem(8px);
        }

        &--has-subitems {
            .ibexa-popup-menu {
                &__subitems-arrow {
                    display: block;
                }

                &__item-content {
                    padding-right: calculateRem(36px);
                }
            }
        }
    }

    &__separator {
        border-top: calculateRem(1px) solid $ibexa-color-light-500;
    }

    &__item-content {
        position: relative;
        display: flex;
        align-items: center;
        align-items: baseline;
        width: 100%;
        cursor: pointer;
        padding: calculateRem(9px);
        color: $ibexa-color-black;
        font-size: calculateRem(14px);
        text-align: left;
        text-decoration: none;
        border: none;
        border-radius: $ibexa-border-radius;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &:hover {
            background-color: $ibexa-color-light-300;
            color: $ibexa-color-black;
            text-decoration: none;
        }

        &[disabled],
        &:disabled,
        &--disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.2;

            &:hover {
                background-color: initial;
            }
        }
    }

    &__item-content-sublabel {
        color: $ibexa-color-dark-400;
        font-size: $ibexa-text-font-size-small;
        margin-left: calculateRem(6px);
    }

    &--info-neon {
        background-color: $ibexa-color-dark;
        border-color: $ibexa-color-info-800;

        .ibexa-popup-menu__item-content {
            color: $ibexa-color-white;

            &:hover {
                color: $ibexa-color-info;
                background-color: $ibexa-color-dark;
            }

            &--current {
                color: $ibexa-color-info;
                background-color: $ibexa-color-info-800;
            }
        }
    }

    &--hidden {
        display: none;
    }

    &--no-absolute {
        position: initial;
    }
}

a[disabled].ibexa-popup-menu {
    &__item-content {
        color: $ibexa-color-black;
    }
}
