@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ids-assets/scss/variables/colors' as *;
@use '@ids-assets/scss/variables/shadows' as *;

.ibexa-popup-menu {
    --ids-mode: light;

    display: flex;
    flex-direction: column;
    gap: calculateRem(4px);
    padding: calculateRem(4px) calculateRem(8px);
    background: $color-neutral-10;
    border: calculateRem(1px) solid $color-neutral-80;
    border-radius: calculateRem(8px);
    position: absolute;
    z-index: 1060;

    &__items-list {
        padding-left: 0;
    }

    &__subitems-arrow {
        display: none;
        flex-shrink: 0;
        margin-left: auto;
        fill: currentColor;
    }

    &__group:not(:last-child) {
        &::after {
            content: '';
            border-top: calculateRem(1px) solid $color-neutral-80;
            display: flex;
            width: 100%;
            margin-top: calculateRem(4px);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        min-width: calculateRem(150px);
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &--hidden {
            display: none;
        }

        &--with-border {
            border-top: calculateRem(1px) solid $color-neutral-80;
            margin-top: calculateRem(8px);
            padding-top: calculateRem(8px);
        }

        &--has-subitems {
            .ibexa-popup-menu {
                &__subitems-arrow {
                    display: block;
                }
            }
        }

        &--expanded {
            .ibexa-popup-menu {
                &__item-content {
                    color: $color-primary-50;
                }
            }
        }
    }

    &__separator {
        border-top: calculateRem(1px) solid $color-neutral-80;
    }

    &__item-content {
        display: flex;
        align-items: center;
        gap: calculateRem(8px);
        width: 100%;
        cursor: pointer;
        padding: calculateRem(4px) calculateRem(8px);
        color: $color-neutral-240;
        font-size: $ibexa-text-font-size-medium;
        line-height: calculateRem(21px);
        text-align: left;
        text-decoration: none;
        background-color: transparent;
        border: none;
        border-radius: calculateRem(4px);
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &:hover {
            color: $ibexa-color-primary;
            text-decoration: none;
        }

        &:active {
            color: $color-primary-90;
        }

        &:focus-visible {
            outline: none;
            box-shadow: $box-shadow-focus-primary;
        }

        &[disabled],
        &:disabled,
        &--disabled {
            color: $color-neutral-110;
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    &__item-content-sublabel {
        color: $color-neutral-160;
        font-size: $ibexa-text-font-size-small;
    }

    &--hidden {
        display: none;
    }

    &--initial-position {
        position: initial;
    }
}
