.ibexa-preview {
    width: 100%;

    &__iframe {
        iframe {
            width: 100%;
            height: calc(100vh - calculateRem(72px));
            display: block;
            margin: 0 auto;
            transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
            background: $ibexa-color-white;
            border-radius: $ibexa-border-radius;
        }

        &--desktop {
            padding-bottom: calculateRem(40px);
        }

        &--tablet {
            height: calculateRem(1250px);

            iframe {
                width: calculateRem(769px);
            }
        }

        &--mobile {
            height: calculateRem(920px);

            iframe {
                width: calculateRem(375px);
            }
        }
    }
}
