.ibexa-sidebar-filters {
    border: calculateRem(1px) solid $ibexa-color-light;
    border-radius: $ibexa-border-radius;
    overflow: hidden;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: calculateRem(15px) calculateRem(18px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    &__header-label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    &__footer {
        border-top: calculateRem(1px) solid $ibexa-color-light;
        min-height: calculateRem(32px);
        box-shadow: calculateRem(4px) calculateRem(-22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);
    }
}