@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-split-btn {
    display: flex;

    &__main-btn,
    &__toggle-btn {
        &:hover {
            z-index: 1;
        }
    }

    &__main-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__split {
        display: none;
        z-index: 2;
        width: calculateRem(0.5px);
    }

    &__toggle-btn {
        margin-left: calculateRem(-1px);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        .ibexa-icon {
            transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
        }

        &--subitems-opened {
            .ibexa-icon {
                transform: rotate(180deg);
            }
        }
    }

    &--primary {
        background-image: $ibexa-gradient-danger-primary;
        border-radius: $ibexa-border-radius;

        .ibexa-btn.ibexa-btn--primary {
            background-image: none;
        }

        .ibexa-split-btn {
            &__split {
                display: block;
                background: $ibexa-color-white;
            }
        }
    }

    &--filled-info {
        .ibexa-split-btn {
            &__split {
                display: block;
                background: $ibexa-color-white;
            }
        }
    }
}
