.ibexa-switcher {
    padding: calculateRem(4px);
    border-radius: $ibexa-border-radius;
    background-color: $ibexa-color-light-300;
    display: flex;

    &__item {
        height: calculateRem(40px);
        padding: calculateRem(10px);
        border-radius: $ibexa-border-radius;
        border: 0;
        flex-basis: 100%;
        text-align: center;
        overflow: hidden;

        &--active {
            background-color: $ibexa-color-white;
            font-weight: 600;
        }
    }

    &__item-label {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__item-error {
        margin-top: calculateRem(-3px);
        fill: $ibexa-color-danger;

        &--hidden {
            display: none;
        }
    }
}
