.ibexa-table {
    font-size: $ibexa-text-font-size;
    line-height: calculateRem(24px);
    border-spacing: 0;
    border-collapse: separate;
    background-color: $ibexa-color-white;
    margin-bottom: 0;

    &.table > :not(caption) > * > * {
        box-shadow: none;
    }

    &__row {
        &:nth-child(odd) {
            .ibexa-table__cell {
                background-color: $ibexa-color-light-300;
            }
        }

        :nth-child(even) {
            .ibexa-table__cell {
                background-color: $ibexa-color-white;
            }
        }

        &--selected {
            .ibexa-table__cell {
                font-weight: 600;
            }
        }

        &--selectable {
            cursor: pointer;

            &:hover {
                .ibexa-table__cell {
                    border-color: $ibexa-color-primary;
                }

                .ibexa-input--checkbox,
                .ibexa-input--radio {
                    border-color: $ibexa-color-primary;
                }
            }
        }
    }

    &__cell:first-child {
        border-top-left-radius: $ibexa-border-radius;
        border-bottom-left-radius: $ibexa-border-radius;
        border-left-width: calculateRem(1px);
    }

    &__cell:last-child {
        border-top-right-radius: $ibexa-border-radius;
        border-bottom-right-radius: $ibexa-border-radius;
        border-right-width: calculateRem(1px);
    }

    &__cell.ibexa-table__cell {
        vertical-align: middle;
        padding: calculateRem(12px) calculateRem(16px);
        height: calculateRem(68px);
        border-style: solid;
        border-color: transparent;
        border-top-width: calculateRem(1px);
        border-bottom-width: calculateRem(1px);
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        .form-check {
            margin-bottom: 0;
            min-height: calculateRem(16px);
            margin-top: 0;
        }

        .ibexa-dropdown {
            margin-left: 0;
        }
    }

    &__empty-table-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $ibexa-color-white;
    }

    &__empty-table-image {
        max-width: 50%;
    }

    &__empty-table-text {
        max-width: calculateRem(440px);
        margin-left: calculateRem(56px);
        color: $ibexa-color-dark-400;
    }

    &__empty-table-info-text {
        margin-bottom: calculateRem(16px);
        font-weight: $headings-font-weight;
        font-family: $headings-font-family;
        font-size: $ibexa-text-font-size-extra-large;
    }

    &__empty-table-action-text {
        margin-bottom: calculateRem(16px);
    }

    &__empty-table-extra-actions {
        .ibexa-icon {
            transform: rotate(180deg);
            margin-right: calculateRem(8px);
        }
    }

    &__header-cell {
        .table & {
            font-size: $ibexa-text-font-size-small;
            font-weight: normal;
            color: $ibexa-color-dark-400;
            line-height: calculateRem(18px);
            vertical-align: middle;
            border-bottom: 0;
            padding: calculateRem(18px) calculateRem(16px);
        }

        .table &--has-icon {
            max-width: calculateRem(52px);
        }

        &--field-definitions-head {
            width: calc(100% / 3);
        }

        &--content-center {
            text-align: center;
        }
    }

    &__header-cell-checkbox {
        &.ibexa-input--checkbox {
            margin-bottom: 0;
        }
    }

    &__sort-column {
        position: relative;
        cursor: pointer;
        display: inline-block;

        &:after {
            content: url('/bundles/ibexaadminui/img/down.svg');
            position: absolute;
            width: calculateRem(5px);
            height: calculateRem(13px);
            top: calc(50% - #{calculateRem(7px)});
            right: calculateRem(-10px);
            transform: rotate(180deg);
            display: none;
        }

        &--asc::after {
            display: block;
        }

        &--desc::after {
            display: block;
            transform: none;
        }
    }

    &__cell {
        vertical-align: middle;

        &--has-checkbox {
            width: calculateRem(48px);

            .ibexa-input--checkbox {
                float: left;
                margin-bottom: 0;
            }
        }

        .table &--has-icon {
            line-height: 0;
            width: calculateRem(32px);
        }

        &--no-content {
            margin-bottom: calculateRem(48px);
            padding: calculateRem(12px) calculateRem(16px);
            background-color: $ibexa-color-white;
            font-style: italic;
            color: $ibexa-color-black;
        }

        &--limitation {
            width: 70%;
        }

        &--content-center {
            text-align: center;

            .ibexa-input--checkbox {
                margin-bottom: 0;
            }
        }
    }

    .table &__cell--close-left,
    .table &__header-cell--close-left {
        padding-left: 0;
    }

    .table &__header-cell--checkbox {
        display: flex;
    }

    &__cell-btns-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__cell-link,
    &__cell-link:hover {
        color: $ibexa-color-dark;
        text-decoration: none;
    }

    &__thumbnail {
        min-width: calculateRem(90px);
        max-width: calculateRem(90px);
        min-height: calculateRem(64px);
        max-height: calculateRem(64px);
        border-radius: calculateRem(8px);
        overflow: hidden;
        object-fit: cover;
    }

    &--not-striped {
        .ibexa-table__row {
            .ibexa-table__cell {
                background-color: $ibexa-color-white;
            }
        }
    }

    &--last-column-sticky {
        .ibexa-table__row,
        .ibexa-table__head-row {
            .ibexa-table__cell:last-of-type,
            .ibexa-table__header-cell:last-of-type {
                position: sticky;
                right: calculateRem(-1px);
            }
        }
    }

    &--last-column-shadow {
        .ibexa-table__row,
        .ibexa-table__head-row {
            .ibexa-table__cell:last-of-type,
            .ibexa-table__header-cell:last-of-type {
                box-shadow: calculateRem(-13px) calculateRem(5px) calculateRem(20px) 0 rgba($ibexa-color-info, 0.1);
            }
        }
    }
}

.ibexa-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calculateRem(30px);
    padding-bottom: calculateRem(15px);
    border-bottom: calculateRem(1px) solid $ibexa-color-dark-200;

    &__headline {
        font-size: $ibexa-text-font-size-large;
        line-height: calculateRem(33px);
        color: $ibexa-color-black;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__notice {
        color: $ibexa-color-dark-400;
        font-weight: normal;
        font-family: $ibexa-font-family;
        font-size: $ibexa-text-font-size-small;

        &--hidden {
            display: none;
        }
    }

    &__notice-icon {
        fill: $ibexa-color-dark-400;
        margin-right: calculateRem(8px);
    }

    &__actions {
        display: flex;
        align-items: center;
        white-space: nowrap;

        .btn {
            margin: 0 calculateRem(5px);
        }
    }
}
