.ibexa-tag {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: calculateRem(24px);
    padding: calculateRem(4px) calculateRem(10px);
    border-radius: calculateRem(12px);
    background-color: $ibexa-color-light-500;
    max-width: 100%;

    &__content {
        font-size: $ibexa-text-font-size-small;
        font-weight: normal;
        max-width: 100%;
    }

    &__spinner {
        height: calculateRem(22px);
        line-height: 0;

        .ibexa-icon {
            fill: $ibexa-color-dark;
        }
    }

    &__remove-btn {
        display: none;
        position: absolute;
        right: calculateRem(8px);
        padding: calculateRem(4px);
        cursor: pointer;
        border: 0;
        outline: none;
        line-height: 0;

        &:disabled,
        &[disabled] {
            cursor: not-allowed;
        }

        &:hover {
            .ibexa-icon {
                fill: $ibexa-color-dark;
            }
        }

        & .ibexa-icon {
            fill: $ibexa-color-dark-400;
        }
    }

    &--deletable {
        padding-right: calculateRem(28px);

        .ibexa-tag__remove-btn {
            display: inline-block;
        }
    }

    $color-versions: 'primary' $ibexa-color-primary $ibexa-color-primary-200, 'secondary' $ibexa-color-dark $ibexa-color-light-500,
        'info' $ibexa-color-info $ibexa-color-info-200, 'danger' $ibexa-color-danger $ibexa-color-danger-200,
        'success' $ibexa-color-success $ibexa-color-success-200, 'complementary' $ibexa-color-complementary $ibexa-color-complementary-200;

    @each $name, $color-text, $color-background in $color-versions {
        &--#{$name} {
            color: $color-text;
            background-color: $color-background;

            .ibexa-tag {
                &__remove-btn,
                &__spinner,
                .ibexa-icon {
                    fill: $color-text;
                }
            }
        }
    }
}
