@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/mixins/edit-language-selector' as *;

.ibexa-translation-selector {
    .ibexa-instant-filter__group-item {
        .ibexa-btn {
            @include edit-language-item;

            display: block;
            width: 100%;
            text-align: left;
        }
    }
}
