.ibexa-user-mode-badge {
    display: flex;
    height: calculateRem(24px);
    padding: calculateRem(4px) calculateRem(8px);
    margin-left: calculateRem(24px);
    align-items: center;
    border-radius: calculateRem(16px);
    border: calculateRem(0.5px) solid $ibexa-color-light-600;
    background: $ibexa-color-dark;
    color: $ibexa-color-light-600;
    font-size: calculateRem(12px);
    line-height: calculateRem(18px);
}