@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-user-name {
    display: inline-flex;
    align-items: center;

    &__thumbnail {
        width: calculateRem(20px);
        height: calculateRem(20px);
        margin-right: calculateRem(8px);
    }

    &__text {
        white-space: nowrap;
    }

    .ibexa-user-thumbnail {
        vertical-align: initial;
    }
}
