@import 'functions/calculate.rem';
@import 'custom';

.ibexa-eg {
    &__container {
        display: flex;
        padding: 56px 80px;
        width: 100%;
        overflow-y: auto;
    }

    &__section {
        display: flex;
        flex-direction: column;
    }

    &__discover {
        flex: 1;
        min-width: 50%;
    }

    &__header {
        max-width: calculateRem(550px);
    }

    &__features-info {
        font-weight: 600;
        font-size: calculateRem(14px);
    }

    &__btn-wrapper {
        padding: calculateRem(32px) 0;
    }

    &__title-info {
        margin-bottom: calculateRem(32px);
    }

    &__welcome {
        margin-right: calculateRem(72px);
    }
    &__discover {
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }

    &__discover-description {
        font-size: calculateRem(14px);
    }

    &__discover-btns {
        .ibexa-btn {
            margin-right: calculateRem(8px);
        }
    }
}

.ibexa-eg-feature {
    &__tile {
        height: calculateRem(100px);
        display: flex;
        justify-content: space-between;
        padding: calculateRem(12px);
        border: none;
        background-color: $ibexa-color-white;
        border-radius: calculateRem(12px);
        cursor: pointer;
        text-decoration: none;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info-600, 0.1);
        margin-bottom: calculateRem(16px);

        &:hover {
            color: initial;
            box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(24px) 0 rgba($ibexa-color-info-600, 0.15);
            text-decoration: none;
        }

        &:active {
            box-shadow: none;
        }

        &:focus-visible {
            outline: none;
            border: calculateRem(1px) solid $ibexa-color-info;
            box-shadow: 0 0 0 calculateRem(4px) rgba($ibexa-color-info, 0.2);
        }
    }

    &__tile-icon {
        width: calculateRem(72px);
        height: calculateRem(72px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $ibexa-color-info-100;
        border-radius: 10px;

        .ibexa-icon {
            fill: $ibexa-color-info-600;
        }
    }

    &__text {
        font-size: calculateRem(14px);
    }

    &__content {
        padding: 0 calculateRem(16px);
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
