<section class="ibexa-chart-no-data container ibexa-container">
    <div class="ibexa-chart-no-data__wrapper">
        <img
            class="ibexa-chart-no-data__img"
            src="{{ asset('/bundles/ibexaadminui/img/ibexa-empty-graph.svg') }}"
            alt="{{ 'dashboard.charts.no_results'|trans|desc('No results found') }}"
        />
        <span class="ibexa-chart-no-data__label">{{ 'dashboard.charts.no_results'|trans|desc('No results found') }}</span>
    </div>
</section>
