{% trans_default_domain 'ibexa_notifications' %}

{% embed '@ibexadesign/ui/component/modal/modal.html.twig' with {
    title: 'ibexa_notifications'|trans|desc('Notifications'),
    class: 'ibexa-notifications-modal',
    no_header_border: true,
    id: 'view-notifications',
    attr_close_btn: {
        'data-notifications-total': '',
    },
} %}
    {% block body_content %}
        <div class="ibexa-notifications-modal__spinner">
            <svg class="ibexa-icon ibexa-spin">
                <use xlink:href="{{ ibexa_icon_path('spinner') }}"></use>
            </svg>
        </div>
        <div class="ibexa-notifications-modal__results">
            {{ render(controller('Ibexa\\Bundle\\AdminUi\\Controller\\NotificationController::renderNotificationsPageAction', {
                'page': 1,
            })) }}
        </div>
    {% endblock %}
{% endembed %}
