{%- import "@ibexadesign/ui/component/macros.html.twig" as html -%}

{%- set is_template = is_template|default(false) -%}

{%- set branch_attr = branch_attr|default({})|merge({
    class: ('ibexa-popup-menu ibexa-popup-menu--hidden ibexa-multilevel-popup-menu__branch '
        ~ branch_attr.class|default(''))|trim,
}) -%}

{%- block branch -%}
    <div {{ html.attributes(branch_attr, is_template) }}>
        {%- block branch_groups -%}
            {%- for group in groups -%}
                {%- set group_params = group|merge({
                    items: group.items|default([]),
                    group_attr: group.group_attr|default({}),
                }) -%}

                {%- include '@ibexadesign/ui/component/multilevel_popup_menu/multilevel_popup_menu_group.html.twig'
                    with group_params -%}
            {%- endfor -%}
        {%- endblock -%}
    </div>
{%- endblock -%}
