@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.c-tree {
    width: 100%;
    height: 100%;
    position: relative;

    &--single-select {
        .c-list-item--is-selected {
            & > .c-list-item__row {
                color: $ibexa-color-primary;

                .c-list-item__label {
                    color: $ibexa-color-primary;
                }

                .ibexa-icon {
                    fill: $ibexa-color-primary;
                }
            }
        }
    }

    .m-tree {
        border-radius: $ibexa-border-radius;
    }

    .c-list-item__prefix-actions-item {
        .c-udw-toggle-selection {
            margin-right: calculateRem(8px);
        }
    }
}
