.ibexa-field-preview--ezkeyword {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    .ibexa-keyword {
        &__item {
            @include tag();

            max-width: 100%;
            margin: 0 calculateRem(5px) 0 0;
            padding: calculateRem(6px) calculateRem(8px);
        }

        &__item-content {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
