@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-field-preview--ezmedia {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .ibexa-field-preview {
        &__media {
            flex: 1 1 calculateRem(300px);
            margin-right: calculateRem(32px);
        }

        &__media-meta {
            overflow: auto;
        }
    }
}
