@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-field-preview--ibexa_selection-multiple {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .ibexa-selection__item {
        margin-right: calculateRem(8px);
        padding: calculateRem(4px) calculateRem(10px);
    }
}

.ibexa-field-preview--ibexa_selection-single {
    padding: calculateRem(4px) calculateRem(10px);
}
