@mixin edit-language-item {
    display: block;
    margin: 0 0 calculateRem(12px) 0;
    padding: calculateRem(8px) calculateRem(16px);
    border-radius: calculateRem(8px);
    font-size: $ibexa-text-font-size-medium;
    color: $ibexa-color-dark;
    border: calculateRem(1px) solid $ibexa-color-light;

    &:focus,
    &:focus-visible,
    &:active {
        outline: none;
        border-color: $ibexa-color-primary;
        box-shadow: 0 0 0 calculateRem(4px) rgba($ibexa-color-primary, 0.25);
    }

    &:hover {
        border-color: $ibexa-color-primary;
        cursor: pointer;
    }

    &--active {
        background-color: $ibexa-color-light-400;
        border-color: $ibexa-color-light;
        font-weight: 600;
    }
}
