<div class="ibexa-user-name">
    <span class="ibexa-user-name__thumbnail">
        {% include '@ibexadesign/ui/component/user_thumbnail/user_thumbnail.html.twig' with {
            user_content: user.content,
            user: user,
            attr_svg: {
                width: 20,
                height: 20,
            }
        } only %}
    </span>

    {% if user_path is not defined and ibexa_is_user_profile_available(user) %}
        {% set user_path = path('ibexa.user.profile.view', { userId: user.id }) %}
    {% endif %}

    {% if user_path is defined %}
        <a href="{{ user_path }}" class="ibexa-user-name__text">{{ ibexa_content_name(user) }}</a>
    {% else %}
        <span class="ibexa-user-name__text">{{ ibexa_content_name(user) }}</span>
    {% endif %}
</div>
