{%- import '@ibexadesign/ui/component/macros.html.twig' as html -%}

{%- set branch_template_path = branch_template_path|default('@ibexadesign/ui/component/multilevel_popup_menu/multilevel_popup_menu_branch.html.twig') -%}
{%- set group_template_path = group_template_path|default('@ibexadesign/ui/component/multilevel_popup_menu/multilevel_popup_menu_group.html.twig') -%}
{%- set item_template_path = item_template_path|default('@ibexadesign/ui/component/multilevel_popup_menu/multilevel_popup_menu_item.html.twig') -%}

{%- set is_template = is_template|default(false) -%}

{%- set branch_template_params = branch_template_params|default({})|merge({
    groups: branch_template_params.groups|default([]),
    is_template: true,
}) -%}

{%- set group_template_params = group_template_params|default({})|merge({
    items: group_template_params.items|default([]),
    id: '{{ group_id }}',
    is_template: true,
}) -%}

{%- set item_template_params = item_template_params|default({})|merge({
    item_attr: item_template_params.item_attr|default({}),
    label: '{{ label }}',
    sublabel: '{{ sublabel }}',
    is_template: true,
}) -%}

{%- set attr = attr|default({})|merge({
    class: ('ibexa-multilevel-popup-menu '
        ~ (is_custom_init|default(false) ? 'ibexa-multilevel-popup-menu--custom-init ')
        ~ attr.class|default(''))|trim,
    'data-branch-template': items_container_attr['data-branch-template']|default(
        include(
            branch_template_path,
            branch_template_params,
            with_context = false
        )
    ),
    'data-group-template': items_container_attr['data-group-template']|default(
        include(
            group_template_path,
            group_template_params,
            with_context = false
        )
    ),
    'data-item-template-btn': items_container_attr['data-item-template-btn']|default(
        include(
            item_template_path,
            item_template_params,
            with_context = false
        )
    ),
    'data-item-template-link': items_container_attr['data-item-template-link']|default(
        include(
            item_template_path,
            item_template_params|merge({ is_button: false }),
            with_context = false
        )
    ),
}) -%}

{%- block component -%}
    <div {{ html.attributes(attr, is_template) }}>
        {%- block branch -%}
            {%- if groups is defined and groups is not null -%}
                {%- include branch_template_path with {
                    groups,
                } -%}
            {%- endif -%}
        {%- endblock -%}
    </div>
{%- endblock -%}
