{% import '@ibexadesign/ui/component/macros.html.twig' as html %}

{% trans_default_domain 'ibexa_admin_ui' %}

{% set config_panel_main_class = 'ibexa-side-panel ibexa-side-panel--hidden' %}
{% set attr_footer = attr_footer|default({})|merge({
    class: ('ibexa-side-panel__footer' 
    ~ (footer_class is defined ? footer_class ~ ''))|trim,
}) %}


{% set attr = attr|default({})|merge({
    class: attr.class|default('')|trim ~ ' ' ~ config_panel_main_class,
}) %}

{% if id is defined %}
    {% set attr = attr|merge({ id }) %}
{% endif %}

<div {{ html.attributes(attr) }}>
    {% block panel %}
        <div>
            {% block header %}
                <twig:ibexa:button
                    html_type="button"
                    type="tertiary-alt"
                    icon="caret-back"
                    icon_size="small"
                    class="ids-button--close-config-panel"
                />
                <h2 class="ibexa-side-panel__title">{{ title }}</h2>
            {% endblock %}
            {% block content %}{% endblock %}
            
            <div {{ html.attributes(attr_footer) }}>
                {% block footer %}
                    <twig:ibexa:button
                        html_type="button"
                        type="info"
                        class="ibexa-side-panel__cancel-btn ids-button--close-config-panel"
                    >
                        {{ 'side_panel.btn.cancel_label'|trans|desc('Cancel') }}
                    </twig:ibexa:button>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
