{% import "@ibexadesign/ui/component/macros.html.twig" as html %}

{% set attr = attr|default({})|merge({
    class: ('ibexa-summary-tile '
        ~ (color ? 'ibexa-summary-tile--' ~ color ~ ' ')
        ~ attr.class|default(''))|trim,
}) %}

<div {{ html.attributes(attr) }}>
    <div class="ibexa-summary-tile__header">
        <div class="ibexa-summary-tile__label">
            {{ label }}
        </div>
        <div class="ibexa-summary-tile__icon-wrapper">
            <svg class="ibexa-icon ibexa-icon--medium">
                <use xlink:href="{{ icon_path|default(ibexa_icon_path(icon)) }}"></use>
            </svg>
        </div>
    </div>
    <div class="ibexa-summary-tile__value">
        {{ value }}
    </div>
</div>
