{% extends '@ibexadesign/ui/layout.html.twig' %}

{% block content %}
    <div class="ibexa-error-page">
        <div class="ibexa-error-page__messages-container">
            <div class="ibexa-error-page__icon-wrapper">
                <img class="ibexa-error-page__icon" src="{{ asset('bundles/ibexaadminui/img/error_404.svg') }}" />
            </div>
            <h2 class="ibexa-error-page__title">
                {{ 'error.page.404.title'|trans|desc('Sorry, this page isn\'t available') }}
            </h2>
            <h3 class="ibexa-error-page__subtitle">
                {{ 'error.page.404.sub_title'|trans|desc('The link may be broken, or the page may have been removed.') }}
            </h3>
        </div>
        <p class="ibexa-error-page__message">
            {{ 'error.page.404.actions'|trans({ '%dashboard%': path('ibexa.dashboard'), '%search%': path('ibexa.search') })|raw|desc('Check the URL is spelled correctly and try again.<br/>Go back to the <a href="%dashboard%">dashboard</a> or <a href="%search%">search</a> for another item.') }}
        </p>
    </div>
{% endblock %}
