{% extends '@ibexadesign/ui/layout.html.twig' %}

{% block content %}
    <div class="ibexa-error-page">
        <div class="ibexa-error-page__messages-container">
            <div class="ibexa-error-page__icon-wrapper">
                <img class="ibexa-error-page__icon" src="{{ asset('bundles/ibexaadminui/img/error_unknown.svg') }}" />
            </div>
            <h2 class="ibexa-error-page__title">
                {{ 'error.page.default.title'|trans|desc('Something went wrong') }}
            </h2>
            <h3 class="ibexa-error-page__subtitle">
                {{ 'error.page.default.sub_title'|trans|desc('Sorry, we are having a problem with our system.') }}
            </h3>
        </div>
        <p class="ibexa-error-page__message">
            {{ 'error.page.default.actions'|trans({ '%dashboard%': path('ibexa.dashboard'), '%search%': path('ibexa.search') })|raw|desc('Contact you Administrator to report the problem.<br/>Go back to the <a href="%dashboard%">dashboard</a> or reload the application.') }}
        </p>
    </div>
{% endblock %}
