@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-translation {
    .modal-dialog {
        max-width: calculateRem(790px);
    }

    .modal-body {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: calculateRem(140px);

        .ibexa-label {
            margin-top: 0;
        }
    }

    .form-group {
        width: calculateRem(330px);
    }

    &__arrow {
        margin-top: calculateRem(32px);
        height: calculateRem(48px);
        transform: rotate(180deg);
        display: flex;
        align-items: center;
        padding: 0 calculateRem(16px);
    }
}
