@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-location-swap-form {
    max-width: calculateRem(700px);
    margin-top: calculateRem(24px);
    padding: calculateRem(34px) calculateRem(21px);
    border-radius: $ibexa-border-radius;
    border: calculateRem(1px) solid $ibexa-color-dark-200;

    &__label {
        font-size: $ibexa-text-font-size-medium;
        margin-bottom: calculateRem(42px);
    }
}
