@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-login {
    height: 100%;
    min-height: 100vh;
    overflow: auto;
    background-image: url('/bundles/ibexaadminui/img/login-background.jpg');
    background-size: cover;

    .ibexa-label {
        margin-top: calculateRem(40px);
    }

    &__logo {
        position: absolute;
        top: calculateRem(30px);
        left: calculateRem(30px);
        max-width: calculateRem(100px);
    }

    &__info-col {
        color: $ibexa-color-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: calculateRem(24px);
        max-height: 90vh;
    }

    &__info-headline {
        font-size: calculateRem(60px);
    }

    &__actions-col {
        position: relative;
        display: flex;
        flex-direction: column;
        color: $ibexa-color-dark;
        background: $ibexa-color-white;
        min-height: calculateRem(600px);
        border-radius: $ibexa-border-radius;
        padding: calculateRem(90px) calculateRem(120px);
        align-self: flex-start;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content-row {
        justify-content: center;
        padding: calculateRem(48px) 0;
    }

    &__support-wrapper {
        position: relative;
        padding-top: calculateRem(24px);
    }

    &__support-content {
        font-size: $ibexa-text-font-size-medium;

        &::before {
            content: '';
            width: calculateRem(100px);
            height: calculateRem(4px);
            background-image: $ibexa-gradient-danger-primary;
            position: absolute;
            top: 0;
        }
    }

    &__support-headline {
        margin-bottom: calculateRem(16px);
    }

    &__errors-container {
        margin-top: calculateRem(32px);

        & + .has-error {
            .ibexa-label {
                margin-top: 0;
            }
        }
    }

    &__btn {
        margin-top: calculateRem(16px);

        &--register,
        &--sign-in {
            width: 100%;
            justify-content: center;
            margin-top: calculateRem(40px);
        }

        &--back {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
        }

        &--reset-password,
        &--change-password {
            margin-top: calculateRem(32px);
        }
    }

    &__link-wrapper {
        display: flex;
        justify-content: center;
        margin-top: calculateRem(14px);
        font-size: $ibexa-text-font-size-medium;
    }

    &__forgot-password-form {
        margin-top: calculateRem(16px);
    }
}
