@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-search-links-form {
    display: flex;
    align-items: flex-end;
    border: calculateRem(1px) solid $ibexa-color-light;
    border-radius: $ibexa-border-radius;
    padding: calculateRem(8px) calculateRem(24px) calculateRem(14px);
    margin-top: calculateRem(12px);

    &__input-wrapper {
        padding-right: calculateRem(24px);

        .ibexa-input-text-wrapper {
            min-width: calculateRem(410px);
        }
    }

    &__status-wrapper {
        padding-left: calculateRem(24px);
        border-left: calculateRem(1px) solid $ibexa-color-light;

        .ibexa-label {
            margin-top: 0;
        }

        .ibexa-dropdown {
            min-width: calculateRem(216px);
        }
    }
}
