@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-tab-switcher {
    &__list {
        padding: calculateRem(4px);
        border-radius: $ibexa-border-radius;
        background-color: $ibexa-color-light-300;
        display: flex;
    }

    &__tab {
        height: calculateRem(40px);
        padding: calculateRem(10px);
        border-radius: $ibexa-border-radius;
        border: 0;
        text-align: center;
        overflow: hidden;

        &--active {
            background-color: $ibexa-color-white;
            font-weight: 600;
        }
    }

    &__link {
        text-overflow: ellipsis;
        overflow: hidden;

        &.nav-link,
        &.nav-link.active {
            margin: 0;
            padding: 0;
            border: 0;
        }
    }

    &__item-error {
        margin-top: calculateRem(-3px);
        fill: $ibexa-color-danger;

        &--hidden {
            display: none;
        }
    }
}
