{% extends '@ibexadesign/ui/edit_base.html.twig' %}

{% trans_default_domain 'language' %}

{% block main_container_class %}ibexa-main-container--edit-container ibexa-main-container--without-anchor-menu-items{% endblock %}

{% set anchor_params = {
    close_href: path('ibexa.language.list'),
} %}

{% block header %}
    {% block header_admin %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="ibexa-edit-content__container">
        {% block form %}{% endblock %}
    </div>
{% endblock %}
