.c-collapsible {
    $self: &;

    & + .c-filters-row,
    & + .c-filters__row {
        border-top: calculateRem(1px) solid $ibexa-color-light;
    }

    &--hidden {
        #{$self} {
            &__title {
                box-shadow: none;
                border-bottom-color: transparent;

                &:before {
                    transform: rotate(135deg);
                }

                &:after {
                    transform: rotate(-135deg);
                }
            }

            &__content {
                transform: scaleY(0);
                opacity: 0;
                height: 0;
            }
        }
    }

    &__title {
        position: relative;
        cursor: pointer;
        padding: 0 calculateRem(24px);
        font-size: $ibexa-text-font-size-medium;
        font-weight: 600;
        min-height: calculateRem(40px);
        display: flex;
        align-items: center;
        border-style: solid;
        border-color: $ibexa-color-light;
        border-width: calculateRem(1px) 0;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 50%;
            width: calculateRem(6px);
            height: calculateRem(1px);
            background: $ibexa-color-dark;
        }

        &::before {
            transform: rotate(225deg);
            right: calculateRem(12px);
        }

        &::after {
            transform: rotate(-225deg);
            right: calculateRem(16px);
        }
    }

    &__content {
        transform: scaleY(1);
        transform-origin: top center;
    }

    &__content-wrapper {
        padding: calculateRem(16px) calculateRem(24px);
    }

    &__list {
        padding: 0;
        margin-bottom: 0;
        list-style-type: none;
    }

    &__list-item {
        padding: calculateRem(6px) 0;

        .form-check {
            width: 100%;
        }

        .form-check-label {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .ibexa-input--checkbox {
            margin-right: calculateRem(8px);
        }
    }
}
