@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.c-content-table-item {
    cursor: pointer;

    .ibexa-table__cell.ibexa-table__cell {
        border: calculateRem(1px) solid transparent;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &:not(:first-child) {
            border-left-width: 0;
        }

        &:not(:last-child) {
            border-right-width: 0;
        }
    }

    &--marked {
        transform: scale(1); // it is a hack to have box-shadow on table row ref. https://stackoverflow.com/a/47992341
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);

        .ibexa-table__cell.ibexa-table__cell {
            border-color: $ibexa-color-primary;
            background-color: $ibexa-color-white;
        }
    }

    &--not-selectable {
        background-color: $ibexa-color-light-200;
        cursor: not-allowed;
    }

    .table &__icon-wrapper {
        width: calculateRem(20px);
        padding-right: 0;
    }
}
