.c-content-table-item {
    cursor: pointer;

    .ibexa-table__cell.ibexa-table__cell {
        border: 2px solid transparent;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

        &:not(:first-child) {
            border-left-width: 0;
        }

        &:not(:last-child) {
            border-right-width: 0;
        }
    }

    &--marked {
        transform: scale(1); // it is a hack to have box-shadow on table row ref. https://stackoverflow.com/a/47992341
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
        box-shadow: 4px 22px 47px 0 rgba(0,63,255,0.05);

        .ibexa-table__cell.ibexa-table__cell {
            border-color: #E0E0E8;
            background-color: $ibexa-color-white;
        }
    }

    &--not-selectable {
        background-color: $ibexa-color-light-200;
        cursor: not-allowed;
    }

    .table &__icon-wrapper {
        width: calculateRem(20px);
        padding-right: 0;
    }
}
