@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.c-content-type-selector-list {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;

    &__item {
        padding: calculateRem(6px) 0;

        .c-content-type-selector-list__label {
            min-width: 0;
            margin-bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: $ibexa-text-font-size-medium;
        }
    }

    &__checkbox {
        flex-shrink: 0;
    }
}
