.m-ud-global-loader {
    position: fixed;
    z-index: 99999;
    background: $ibexa-color-dark;
    width: 100%;
    height: 100%;
    padding: calculateRem(16px);

    &__spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: $ibexa-border-radius;
        background: $ibexa-color-white;
    }

    &__spinner {
        @include spinner(calculateRem(48px), calculateRem(6px), $ibexa-color-dark-300);
    }
}
