.c-grid {
    height: 100%;

    &__items-wrapper {
        padding: 0 calculateRem(16px) calculateRem(16px);
        overflow: auto;
        max-height: calc(100% - #{calculateRem(30px)});
    }

    .ibexa-grid-view-item {
        &--marked {
            border: calculateRem(1px) solid $ibexa-color-dark;

            .c-thumbnail {
                .ibexa-icon {
                    fill: $ibexa-color-dark;
                }
            }
        }

        &--not-selectable {
            background-color: $ibexa-color-light-200;
            cursor: not-allowed;
        }

        &--selected {
            border: calculateRem(1px) solid $ibexa-color-primary;

            .ibexa-grid-view-item {
                &__title {
                    color: $ibexa-color-primary;
                }
            }

            .c-thumbnail {
                .ibexa-icon {
                    fill: $ibexa-color-primary;
                }
            }
        }
    }
}
