.c-search {
    height: 100%;

    &__top-bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: calculateRem(25px);
        margin-bottom: calculateRem(32px);
        border: calculateRem(1px) solid $ibexa-color-light;
        border-radius: $ibexa-border-radius;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);
    }

    &__main {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__sidebar {
        display: flex;
        height: 100%;
        min-width: calculateRem(270px);
        margin-right: calculateRem(24px);
        border-right: calculateRem(1px) solid $ibexa-color-light;
        background-color: $ibexa-color-white;
    }

    &__spinner-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        &--show {
            display: block;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        flex-shrink: 1;
        padding: 0 calculateRem(8px);
        background-color: $ibexa-color-white;
        position: relative;
    }

    &__input-wrapper,
    &__selector-wrapper {
        margin-right: calculateRem(29px);
    }

    &__select-language {
        width: calculateRem(335px);
        height: calculateRem(48px);
        border-color: $ibexa-color-dark-200;
    }

    &__search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calculateRem(48px);
    }

    &__table-header {
        display: grid;
        grid-template: 'title clear-search-btn' 'subtitle subtitle';
        justify-content: start;
        margin-top: calculateRem(16px);
    }

    &__table-tile {
        grid-area: title;
        font-size: $ibexa-text-font-size-extra-large;
    }

    &__clear-results-btn {
        grid-area: clear-search-btn;
        margin-left: calculateRem(16px);
    }

    &__table-subtitle {
        grid-area: subtitle;
        display: inline-block;
        margin-bottom: calculateRem(8px);
        font-size: $ibexa-text-font-size-medium;
    }

    .c-content-table {
        width: 100%;
    }

    @import '../../../mixins/search-form-no-results';
}
