.c-selected-locations {
    background-color: $ibexa-color-white;
    position: fixed;
    top: calculateRem(95px);
    right: calculateRem(16px);
    min-height: calculateRem(60px);
    min-width: calculateRem(390px);
    border: calculateRem(1px) solid $ibexa-color-light;
    border-top-left-radius: $ibexa-border-radius;
    border-bottom-left-radius: $ibexa-border-radius;
    box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.15);
    z-index: 1;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calculateRem(7px) calculateRem(12px) calculateRem(7px) calculateRem(22px);
    }

    &__selection-counter {
        color: $ibexa-color-dark;
        font-size: calculateRem(22px);
        font-weight: 600;
        padding-right: calculateRem(16px);
    }

    &__toggle-button {
        .ibexa-icon:first-child {
            margin-right: calculateRem(-6px);
        }
    }

    &--expanded {
        bottom: calculateRem(100px);
        min-width: calculateRem(491px);
        overflow: hidden;

        .c-selected-locations {
            &__items-wrapper {
                display: block;
            }
        }
    }

    &__items-wrapper {
        display: none;
        overflow: auto;
        padding: 0 calculateRem(38px) calculateRem(16px) calculateRem(22px);
        border-top: calculateRem(1px) solid $ibexa-color-light;
        height: calc(100% - calculateRem(70px));
    }

    &__actions {
        padding: calculateRem(16px) 0;
        display: flex;
        justify-content: flex-end;
    }
}
