@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use 'mixins/selected-items-panel-item' as *;

.c-selected-items-panel-item {
    @include c-selected-items-panel-item;

    & {
        flex-direction: column;
        padding: 0;
        overflow: hidden;
    }

    &__main-content,
    &__extra-content {
        width: 100%;
    }

    &__main-content {
        display: flex;
        align-items: center;
        padding: calculateRem(8px);
        margin-bottom: calculateRem(8px);
    }
}
