.c-translation-selector {
    @include container-box-shadow-right;

    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: calculateRem(700px);
    background-color: $ibexa-color-white;
    transform: scaleX(1);
    transform-origin: right center;
    opacity: 1;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    padding: calculateRem(16px);
    z-index: 5;

    &--hidden {
        transform: scaleX(0);
        opacity: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calculateRem(4px) calculateRem(8px) calculateRem(24px) calculateRem(16px);
        margin-bottom: calculateRem(24px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    &__title {
        margin-bottom: 0;
    }

    &__close-button {
        padding: calculateRem(8px);
    }

    &__languages-wrapper {
        max-height: calc(100% - #{calculateRem(50px)});
        overflow: auto;
        width: 75%;
        padding: calculateRem(16px);
    }

    &__language {
        background: $ibexa-color-white;
        display: flex;
        width: 100%;
        padding: calculateRem(13px) calculateRem(10px);
        border: calculateRem(1px) solid $ibexa-color-light;
        border-radius: $ibexa-border-radius;
        box-shadow: calculateRem(4px) calculateRem(2px) calculateRem(17px) 0 rgba($ibexa-color-info, 0.05);
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
        cursor: pointer;
        margin-bottom: calculateRem(8px);

        &:hover {
            border-color: $ibexa-color-dark;
            transform: scale(1.02) translateX(-10px);
            box-shadow: calculateRem(4px) calculateRem(10px) calculateRem(17px) 0 rgba($ibexa-color-info, 0.2);
        }
    }
}
