.c-translation-selector {
    @include container-box-shadow-right;

    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: calculateRem(700px);
    background-color: $ibexa-color-white;
    transform: scaleX(1);
    transform-origin: right center;
    opacity: 1;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    padding: calculateRem(16px);
    z-index: 5;

    &--hidden {
        transform: scaleX(0);
        opacity: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calculateRem(4px) calculateRem(8px) calculateRem(24px) calculateRem(8px);
        margin-bottom: calculateRem(24px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    &__title {
        margin-bottom: 0;
    }

    &__close-button {
        padding: calculateRem(8px);
    }

    &__languages-wrapper {
        max-height: calc(100% - #{calculateRem(50px)});
        overflow: auto;
    }

    &__language {
        @include sidebar-drag-item;

        cursor: pointer;
        width: 60%;

        &:hover,
        &:focus {
            border-color: $ibexa-color-dark;
        }
    }
}
