<div class="ibexa-details">
    {% block details_header %}
        {% if headline is defined %}
            <div class="ibexa-details__header">
                {% include '@ibexadesign/ui/component/table/table_header.html.twig' with {
                    headline,
                    actions: headline_items|default([])
                } %}
            </div>
        {% endif %}
    {% endblock %}
    {% block details_items %}
        <div class="ibexa-details__items {{ view_mode|default('') == 'vertical' ? 'ibexa-details__items--vertical' }}">
            {% for item in items %}
                <div class="ibexa-details__item">
                    <div class="ibexa-details__item-label ibexa-label">{{ item.label }}</div>
                    <div class="ibexa-details__item-content">
                        {{ item.content_raw is defined ? item.content_raw|raw : item.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</div>
