{% trans_default_domain 'ibexa_dashboard' %}

<div class="card border-light ibexa-card ibexa-card--no-padding mb-4">
    <div class="ibexa-card__title">{{ 'everyone'|trans|desc('Common content') }}</div>
    <div class="ibexa-card__body">
        {{ ibexa_render_component_group('dashboard-all-tab-groups', { hide_toggler: true }) }}
    </div>
</div>
