{% trans_default_domain 'ibexa_dashboard' %}

{% set parameters = parameters|default({})|merge({ hide_toggler: true }) %}

<div class="card border-light ibexa-card ibexa-card--no-padding my-4">
    <div class="ibexa-card__title">{{ 'me'|trans|desc('My content') }}</div>
    <div class="ibexa-card__body">
        {{ ibexa_render_component_group('dashboard-my-tab-groups', parameters) }}
    </div>
</div>
