{% trans_default_domain 'ibexa_dashboard' %}

{% set parameters = parameters|default({})|merge({ hide_toggler: true }) %}
{% set default_block_name = 'me'|trans|desc('My content') %}

<div class="card border-light ibexa-card ibexa-card--no-padding">
    <div class="ibexa-card__title">{{ block_name|default(default_block_name) }}</div>
    <div class="ibexa-card__body">
        {{ ibexa_render_component_group('dashboard-my-tab-groups', parameters) }}
    </div>
</div>
