<div class="ibexa-taggify__list-tag">
    <span class="ibexa-taggify__list-tag-name">{{ name }}</span>
    <twig:ibexa:button
        type="tertiary-alt"
        size="small"
        icon="discard"
        icon_size="tiny"
        class="ibexa-taggify__btn--remove"
    />
</div>
