 <div
     data-id="{{ anchor_section_key|slug }}"
     class="ibexa-edit-content__secondary-section {{ anchor_section_class|default('') }}"
>
    {% block anchor_section_content %}
        {% block anchor_section_header %}{% endblock %}
        {% block anchor_section_body %}{% endblock %}
        {% block anchor_section_footer %}{% endblock %}
    {% endblock %}
</div>
