<div class="ibexa-drop-zone-empty-placeholder {% if items|length %}ibexa-drop-zone-empty-placeholder--hidden{% endif %}">
    <img
        class="ibexa-drop-zone-empty-placeholder__image"
        src="{{ asset('bundles/ibexaadminui/img/empty-drop-zone.svg') }}"
        alt="{{ img_alt }}"
    >
    <label class="ibexa-drop-zone-empty-placeholder__label">{{ label }}</label>
    <h3 class="ibexa-drop-zone-empty-placeholder__title">{{ title }}</h2>
</div>
