<div class="ibexa-drop-zone-item-placeholder {{ placeholder_class|default('') }}">
    <div class="ibexa-drop-zone-item-placeholder__item"></div>
    <div class="ibexa-drop-zone-item-placeholder__item"></div>
    <div class="ibexa-drop-zone-item-placeholder__item"></div>
</div>