<div class="ibexa-footer">
    <div class="ibexa-footer__links-container">
        {{ knp_menu_render('ibexa.admin_ui.menu.footer', {
            template: '@ibexadesign/ui/menu/footer.html.twig'
        }) }}
    </div>
</div>
