{% embed '@ezdesign/ui/component/alert/alert.html.twig' with {
    type: label,
    title: message,
    icon_path: '{{ icon_path }}',
    show_close_btn: true,
    is_toast: true,
} only %}
    {% block icon %}
        <div class="ibexa-alert__icon-wrapper">
            <svg class="ibexa-icon ibexa-icon--tiny-small ibexa-alert__icon">
                <use xlink:href="{{ icon_path }}"></use>
            </svg>
        </div>
    {% endblock %}
{% endembed %}
