{% extends '@ibexadesign/ui/edit_base.html.twig' %}

{% trans_default_domain 'object_state' %}

{% set anchor_params = {
    close_href: path('ibexa.object_state.groups.list'),
} %}

{% block header %}
    {% block header_admin %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-10 offset-1">
            {% block form %}{% endblock %}
        </div>
    </div>
{% endblock %}
