{% import "@ibexadesign/ui/component/macros.html.twig" as html %}

{% set attr = attr|default({})|merge({
    class: ('ibexa-extra-actions '
        ~ (id is defined ? 'ibexa-extra-actions--' ~ id ~ ' ')
        ~ (not is_visible|default(false) ? 'ibexa-extra-actions--hidden ')
        ~ attr.class|default(''))|trim,
    'data-actions': id,
}) %}

<div {{ html.attributes(attr) }}>
    <div class="ibexa-extra-actions__header">
        <h2>{{ title|default('') }}</h2>
        <twig:ibexa:button
            html_type="button"
            type="tertiary-alt"
            icon="discard"
            icon_size="small-medium"
            class="ibexa-btn--close"
        />
    </div>
    <div class="ibexa-extra-actions__content">
        {% block content %}{% endblock %}
    </div>
</div>
