name: Frontend build

on:
    push:
        branches:
            - main
            - '[0-9]+.[0-9]+'
    pull_request: ~

jobs:
    frontend-test:
        name: Frontend build test
        runs-on: 'ubuntu-24.04'
        timeout-minutes: 5

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '18'
            - run: yarn install
            - run: yarn test
