parameters:
    ibexa.content_forms.limitation.form_mapper.parent_depth.max_depth: 20

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Ibexa\AdminUi\Limitation\LimitationFormMapperRegistry: ~

    Ibexa\AdminUi\Limitation\LimitationValueMapperRegistry: ~

    Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper:
        class: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        abstract: true
        calls:
            - [setFormTemplate, ['%ibexa.content_forms.limitation.multiple_selection.template%']]

    Ibexa\Bundle\SiteFactory\Form\DataMapper\SiteFactorySiteAccessLimitationMapper:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\SiteAccessLimitationMapper
        arguments:
            - '@Ibexa\Core\MVC\Symfony\SiteAccess\SiteAccessService'
            - '@Ibexa\AdminUi\Siteaccess\SiteAccessKeyGenerator'
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: SiteAccess }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: SiteAccess }

    Ibexa\AdminUi\Limitation\Mapper\NullLimitationMapper:
        arguments: ['%ibexa.content_forms.limitation.null.template%']
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: "Null" }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: "Null" }

    ibexa.content_forms.limitation.form_mapper.content_type:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\ContentTypeLimitationMapper
        arguments: ['@ibexa.api.service.content_type']
        calls:
            - [setLogger, ['@?logger']]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: Class }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: Class }

    ibexa.content_forms.limitation.form_mapper.parent_content_type:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\ContentTypeLimitationMapper
        arguments: ['@ibexa.api.service.content_type']
        calls:
            - [setLogger, ['@?logger']]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: ParentClass }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: ParentClass }

    ibexa.content_forms.limitation.form_mapper.section:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\SectionLimitationMapper
        arguments: ['@ibexa.api.service.section']
        calls:
            - [setLogger, ['@?logger']]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: Section }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: Section }

    ibexa.content_forms.limitation.form_mapper.new_section:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\SectionLimitationMapper
        arguments: ['@ibexa.api.service.section']
        calls:
            - [setLogger, ['@?logger']]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: NewSection }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: NewSection }

    ibexa.content_forms.limitation.form_mapper.object_state:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\ObjectStateLimitationMapper
        arguments: ['@ibexa.api.service.object_state']
        calls:
            - [setLogger, ['@?logger']]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: State }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: State }

    ibexa.content_forms.limitation.form_mapper.new_object_state:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\ObjectStateLimitationMapper
        arguments: ['@ibexa.api.service.object_state']
        calls:
            - [setLogger, ['@?logger']]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: NewState }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: NewState }

    Ibexa\AdminUi\Limitation\Mapper\LanguageLimitationMapper:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\LanguageLimitationMapper
        arguments: ['@ibexa.api.service.language']
        calls:
            - [setLogger, ['@?logger']]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: Language }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: Language }

    ibexa.content_forms.limitation.form_mapper.owner:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\OwnerLimitationMapper
        arguments: ["@translator"]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: Owner }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: Owner }

    ibexa.content_forms.limitation.form_mapper.parent_owner:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\OwnerLimitationMapper
        arguments: ["@translator"]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: ParentOwner }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: ParentOwner }

    ibexa.content_forms.limitation.form_mapper.group:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\GroupLimitationMapper
        arguments: ["@translator"]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: Group }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: Group }

    ibexa.content_forms.limitation.form_mapper.parent_group:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\GroupLimitationMapper
        arguments: ["@translator"]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: ParentGroup }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: ParentGroup }

    Ibexa\AdminUi\Limitation\Mapper\ParentDepthLimitationMapper:
        parent: Ibexa\AdminUi\Limitation\Mapper\MultipleSelectionBasedMapper
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\ParentDepthLimitationMapper
        arguments: ['%ibexa.content_forms.limitation.form_mapper.parent_depth.max_depth%']
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: ParentDepth }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: ParentDepth }

    ibexa.content_forms.limitation.form_mapper.udw_based:
        class: Ibexa\AdminUi\Limitation\Mapper\UDWBasedMapper
        arguments:
            - '@ibexa.api.service.location'
            - '@ibexa.api.service.search'
        calls:
            - [setFormTemplate, ['%ibexa.content_forms.limitation.udw.template%']]

    ibexa.content_forms.limitation.form_mapper.location:
        parent: ibexa.content_forms.limitation.form_mapper.udw_based
        autowire: true
        autoconfigure: false
        public: false
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: Node }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: Node }

    Ibexa\AdminUi\Limitation\Mapper\SubtreeLimitationMapper:
        parent: ibexa.content_forms.limitation.form_mapper.udw_based
        autowire: true
        autoconfigure: false
        public: false
        class: Ibexa\AdminUi\Limitation\Mapper\SubtreeLimitationMapper
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: Subtree }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: Subtree }

    Ibexa\AdminUi\Limitation\Mapper\ChangeOwnerLimitationMapper:
        arguments:
            $translator: '@translator'
            $permissionResolver: '@Ibexa\Contracts\Core\Repository\PermissionResolver'
        calls:
            - [setFormTemplate, ['%ibexa.content_forms.limitation.multiple_selection.template%']]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: ChangeOwner }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: ChangeOwner }

    Ibexa\AdminUi\Limitation\Mapper\UserPermissionsLimitationMapper:
        autowire: true
        autoconfigure: false
        public: false
        arguments:
            $repository: '@ibexa.api.repository'
            $searchService: '@ibexa.api.service.search'
            $roleService: '@ibexa.api.service.role'
            $userService: '@ibexa.api.service.user'
        calls:
            - [setLogger, ['@?logger']]
            - [ setFormTemplate, [ '%ibexa.content_forms.limitation.multiple_selection.template%' ] ]
        tags:
            - { name: ibexa.admin_ui.limitation.mapper.form, limitationType: UserPermissions }
            - { name: ibexa.admin_ui.limitation.mapper.value, limitationType: UserPermissions }
