@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-field-edit--eznoneditable {
    padding: calculateRem(24px) 0;
    border-bottom: calculateRem(1px) solid $ibexa-color-light;

    .col-form-label {
        font-weight: normal;
    }

    .non-editable {
        margin-bottom: 0;
        color: $ibexa-color-dark-400;
    }
}
