.ibexa-field-edit--ezobjectrelation,
.ibexa-field-edit--ezobjectrelationlist {
    &.is-invalid {
        .ibexa-data-source {
            @include area-invalid();

            .ibexa-table-header__headline {
                color: $ibexa-color-danger;
            }
        }
    }

    .ibexa-data-source {
        border: calculateRem(1px) solid $ibexa-color-dark-200;
        border-radius: $ibexa-border-radius;
        padding: calculateRem(24px);
    }

    .ibexa-table-header {
        margin-top: 0;
    }

    .ibexa-relations {
        &__cta {
            width: 100%;
        }

        &__info-text {
            margin-bottom: 0;
            font-weight: normal;
            font-size: $ibexa-text-font-size-medium;
        }

        &__info-sub-text {
            margin-bottom: 0;
            font-weight: normal;
            font-size: $ibexa-text-font-size-small;
            color: $ibexa-color-dark-400;
        }

        &__helper-text {
            margin: 0;
            width: 100%;
            font-size: calculateRem(14px);
        }

        &__cta-btn {
            margin-bottom: calculateRem(16px);
        }

        &__order-wrapper {
            display: flex;
            align-items: center;
        }

        &__order-input {
            width: 7ch;
            margin-bottom: 0;
        }

        &__table-action--remove-item {
            padding: calculateRem(4px);
        }

        &__actions-cell {
            display: flex;
            gap: calculateRem(4px);
            justify-content: center;
            align-items: center;
        }
    }

    .btn {
        .ibexa-icon {
            margin-right: calculateRem(4px);
        }
    }

    &.ibexa-field-edit--nontranslatable {
        .ibexa-relations__helper-text,
        .ibexa-relations__info-text,
        .ibexa-relations__info-sub-text,
        .ibexa-table__cell {
            color: $ibexa-color-dark-300;
        }
    }
}
