.ibexa-field-edit--ezuser {
    .ibexa-field-edit__data {
        background: $ibexa-color-white;

        .ibexa-data-source {
            max-width: 80%;

            .ibexa-data-source__field:first-of-type {
                .ibexa-label {
                    margin-top: 0;
                }
            }
        }
    }
}
