@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;

.ibexa-field-edit--ezurl {
    .ibexa-field-edit__data {
        background-color: $ibexa-color-white;
    }

    .ibexa-data-source {
        display: flex;

        &__field {
            &--link {
                margin-right: calculateRem(52px);
            }
        }
    }
}
