@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/mixins/inputs' as *;

.ibexa-field-edit--ibexa_media {
    .ibexa-field-edit-preview {
        &__details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: calculateRem(16px);
            grid-row-gap: calculateRem(12px);
            width: 100%;
        }

        &__file-name {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            line-height: 1.3;
        }

        &__file-name-wrapper,
        &__file-size-wrapper,
        &__control,
        &__settings {
            min-width: 0;
            padding: calculateRem(8px);

            .ibexa-label {
                margin-top: 0;
                margin-bottom: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__input-wrapper {
            &--checkbox-input {
                display: grid;
                grid-template-columns: auto 1fr;
                row-gap: calculateRem(12px);
                column-gap: calculateRem(8px);

                .ibexa-input--checkbox {
                    margin-top: calculateRem(4px);
                }
            }
        }

        &__spinner {
            display: none;
        }

        &__media-wrapper--loading {
            .ibexa-field-edit-preview__spinner {
                display: inline-block;
                width: calculateRem(32px);
                height: calculateRem(32px);
            }

            .ibexa-field-edit-preview__media {
                display: none;
            }
        }

        &__info {
            & + .ibexa-field-edit-preview__info {
                margin-top: calculateRem(12px);
            }
        }

        &__dimensions {
            input[type='number'] {
                &.is-invalid {
                    @include input-invalid;

                    & {
                        padding-right: calculateRem(12px);
                    }
                }
            }
        }
    }

    &.is-invalid {
        .ibexa-data-source {
            @include area-invalid();
        }
    }
}
