@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/custom.scss' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem' as *;
@use '@ibexa-admin-ui/src/bundle/Resources/public/scss/mixins/inputs' as *;

.ibexa-field-edit--ibexa_image_asset {
    &.is-invalid {
        .ibexa-data-source {
            @include area-invalid();
        }
    }

    .ibexa-data-source {
        &__btn-add {
            border: none;
            font-weight: bold;
            text-decoration: underline;
        }

        &__actions {
            .ibexa-btn:not(:first-child) {
                margin-left: calculateRem(16px);
            }
        }
    }

    .ibexa-field-edit-preview {
        &__file-name-wrapper {
            .ibexa-label {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .ibexa-field-edit-spinner {
        width: calculateRem(32px);
        height: calculateRem(32px);
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        .ibexa-icon {
            width: calculateRem(32px);
            height: calculateRem(32px);
            fill: $ibexa-color-black;
        }
    }

    &.ibexa-field-edit--nontranslatable {
        .ibexa-data-source__message--main,
        .ibexa-data-source__btn-add {
            color: $ibexa-color-dark-300;
        }
    }
}

.ibexa-field-edit--is-preview-loading {
    position: relative;

    .ibexa-field-edit-spinner {
        display: block;
    }

    .ibexa-field-edit__preview {
        visibility: hidden;
    }

    .ibexa-field-edit__data {
        visibility: hidden;
    }
}
